<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto+Condensed:300,400,700" rel="stylesheet" />
<link href="min.css" rel="stylesheet" />
<link href="Styles.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Cairo|Saira+Semi+Condensed:400,700|Ubuntu" rel="stylesheet" />
<div class="container">
   <div class="row">
      <div class="col-md-12" style="padding: 0px; margin: 0px;">
         <img src="https://meotech.org/ebay/abeer_l2010/image/banner.png" width="100%">
      </div>
   </div>
</div>
<div class="wholeWidth">
   <div class="containerWidth">
      <nav class="navbar navbar-default">
         <div class="container text-center">
            <div class="navbar-collapse" id="navbar">
               <ul class="nav navbar-nav">
                  <li><a href="#" target="_blank">Store</a></li>
                  <li><a href="#" target="_blank">New Arrivals</a></li>
                  <li><a href="#" target="_blank">Add to Favorite</a></li>
                  <li><a href="#" target="_blank">View Feedback</a></li>
                  <li><a href="#" target="_blank">Contact</a></li>
               </ul>
            </div>
         </div>
      </nav>
   </div>
   <div class="containerWidth hidden-sm hidden-xs"><img alt="30days" class="img-responsive" src="https://images.autods.com/template_static/LimitedTimeIcons.png" /></div>
   <div class="content">
      <div class="listing_row1">
         <div class="containerWidth">
            <div class="row">
               <div class="col-md-6 desc">
                  <h3>{{ title }}</h3>
                  <h4>Description</h4>
                  {{ item_specifics }}
                  <p>{{ description }}</p>
               </div>
               <div class="col-md-6">
                  <img src="https://education.health.ufl.edu/files/2014/05/pet-sitting-pg.jpg">
               </div>
            </div>
         </div>
      </div>
      <div class="listing_row2">
         <div class="listing_row2">
            <div class="containerWidth">
               <div class="tab_content" id="aboutus">
                  <h4>ABOUT US</h4>
                  <p>We are World leading specialty Health &amp; Beauty retailer, offering our customers the most unique, vibrant, and sustainable products sourced from the best around the world. Please kindly remember to click SAVE &amp; FOLLOW us : )</p>
               </div>
               <div class="tab_content" id="shipping">
                  <h4>SHIPPING</h4>
                  <p>We are always working hard to ensure your package arrives as soon as possible. Please understand that some factors like weather, high postal traffic, and the performance of shipping companies are outside of our control.<br />
                
                  <p><br />
                     <strong>TGA &amp; FDA Disclaimer:</strong><br />
                     These supplements are &lsquo;Not suitable for children under 15 years of age or pregnant women and ideally, should be used under medical or dietetic supervision. Consult your physician before use if taking other medication, or if suffering from acute severe illnesses or kidney damage. Detox Tea is not intended as a sole source of nutrition and should be consumed in conjunction with a nutritious diet and in conjunction with&nbsp;<br />
                     These statements have not been evaluated by the Australian Therapeutic Goods Administration (TGA) or the Food &amp; Drug Administration (FDA). This product is not intended to diagnose, treat, cure or prevent any disease.
                  </p>
               </div>
               <div class="tab_content" id="return">
                  <h4>RETURNS</h4>
                  <p>For faulty products, we offer a 30-day warranty period on all products.&nbsp;</p>
                  <p>Due to health &amp; hygiene reasons, we are unable to offer a return, exchange, or refund on used or &#39;change of mind&#39;.&nbsp;We do not offer a satisfaction guarantee on any of our products, however, we do stay true to our exceptional level of customer service, we will always aim to keep all our customers happy and satisfied with their purchase.</p>
                  <p>If your product is found to be&nbsp;faulty,&nbsp;it&nbsp;will be replaced with an identical product. If we are unable to replace your product, we will offer you the option of choosing another product of the same value.&nbsp;<br />
                   
                 
               </div>
               <div class="tab_content" id="payment">
                  <h4>PAYMENT</h4>
                  <p>We accept PayPal.</p>
               </div>
               <div class="tab_content" id="contact">
                  <h4>CONTACT US</h4>
                  <p>This page content is yet to come<br />
                     Please ad us to your favorite seller and visit again later<br />
                     Thank You
                  </p>
               </div>
               <div class="tab_content">
                  <h4>CUSTOMER SATISFACTION</h4>
                  <p>We try our very best to make sure every customer is completely satisfied. If there&#39;s a problem, message us! We&#39;re happy to help.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <footer>
      <div class="containerWidth">
         <div class="footer_bottom" style="border-top: 1px solid #59a2d8;">
            <div class="row" style="border-bottom: 1px solid #59a2d8;">
               <div class="col-md-6 col-sm-8 col-xs-12">
                  <h4>WE ACCEPT</h4>
                  <img alt="paypal" class="img-responsive" src="https://images.autods.com/template_static/BlackFridaySalePayPalIcon.jpg" style="width:60%;margin: 20px 0 10px 0;" />
               </div>
            </div>
            <p style="margin-left: 10px;">Copyright &copy; 2021 SPOTTASTE &amp; Hestia&#39;s Life. | All Rights Reserved</p>
         </div>
      </div>
   </footer>
</div>