<div id="ds_div">
   <title>eBay</title>
   <div id="ds_div">
      <font rwr="1" style="">
         <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
         <link href="https://syzeukltd.co.uk/media/css_secure/b0c086a8f3672ce441b5aa151a19d6e3.css" rel="stylesheet" type="text/css">
         <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
         <link href="https://e-commerceguru.com/tariq/syze/template/css/bootstrap.min.css" rel="stylesheet" type="text/css">
         <link href="responsive.css" rel="stylesheet" type="text/css">
         <link href="menu.css" rel="stylesheet" type="text/css">
         <link href="listing1.css" rel="stylesheet" type="text/css">
         <link href="style.css" rel="stylesheet" type="text/css">
         <link href="landing.css" rel="stylesheet" type="text/css">
         <style>#LeftPanel{width:100% !important;}</style>
      </font>
      <div class="zd-main" style="">
         <font rwr="1" style="">
            <header id="zd-header" style="font-family: Arial; font-size: large;">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12 col-sm-12 col-xs-12">
                        <nav id="menu">
                           <ul>
                              <li><a href="#">WELCOME TO OUR STORE</a></li>
                              <li><a href="#">OUR FEEDBACK</a></li>
                              <li><a href="#">FAVORITE SELLER</a></li>
                              <li><a href="#">NEWSLETTER</a></li>
                              <li><a href="#">SEND MESSAGE</a></li>
                           </ul>
                        </nav>
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-12">
                     <div style="" class="zd-logo"> <a href="#" title=""><img style="" src="https://e-commerceguru.com/tariq/syze/img2/logo.png" alt="" class="img-responsive"></a> </div>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-12 visible-desktop">
                     <div class="aus-owend">
                        <div class="aus-icon"><img src="https://e-commerceguru.com/clients/ebuyer/img/aus-icon.png" alt=""></div>
                        <span>United Kingdom Owned &amp; Operated</span>
                     </div>
                  </div>
               </div>
               <div class="zd-clear"></div>
               <div class="container">
                  <div class="row">
                     <div class="col-md-12 col-sm-12 col-xs-12">
                        <nav id="menu">
                           <input type="checkbox" id="toggle-nav"><label id="toggle-nav-label" for="toggle-nav"></label>
                           <div class="box">
                              <ul>
                                 <li><a href="#">STORE HOME</a></li>
                                 <li><a href="#">About Us</a></li>
                                 <li><a href="#">Shipping</a></li>
                                 <li><a href="#">Payment</a></li>
                                 <li><a href="#">Returns</a></li>
                                 <li><a href="#">New Arrival</a></li>
                                 <li><a href="#">Ending soon</a></li>
                              </ul>    </nav>
                     </div>
                  </div>
               </div>
               <div class="zd-clear"></div>
               <div class="promo-bg visible-desktop">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                           <div class="promo">
                              <ul>
                                 <li>
                                    <span class="icon-box"><img src="https://www.z-dzine.com/all-content/customers/boxworld/promo-icon-1.png" alt=""></span>
                                    <span class="promo-text">
                                       FAST SHIPPING<br> 
                                       <p>on most items</p>
                                    </span>
                                 </li>
                                 <li>
                                    <span class="icon-box"><img src="https://www.z-dzine.com/all-content/customers/boxworld/promo-icon-2.png" alt=""></span>
                                    <span class="promo-text">
                                       TRUSTED STORE<br> 
                                       <p>satisfaction guarantee</p>
                                    </span>
                                 </li>
                                 <li>
                                    <span class="icon-box"><img src="https://www.z-dzine.com/all-content/customers/boxworld/promo-icon-3.png" alt=""></span>
                                    <span class="promo-text">
                                       SECURE SHOPPING<br> 
                                       <p>buy with confidence</p>
                                    </span>
                                 </li>
                                 <li>
                                    <span class="icon-box"><img src="https://i.postimg.cc/6pNqq01X/promo-icon-4.png" alt=""></span>
                                    <span class="promo-text">
                                       ONLINE SUPPORT 24/7<br> 
                                       <p>Live Chat, Email &amp; Phone Support</p>
                                    </span>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </header>
         </font>
         <div class="container" style="">
            <font rwr="1" style=""></font>
            <div class="listing-area" style="font-family: Arial; font-size: large;">
               <font rwr="1" style="">
                  <div class="gal-desc-part">
                     <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                           <div id="LeftPanel">
                              <table class="v4acpcont" width="100%" cellspacing="0" cellpadding="0">
                                 <tbody>
                                    <tr>
                                       <td>
                                          <table class="v4acp" width="100%" cellspacing="0" cellpadding="0" border="0">
                                             <tbody>
                                                <tr class="v4acp_head">
                                                   <td class="v4accent" bgcolor="#7EB30D"><br></td>
                                                   <td class="v4hspacer"><br></td>
                                                   <td class="v4title" bgcolor="#020202">
                                                      <font size="2" face="Arial" color="#FFFFFF">
                                                         <h2>Shop Categories</h2>
                                                      </font>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <table class="v4midBox v4nfc" width="100%" cellspacing="0" cellpadding="0" border="0">
                                             <tbody>
                                                <tr class="v4acp_mid">
                                                   <td class="v4mid" bgcolor="#EEEEEE">
                                                      <div class="lcat">
                                                         <div class="ttl">Shop home</div>
                                                         <ul class="lev1">
                                                            <li><a>Anesthetic Syringes</a><span class="cnt"> (3)</span></li>
                                                            <li><a href="#">Beauty Instruments</a><span class="cnt"> (21)</span></li>
                                                            <li><a href="#">Beauty Tweezers</a><span class="cnt"> (21)</span></li>
                                                            <li><a href="#">Bone Crusher &amp; Scrapers</a><span class="cnt"> (27)</span></li>
                                                            <li><a href="#">Bone Rongeur</a><span class="cnt"> (3)</span></li>
                                                            <li><a href="#">Calipers</a><span class="cnt"> (9)</span></li>
                                                            <li><a href="#">Clearance Sale</a><span class="cnt"> (11)</span></li>
                                                            <li><a href="#">Crown Removers</a><span class="cnt"> (8)</span></li>
                                                            <li><a href="#">Dental Pliers</a><span class="cnt"> (25)</span></li>
                                                            <li><a href="#">Dental Probes</a><span class="cnt"> (8)</span></li>
                                                            <li><a href="#">Dental Scalars</a><span class="cnt"> (248)</span></li>
                                                            <li><a href="#">Dental Sets</a><span class="cnt"> (61)</span></li>
                                                            <li><a href="#">Ear Syringes</a><span class="cnt"> (10)</span></li>
                                                            <li><a href="#">Extraction Elevators</a><span class="cnt"> (23)</span></li>
                                                            <li><a href="#">Extraction Forceps</a><span class="cnt"> (148)</span></li>
                                                            <li><a href="#">Forceps &amp; Clamps</a><span class="cnt"> (82)</span></li>
                                                            <li><a href="#">Gauge</a><span class="cnt"> (16)</span></li>
                                                            <li><a href="#">General Instruments</a><span class="cnt"> (24)</span></li>
                                                            <li><a href="#">General USE Instruments</a><span class="cnt"> (30)</span></li>
                                                            <li><a href="#">Implants &amp; Sinus Kits</a><span class="cnt"> (138)</span></li>
                                                            <li><a href="#">Impression Putty</a><span class="cnt"> (7)</span></li>
                                                            <li><a href="#">Impression Trays</a><span class="cnt"> (7)</span></li>
                                                            <li><a href="#">Lab Sets</a><span class="cnt"> (92)</span></li>
                                                            <li><a href="#">Mirrors + Handles</a><span class="cnt"> (3)</span></li>
                                                            <li><a href="#">Mouth Retractors</a><span class="cnt"> (35)</span></li>
                                                            <li><a href="#">Nail Clipper</a><span class="cnt"> (1)</span></li>
                                                            <li><a href="#">Needle Holders</a><span class="cnt"> (300)</span></li>
                                                            <li><a href="#">Orthodontic Pliers</a><span class="cnt"> (249)</span></li>
                                                            <li><a href="#">Rubber dam</a><span class="cnt"> (31)</span></li>
                                                            <li><a href="#">Scalpel Handles</a><span class="cnt"> (59)</span></li>
                                                            <li><a href="#">Scissors / Micro / TC</a><span class="cnt"> (410)</span></li>
                                                            <li><a href="#">Shaving Razor</a><span class="cnt"> (8)</span></li>
                                                            <li><a href="#">Sterilization Cassettes (IMS)</a><span class="cnt"> (16)</span></li>
                                                            <li><a href="#">Surgery &amp; Lab Instruments Sets</a><span class="cnt"> (6)</span></li>
                                                            <li><a href="#">Syringes</a><span class="cnt"> (51)</span></li>
                                                            <li><a href="#">TC Instruments</a><span class="cnt"> (77)</span></li>
                                                            <li><a href="#">Tweezer &amp; Forceps</a><span class="cnt"> (123)</span></li>
                                                            <li><a href="#">Vet Waxing Tools</a><span class="cnt"> (29)</span></li>
                                                            <li><a href="#"><span class="cnt"> (967)</span></li>
                                                         </ul>
                                                         <div class="link"></div>
                                                      </div>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                              <br>
                              <div class="payment">
                                 <div class="store-page-head">We ACCEPT</div>
                                 <div class="payment-box"> <img src="https://www.z-dzine.com/all-content/customers/boxworld/paypal.png" class="img-responsive" alt=""></div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                           <div class="row">
                              <div class="v4title">
                                 <h2> </h2>
                              </div>
                              <br>
                              <div class="col-md-12 col-sm-12 col-xs-12" style="border:1px solid #dfdfdf;">
                                 <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                       <div class="gal-container">
                                          <div class="slider"><input name="slide_switch" id="id1" checked="checked" type="radio"><label for="id1"> <img src="image/computer.webp" alt=""> </label><img src="image/computer.webp" alt=""><input name="slide_switch" id="id2" type="radio"><label for="id2"> <img src="image/computer.webp" alt=""> </label><img src="image/computer.webp" alt=""><input name="slide_switch" id="id3" type="radio"><label for="id3"> <img src="image/computer.webp" alt=""> </label><img src="image/computer.webp" alt=""><input name="slide_switch" id="id4" type="radio"><label for="id4"> <img src="image/computer.webp" alt=""> </label><img src="image/computer.webp" alt=""><input name="slide_switch" id="id5" type="radio"><label for="id5"> <img src="image/computer.webp" alt=""> </label><img src="image/computer.webp" alt=""></div>
                                       </div>
                                    </div>
                                 </div>
                                 <br>
                                 <div class="v4title">
                                    <h2>Item Description</h2>
                                 </div>
                                 <div class="desc-container">
                                    <div class="desc-box">
                                       <div class="text-regullar">
                                          <p></p>
                                          <div class="desc-container">
                                             <div class="desc-box">
                                                <div class="text-regullar">
                                                   <p></p>
                                                   <div class="container">
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial" size="4"><span style="font-weight: 700;">Dental Extracting Forceps Upper Molars Extraction Instrument Fig 65 Syze</span></font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial" size="4"><span style="font-weight: 700;"><br></span></font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;">
                                                         <ul>
                                                            <li><span style="font-family: Arial;">Extraction Forcep Plier</span></li>
                                                            <li><span style="font-family: Arial;">Upper Incissors</span></li>
                                                            <li><span style="font-family: Arial;">Fig 65</span></li>
                                                            <li><span style="font-family: Arial;">Buy with confidence</span></li>
                                                         </ul>
                                                      </div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial"><br></font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial" size="3"><span style="font-weight: 700;">Product Code:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;DEF-349</span></font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial" size="3"><span style="font-weight: 700;"><br></span></font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial" size="3"><span style="font-weight: 700;">Technical Specifications</span></font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial"><br></font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial">Material: A Grade Stainless Steel</font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial">Rusting Prevention Procedure: Passivated</font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial">Ultrasonic Cleaned: Yes</font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial">Lubricate: Yes</font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial">Polished: No (but possible)</font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial">Sand-Blasted: No (but possible)</font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial">Dull-Polished: Yes ( German Dull )</font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial">TC : No</font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial">Gold Platted: No</font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial">Usage: Left Hand or Right Hand</font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial">Tests Performed: Boil Test, Performance Test, Shape Test</font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial">Packing: Individually Packed</font></div>
                                                      <div class="container" style="font-family: ubuntu, sans-serif;"><font face="Arial">QC Passed: Yes</font></div>
                                                   </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12"></div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-md-12 col-sm-12 col-xs-12">
                                          <div class="col-md-12 col-sm-12 col-xs-12" style="">
                                             <div class="zd-tab" style="">
                                                <input name="tabs" id="tabone" type="radio" checked="checked"><label for="tabone" style="font-family: Arial; font-size: large;">Payment</label>
                                                <div class="tab">
                                                   <p></p>
                                                   <p>We accept verified PayPal.</p>
                                                   <p></p>
                                                </div>
                                                <input name="tabs" id="tabtwo" &nbsp;="" type="radio"><label for="tabtwo" style="font-family: Arial; font-size: large;">Shipping</label>
                                                <div class="tab">
                                                   <p>Will usually dispatch within same working day if paid before 13:00 GMT (excludes weekends and holidays). Expected dispatch time may vary and is based on seller's order cut-off time.</p>
                                                </div>
                                                <input name="tabs" id="tabthree" type="radio"><label for="tabthree" style="font-family: Arial; font-size: large;">Returns</label>
                                                <div class="tab">
                                                   <p>60 days refund, buyer pays return postage.</p>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="pst-clear"></div>
                        </div>
                        <div class="row" style=""></div>
                     </div>
                     <div class="zd-clear" style="font-family: Arial; font-size: large;"></div>
                     <div class="footer-container ">
                        <div class="footer">
                           <div class="footer-top">
                              <div class="container">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="footer-top-inner">
                                          <div class="row">
                                             <div class="col-md-5">
                                                <div class="block" style="margin-bottom: 15px;padding-left: 20px;">
                                                   <div class="block-title"><strong><span>BE THE FIRST TO KNOW</span></strong></div>
                                                   <div class="block-content">
                                                      <p>Get all the latest information on Events, Sales and Offers.<br>Sign up for newsletter today.</p>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-md-7">
                                                <div class="block-content" style="width:100%;float:right;margin:38px 0px;">
                                                   <div class="input-box">
                                                      <input type="text" name="email" id="newsletter-footer" title="Sign up for our newsletter" class="input-text required-entry validate-email" placeholder="Email Address"> <button type="submit" title="Subscribe" class="button"><span><span><a href="http://my.ebay.co.uk/ws/eBayISAPI.dll?AcceptSavedSeller&amp;sellerid=syze-official&amp;ssPageName=STRK:MEFS:ADDSTR&amp;rt=nc">Subscribe</a></span></span></button> 
                                                      <div class="clearer"></div>
                                                   </div>
                                                   <div class="social-icons"> </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="footer-middle">
                              <div class="container">
                                 <div class="row" style=" padding-left: 20px;">
                                    <div class="col-lg-3" style=" padding-left: 20px;">
                                       <div class="block">
                                          <div class="block-title"><strong><span>Contact Information</span></strong></div>
                                          <div class="block-content">
                                             <ul class="contact-info" style="padding-top: 7px;">
                                                <li>
                                                   <p><b style="color: #fff;text-transform:uppercase;">Address</b><br>37 Stevenage Rd, London E6 2AU, UK</p>
                                                </li>
                                                <li>
                                                   <p><b style="color: #fff;text-transform:uppercase;">Phone</b><br> +44 7894-262946</p>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-lg-9">
                                       <div class="row">
                                          <div class="col-md-12">
                                             <div class="block-right">
                                                <div class="row">
                                                   <div class="col-md-5">
                                                      <div class="block">
                                                         <div class="block-title"><strong><span>INFORMATION</span></strong></div>
                                                         <div class="block-content">
                                                            <div class="row">
                                                               <div class="col-md-6">
                                                                  <ul class="links">
                                                                     <li><a href="#" title="About us">About us</a></li>
                                                                     <li><a href="#" title="Contact Us">Contact us</a></li>
                                                                  </ul>
                                                               </div>
                                                               <div class="col-md-6">
                                                                  <ul class="links">
                                                                     <li><a href="#" title="Order history"></a></li>
                                                                     <li><a href="#" title="Contact us"></a></li>
                                                                     <li><a href="#" title="Login"></a></li>
                                                                  </ul>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                   <div class="col-md-7">
                                                      <div class="block">
                                                         <div class="block-title"><strong><span>POLICIES</span></strong></div>
                                                         <div class="block-content">
                                                            <div class="row">
                                                               <div class="col-md-6">
                                                                  <ul class="features">
                                                                     <li><a href="#">Shipping Policy</a></li>
                                                                     <li><a href="#">Payment</a></li>
                                                                     <li><a href="#">Returns and Exchange</a></li>
                                                                  </ul>
                                                               </div>
                                                               <div class="col-md-6">
                                                                  <ul class="features">
                                                                     <div class="block-title"><strong><span class="reachus">REACH US</span></strong></div>
                                                                     <div class="block-content">
                                                                        <div class="row">
                                                                           <div class="col-md-12"><a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true" style="font-size:30px;padding-right:10px;color:#3b5998;"></i></a> <a title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true" style="font-size:30px;padding-right:10px;color:#38A1F3;"></i></a> <a title="Instagram" target="_blank"><img src="https://syzeukltd.co.uk/skin/frontend/base/default/images/insta.png" alt="Instagram" style""=""></a> </div>
                                                                           <div class="row"><img src="https://syzeukltd.co.uk/media/wysiwyg/smartwave/footer/payment-icon.png" class="mcafee" alt="Mcafee" style="width: 210px;height: 35px;margin:20px 5px 0 30px;"> </div>
                                                                        </div>
                                                                     </div>
                                                                  </ul>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="row">
                                          <div class="col-md-12"></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </font>
            </div>
         </div>
      </div>
   </div>
</div>