<font rwr="1" size="4" style="font-family:Arial">
   <style>img{max-width:100%}</style>
   <font rwr="1" size="4" style="font-family:Arial">
      <font rwr="1" style="font-family:Arial" size="4">
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width">
         <link href="https://fonts.googleapis.com/css?family=Khand" rel="stylesheet">
         <title>eBay Responsive Store eBay Responsive Listing, eBay listing template. eBay Store Template</title>
         <link rel="stylesheet" type="text/css" href="css/style.css" media="all">
         <header class="header_area fix">
            <div class="header container fix">
               <div class="header_logo fix floatleft"> <a href="#"><img src="images/logo.png" alt=""></a> </div>
               <div class="header_middle fix floatleft"> <img src="https://a2zdesignstore.com/showcase/2017/gear_hq/img/top1.jpg" alt=""> </div>
               <div class="header_right fix floatleft">
                  <div class="some_text fix">
                     
                     <!--<h2>Some text here</h2>-->
                  </div>
                  <div class="social_link fix">
                     <span>Follow us on</span>
                     <div class="single_social_link fix floatleft"> <a href="#"><img src="https://a2zdesignstore.com/showcase/2017/gear_hq/img/social1.jpg" alt=""></a> </div>
                     <div class="single_social_link fix floatleft"> <a href="#"><img src="https://a2zdesignstore.com/showcase/2017/gear_hq/img/social2.jpg" alt=""></a> </div>
                     <div class="single_social_link fix floatleft"> <a href="#"><img src="https://a2zdesignstore.com/showcase/2017/gear_hq/img/social3.jpg" alt=""></a> </div>
                     <div class="single_social_link fix floatleft"> <a href="#"><img src="https://a2zdesignstore.com/showcase/2017/gear_hq/img/social4.jpg" alt=""></a> </div>
                  </div>
               </div>
            </div>
         </header>
         <section class="main_menu_area fix">
            <div class="main_menu container fix">
               <nav>
                  <label for="drop" class="toggle"><img src="https://a2zdesignstore.com/showcase/2017/gear_hq/img/m.png" alt=""></label>
                  <input id="drop" type="checkbox">
                  <ul class="menu">
                     <li><a href="#">Store Home</a></li>
                     <li><a href="#">About us</a></li>
                     <li><a href="#">Delivery</a></li>
                     <li><a href="#">Returns</a></li>
                     <li><a href="#">Payment</a></li>
                     <li><a href="#">Contact</a></li>
                  </ul>
               </nav>
            </div>
         </section>
         <section class="slider_area fix">
            <div class="slider_area fix">
               <div class="container container_s">
                  <img class="photo" src="images/ban1.png" alt="">
                  <img class="photo" src="images/ban2.png" alt="">
                  <img class="photo" src="images/ban3.png" alt="">
                  <img class="photo" src="images/ban1.png" alt="">
                  <img class="photo" src="images/ban2.png" alt="">
                  <img class="photo" src="images/ban3.png" alt="">
               </div>
            </div>
         </section>
         <section class="shoping_protfolio fix">
            <div class="shoping_protfolio container fix">
               <a href="#">
                  <div class="single_shoping_protfolio fix floatleft">
                     <img src="https://a2zdesignstore.com/showcase/2017/gear_hq/img/cat1.jpg" alt="">
                     <div class="sungle_shoping_protfolio">
                        <div class="single_text fix">
                           <h2>Men's</h2>
                           <p>Shop this Category</p>
                        </div>
                     </div>
                  </div>
               </a>
               <a href="#">
                  <div class="single_shoping_protfolio fix floatleft">
                     <img src="https://a2zdesignstore.com/showcase/2017/gear_hq/img/cat2.jpg" alt="">
                     <div class="sungle_shoping_protfolio">
                        <div class="single_text fix">
                           <h2>hand bag</h2>
                           <p>Shop this Category</p>
                        </div>
                     </div>
                  </div>
               </a>
               <a href="#">
                  <div class="single_shoping_protfolio fix floatleft">
                     <img src="https://a2zdesignstore.com/showcase/2017/gear_hq/img/cat3.jpg" alt="">
                     <div class="sungle_shoping_protfolio">
                        <div class="single_text fix">
                           <h2>Women's</h2>
                           <p>Shop this Category</p>
                        </div>
                     </div>
                  </div>
               </a>
               <a href="#">
                  <div class="single_shoping_protfolio fix floatleft">
                     <img src="https://a2zdesignstore.com/showcase/2017/gear_hq/img/cat4.jpg" alt="">
                     <div class="sungle_shoping_protfolio">
                        <div class="single_text fix">
                           <h2>Shoes</h2>
                           <p>Shop this Category</p>
                        </div>
                     </div>
                  </div>
               </a>
            </div>
         </section>
         <div class="container">
            <div class="left-sidebar floatleft fix">
              
               <!--<div class="store-catagory fix">
                  <h2 class="sidebar-heading">Store Categories</h2>
                  <ul>
                  <li><a href="#">Store Home</a></li>
                  <li><a href="#">BASKETBALL CARDS (1)</a></li>
                  <li><a href="#">FOOTBALL CARDS (1)</a></li>
                  <li><a href="#">HOCKEY CARDS (1)</a></li>
                  <li><a href="#">FOOTBALL CARDS (2)</a></li>
                  <li><a href="#">BASKETBALL CARDS (1)</a></li>
                  <li><a href="#">BASEBALL CARDS (1)</a></li>
                  <li><a href="#">OTHER (1)</a></li>
                  </ul>
                  </div>-->
               <!--<div class="store-catagory fix">
                  <div class="sing-up-text floatleft fix">
                  <h1>Sign Up</h1>
                  <p>for special offer and news</p>
                  <span>Dont miss a deal!</span> </div>
                  <div class="sign-up-img fix"> <img src="https://a2zdesignstore.com/showcase/2017/gear_hq/img/message.png" alt="" /> </div>
                  </div>-->
               <div class="store-catagory fix payple"> <img src="images/pet.jpg" alt=""> </div>
               <div class="store-catagory fix payple"> <img src="images/dogs.jpg" alt=""> </div>
               <div class="store-catagory fix payple"> <img src="images/download.jpg" alt=""> </div>
               <div class="store-catagory fix payple"> <img src="images/kutta.jpg" alt=""> </div>
               <div class="store-catagory fix payple"> <img src="images/kuttay da bacha.jpg" alt=""> </div>
               <div class="store-catagory fix payple"> <img src="images/images.jpg" alt=""> </div>
            </div>
            <div class="right-content fix">
               <section>
                  <div class="title_bar_area fix">
                     <div class="title_bar fix">
                        <div class="title_desc_area fix">
                           <div class="single_title_bar fix">
                              <h2>Product Details</h2>
                           </div>
                           <div class="bar_desc fix">
                              <h1>eBay Responsive store with matching responsive listing template 2018!!</h1>
                              &nbsp;
                              <p>Your are buying this package which includes this design for your ebay store and listing template<br>
                                 <br>This theme has been professionally developed by our design team and comes in different colours as standard for you to choose from (or we can change the colours to suit your branding/choice). This is a great way to display your products in a professional way without the costs of a completely customised design. Ideal for anyone who currently uses a cheap or free template surround. This will give your business the professional look that is so important nowadays on eBay to increase your sales.
                              </p>
                           </div>
                        </div>
                        <div class="title_desc_area fix">
                           <div class="single_title_bar fix">
                              <h2>Whats included</h2>
                           </div>
                           <div class="bar_desc fix">
                              <ul>
                                 <li>Responsive Listing template to use for your products in this theme/design.</li>
                                 <li>Dynamic matching eBay store design. Updates automatically as you add products and update categories.</li>
                                 <li>Choice of colours OR we can change the colours to match your branding or your preference.</li>
                                 <li>Change header images to personalise and reflect your business.</li>
                                 <li>Social buttons on top. Can be linked to your social pages or removed if not needed.</li>
                                 <li>Support, Delivery and Payment banners wording/logos changed as required or removed if not needed.</li>
                                 <li>Company name and slogan changed to your business name or your logo incorporated if you have one.</li>
                                 <li> As many 'boxes' as you need in the main area for description, terms, images, delivery info etc. You can easily change the name of each box as needed. Content in boxes expands as you type.</li>
                                 <li>Extra pages if required.</li>
                                 <li>No hidden cost!!!</li>
                              </ul>
                              &nbsp;
                           </div>
                        </div>
                        <div class="title_desc_area fix">
                           <div class="single_title_bar fix">
                              <h2>Features</h2>
                           </div>
                           <div class="bar_desc fix">
                              <ul>
                                 <li>Dynamic Categories, sub categories (In stores only).</li>
                                 <li>Choice of colours or personalise to your own colours.</li>
                                 <li>Compatible with all major browsers, mobile devices and tablets.</li>
                                 <li>Easy to use - no HTML or technical knowledge needed.</li>
                                 <li>No ongoing costs.</li>
                                 <li>Free hosting for your template.</li>
                                 <li>Compatible with all the popular ebay listing tools e.g Auctiva, Blackthorne, Channel Grabber, Garage Sale, InkFrog, Turbo Lister, eBay Selling Manager, Channel Advisor, StoreFeeder etc.. (please feel free to email us if you want to check if a particular listing tool is compatible).</li>
                                 <li>Works on eBay sites e.g eBay UK, USA, Australia, Germany etc..</li>
                              </ul>
                           </div>
                        </div>
                        <div class="title_desc_area fix">
                           <div class="single_title_bar fix">
                              <h2>How It Works</h2>
                           </div>
                           <div class="bar_desc fix">
                              <ul>
                                 <li>Purchase and Pay</li>
                                 <li>We will email you with some questions about your preferences, banner wording, colours etc..</li>
                                 <li>Once you have returned these details to us we will send you your template and we will install your new store design within 48 hours (usually within 1 working day)</li>
                                 <li>Use our instructions to create your listings and request support if needed.</li>
                              </ul>
                              <br>
                              <p><strong>NOTE</strong>: This purchase entitles you to a licence to use this theme/design for listing products on eBay and in your eBay Store for your business. You may not sell, re-distribute or pass this template onto anybody else (either as is or modified) unless it is part of the sale of your business. Please see our FAQ's page for more information about our terms and conditions.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               <section class="main_contain_area fix">
                  <div class="main_contain fix">
                     <h1 align="center">Customers using this template<br>
                        (STORE EXAMPLE)
                     </h1>
                     <a href="https://stores.ebay.com/Ultimate-shopper-store/">
                        <div class="single_contain fix floatleft">
                           <img src="images/images (6).jpg" alt="">
                           <h3>Click to see Live Ebay Store</h3>
                        </div>
                     </a>
                     <a href="https://stores.ebay.com/uzi29">
                        <div class="single_contain fix floatleft">
                           <img src="images/images (5).jpg" alt="">
                           <h3>Click to see Live Ebay Store</h3>
                        </div>
                     </a>
                     <a href="https://stores.ebay.com/jcswildlife/">
                        <div class="single_contain fix floatleft">
                           <img src="images/images (7).jpg" alt="">
                           <h3>Click to see Live Ebay Store</h3>
                        </div>
                     </a>
                     <a href="https://stores.ebay.com/treasurestome/">
                        <div class="single_contain fix floatleft">
                           <img src="images/images (3).jpg" alt="">
                           <h3>Click to see Live Ebay Store</h3>
                        </div>
                     </a>
                     <a href="https://stores.ebay.com/laynesdiscount/">
                        <div class="single_contain fix floatleft">
                           <img src="images/images (8).jpg" alt="">
                           <h3>Click to see Live Ebay Store</h3>
                        </div>
                     </a>
                     <a href="https://stores.ebay.com/abolox/">
                        <div class="single_contain fix floatleft">
                           <img src="images/images (11).jpg" alt="">
                           <h3>Click to see Live Ebay Store</h3>
                        </div>
                     </a>
                  </div>
               </section>
               <section>
                  <div class="store_tab_area fix">
                     <div class="store_tab fix">
                        <div class="tab_container">
                           <input checked="" name="tabs" id="tab1" class="my_tab" type="radio">
                           <label for="tab1" class="my_tab_label"><span>ABOUT US</span></label>
                           <input name="tabs" id="tab2" class="my_tab" type="radio">
                           <label for="tab2" class="my_tab_label"><span>RETURNS</span></label>
                           <input name="tabs" id="tab3" class="my_tab" type="radio">
                           <label for="tab3" class="my_tab_label last"><span>SHIPPING</span></label>
                           <input name="tabs" id="tab4" class="my_tab" type="radio">
                           <label for="tab4" class="my_tab_label last"><span>WARRANTY</span></label>
                           <input name="tabs" id="tab5" class="my_tab" type="radio">
                           <label for="tab5" class="my_tab_label last"><span>CONTACT US </span></label>
                           <section class="tab-content" id="content1">
                              <div>
                                 <p class="description tab_box_text">About us text goes here</p>
                              </div>
                           </section>
                           <section class="tab-content" id="content2">
                              <p class="tab_box_text">Return text goes here..</p>
                           </section>
                           <section class="tab-content" id="content3">
                              <p class="description tab_box_text">Shipping text goes here...</p>
                           </section>
                           <section class="tab-content" id="content4">
                              <p class="description tab_box_text"> Warranty text goes here</p>
                           </section>
                           <section class="tab-content" id="content5">
                              <p class="description tab_box_text">Contact us</p>
                           </section>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
         </div>
         <footer class="footer_area fix">
            <div class="container footer fix">
               <hr class="border">
               <div class="single_footer fix floatleft">
                  <div class="footer_menu fix">
                     <div class="footer_menu_title fix">
                        <div class="single_f_title floatleft">
                           <h2>Shop Categories </h2>
                        </div>
                        <div class="single_f_title floatleft">
                           <h2>Shop Pages</h2>
                        </div>
                        <div class="single_f_title floatleft">
                           <h2>Customer service</h2>
                        </div>
                     </div>
                     <div class="footer_menu_single floatleft fix">
                        <ul>
                           <li><a href="#">home</a></li>
                        </ul>
                     </div>
                     <div class="footer_menu_single middle floatleft fix">
                        <ul>
                           <li><a href="#">About us </a></li>
                           <li><a href="#">Delivery</a></li>
                           <li><a href="#">Return</a></li>
                        </ul>
                     </div>
                     <div class="footer_menu_single floatleft fix">
                        <ul>
                           <li><a href="#">Contact us</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
      </font>
   </font>
</font>