<!DOCTYPE html>
<html>
<head>
              <meta name="viewport" content="width=device-width, initial-scale=1">
               <meta http-equiv="content-type" content="text/html; charset=utf-8">
               <meta http-equiv="X-UA-Compatible" content="IE=edge">
               <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
               <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
               <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
               <link rel="stylesheet" type="text/css" href="https://meotech.org/ebay/nadeem/style.css">
               <title></title>
</head>
<body>
               <div class="container-fluid bg" align="center">
                  <div class="container">
                     <div class="row headerfix">
                        <a class="headerlogo" target="_blank"><img src="https://meotech.org/ebay/nadeem/images/logo.jpeg"></a> 
                        <div class="row hidden-sm hidden-xs">
                           <div class="col-md-5 hidden-sm"></div>
                        </div>
                        <br> <br> <br> 
                     </div>
                     <div class="row">
                        <div class="col-md-12 menubar">
                           <ul class="menu hidden-xs hidden-sm">
                              <li><a href="https://www.ebay.com/usr/pchelpz90?_trksid=p2047675.l2559" target="_blank">Home</a></li>
                              <li><a href="https://www.ebay.com/usr/pchelpz90" target="_blank">About Us</a></li>
                              <li><a href="https://www.ebay.com/fdbk/feedback_profile/pchelpz90" target="_blank">Feedback</a></li>
                              <li><a href="http://my.ebay.com/ws/eBayISAPI.dll?AcceptSavedSeller&mode=0&preference=0&ssPageName=STRK:MEFS:ADDMP&sellerid=pchelpz90" target="_blank">Newsletter</a></li>
                              <li><a href="http://contact.ebay.com/ws/eBayISAPI.dll?FindAnswers&requested=pchelpz90&_trksid=p2545226.m2531.l4583&rt=nc" target="_blank">Contact Us</a></li>
                           </ul>
                           <ul class="resmenu hidden-md hidden-lg">
                              <li><a href="https://www.ebay.com/usr/pchelpz90?_trksid=p2047675.l2559" target="_blank"><i class="fa fa-home"></i></a><br> </li>
                              <li><a href="https://www.ebay.com/usr/pchelpz90" target="_blank"><i class="fa fa-user"></i></a><br> </li>
                              <li><a href="https://www.ebay.com/fdbk/feedback_profile/pchelpz90" target="_blank"><i class="fa fa-star"></i></a><br> </li>
                              <li><a href="http://my.ebay.com/ws/eBayISAPI.dll?AcceptSavedSeller&mode=0&preference=0&ssPageName=STRK:MEFS:ADDMP&sellerid=pchelpz90" target="_blank"><i class="fa fa-bookmark"></i></a><br> </li>
                              <li><a href="http://contact.ebay.com/ws/eBayISAPI.dll?FindAnswers&requested=pchelpz90&_trksid=p2545226.m2531.l4583&rt=nc" target="_blank"><i class="fa fa-envelope"></i></a><br> </li>
                           </ul>
                        </div>
                     </div>
                     <div class="row allcontent">
                        <div class="col-md-10 col-md-push-2 maincontent">
                           <div class="row box">
                              <div class="col-md-6 artpic">
                                 <div class="image-gallery">
                                    <div class="big-image">
                                    <img id="image1" src="[TagBot#Gallery Large 01: =https://via.placeholder.com/1000.jpg]" class="img-responsive">
                                    <img id="image2" src="[TagBot#Gallery Large 02: =https://via.placeholder.com/1000.jpg]" class="img-responsive">
                                    <img id="image3" src="[TagBot#Gallery Large 03: =https://via.placeholder.com/1000.jpg]" class="img-responsive">
                                    <img id="image4" src="[TagBot#Gallery Large 04: =https://via.placeholder.com/1000.jpg]" class="img-responsive">
                                    <img id="default" src="[TagBot#Gallery Large 01: =https://via.placeholder.com/1000.jpg]" class="img-responsive"></div>
                                    <div class="thumbs">
                                       <ul>
                                          <li><a href="#image1">
                                             <img src="[TagBot#Gallery Thumb 01: =https://via.placeholder.com/1000.jpg]" class="img-responsive"></a></li>
                                          <li><a href="#image2">
                                             <img src="[TagBot#Gallery Thumb 02: =https://via.placeholder.com/1000.jpg]" class="img-responsive"></a></li>
                                          <li><a href="#image3">
                                             <img src="[TagBot#Gallery Thumb 03: =https://via.placeholder.com/1000.jpg]" class="img-responsive"></a></li>
                                          <li><a href="#image4">
                                             <img src="[TagBot#Gallery Thumb 04: =https://via.placeholder.com/1000.jpg]" class="img-responsive"></a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6 artdesc">
                                 <h1>[TAGBOT- ][TAGBOT TITLE =]</h1>
                                 <p>[TagBot- ][TagBot Description=]</p>
                                 <h3><p>[TagBot- ][TagBot $ Price=]</p></h3>
                                 <a class="sk" href="" target=""><i class="fa fa-shopping-cart"></i> Buy it Now</a> &nbsp;<a class="be" href="https://www.ebay.com/sch/pchelpz90/m.html?_nkw=&_armrs=1&_ipg=&_from=" target="_blank"><i class="fa fa-plus-circle"></i> Watch Items</a><a class="fs" href="https://signin.ebay.com/ws/eBayISAPI.dll?SignIn&UsingSSL=1&pUserId=&co_partnerId=2&siteid=0&ru=https%3A%2F%2Fcontact.ebay.com%2Fws%2FeBayISAPI.dll%3FShowSellerFAQ%26_trksid%3Dp2047675.l1499%26frm%3D284%26rt%3Dnc%26iid%3D353048170346%26ssPageName%3DPageSellerM2MFAQ_VI%26%26redirect%3D0%26requested%3Dpchelpz90%26guest%3D1&pageType=4901" target="_blank"><i class="fa fa-question-circle"></i> Ask a Question</a>
                              </div>
                           </div>
                           <div class="tabs">
                              <input name="tabs" id="tab1" checked="" type="radio"> <label for="tab1"><span>About</span></label> <input name="tabs" id="tab2" type="radio"> <label for="tab2"><span>Payment</span></label> <input name="tabs" id="tab3" type="radio"> <label for="tab3"><span>Delivery</span></label> <input name="tabs" id="tab4" type="radio"> <label for="tab4"><span>Returns</span></label> 
                              <div id="tab-content1" class="tab-content">
                                 <div class="row">
                                    <div class="col-sm-6"></div>
                                    <div class="col-md-12">
                                       <p>customer satisfaction is my best.<br><br> Dear Friends Ask me any thing till you satisfiy.</p>
                                    </div>
                                 </div>
                              </div>
                              <div id="tab-content2" class="tab-content">
                                 <br> 
                                 <h1>Payment Information</h1>
                                 <p>We accept PayPal payment.</p>
                              </div>
                              <div id="tab-content3" class="tab-content">
                                 <br> 
                                 <h1>Shipping Information</h1>
                                 <p>We provide fast and economic shipping.</p>
                              </div>
                              <div id="tab-content4" class="tab-content">
                                 <br> 
                                 <h1>Returns Information</h1>
                                 <p>30 days return buyer pays for return shipping.</p>
                              </div>
                           </div>
                           <div class="row" style="margin-top:10px;">
                              <div class="col-md-3 col-sm-12">
                                 <a href="https://www.ebay.com/itm/300000-eBooks-Package-Collection-Pdf-Format-With-Master-Resell-Rights/353382052481?hash=item5247363281:g:lBAAAOSwPEBgIjsP"><img width= "100%" height="150px" src="https://i.ebayimg.com/images/g/bLEAAOSw63ZfN7MQ/s-l500.jpg"></a>
                                    <a style="background: black;color: white;width: 100%;padding: 10px; display: block;" href="https://www.ebay.com/itm/300000-eBooks-Package-Collection-Pdf-Format-With-Master-Resell-Rights/353382052481?hash=item5247363281:g:lBAAAOSwPEBgIjsP">Ebook </a> 
                              </div>
                              <div class="col-md-3 col-sm-12">
                                 <a href=""><img width= "100%" height="150px" src="https://i.ebayimg.com/images/g/ogsAAOSwjqNgFq-J/s-l500.jpg"></a>
                               
                                 <a style="background: black;color: white;width: 100%;padding: 10px; display: block;" href="https://www.ebay.com/itm/300000-eBooks-Package-Collection-Pdf-Format-With-Master-Resell-Rights/353382052481?hash=item5247363281:g:lBAAAOSwPEBgIjsP" style="background: black;color: white;width: 100%;padding: 10px; display: block;">Web traffic services </a>
                              </div>
                              <div class="col-md-3 col-sm-12">
                                 <a href="https://www.ebay.com/itm/50-EDU-High-DA-Backlinks-Top-Ranking-On-Google-Fast-Reply-with-Best-Service/353266781196?hash=item5240574c0c:g:K-wAAOSwlupfphdB"><img width= "100%" height="150px" src="https://i.ebayimg.com/images/g/K-wAAOSwlupfphdB/s-l500.jpg"></a>
                                 <label style="background: black;color: white;width: 100%;padding: 10px;"><a style="background: black;color: white;width: 100%; display: block;" href="https://www.ebay.com/itm/50-EDU-High-DA-Backlinks-Top-Ranking-On-Google-Fast-Reply-with-Best-Service/353266781196?hash=item5240574c0c:g:K-wAAOSwlupfphdB">Backlink services</a></label>
                              </div>
                              <div class="col-md-3 col-sm-12">
                                 <a href="https://www.ebay.com/itm/500-Million-Email-List-for-Marketing-and-Business-Instant-Download/353410430419?hash=item5248e735d3:g:yqIAAOSwH8VgQ0Um"><img width= "100%" height="150px" src="https://i.ebayimg.com/images/g/yqIAAOSwH8VgQ0Um/s-l500.jpg"></a>
                                 <label style="background: black;color: white;width: 100%;padding: 10px;"><a style="color:#fff;" href="https://www.ebay.com/itm/500-Million-Email-List-for-Marketing-and-Business-Instant-Download/353410430419?hash=item5248e735d3:g:yqIAAOSwH8VgQ0Um">Email marketion</a> </label>
                              </div>
                           </div>





                        </div>
                        <div class="col-md-2 col-md-pull-10 sidebar">
                           <h1>Store Categories</h1>
                           <ul class="kategorien">
                              <li><a href="https://www.ebay.com/sch/Business-Industrial/12576/m.html?_ssn=pchelpz90">Ebook</a></li>
                              <li><a href="https://www.ebay.com/sch/Internet-Businesses-Websites/46689/m.html?_ssn=pchelpz90">Web traffic services</a></li>
                              <li><a href="https://www.ebay.com/sch/Marketing/46690/m.html?_ssn=pchelpz90">Backlink services</a></li>
                              <li><a href="https://www.ebay.com/sch/Specialty-Services/316/m.html?_ssn=pchelpz90">Logo design and cover design</a></li>
                              <li><a href="https://www.ebay.com/sch/Graphic-Logo-Design/47131/m.html?_ssn=pchelpz90">Create your web sites</a></li>
                              <li><a href="https://www.ebay.com/sch/Other-Web-Computer-Services/45209/m.html?_ssn=pchelpz90">Email marketion</a></li>


                              <li><a href="https://www.ebay.com/sch/Other-Web-Computer-Services/45209/m.html?_ssn=pchelpz90">Phone verified yahoo accounts</a></li>
                              <li><a href="https://www.ebay.com/sch/Other-Web-Computer-Services/45209/m.html?_ssn=pchelpz90">Social media account creation</a></li>

                           </ul>
                           <br> 
                           <h2>Shipping</h2>
                           <p><img src="https://e-commerceguru.com/clients/dinoperera786/img/shipping.png" style="width:100%;"></p>
                           <br> 
                           <h2>Payment Methods</h2>
                           <p><img src="https://s20.postimg.cc/iue0vscb1/paypal_logo.png" style="width:100%;"></p>
                           <br> 
                           
                        </div>
                     </div>
                     <div class="row footer">
                        <div class="col-md-3">
                           <h1>Links</h1>
                           <ul>
                              <li><a href="https://www.ebay.com/usr/pchelpz90" target="_blank" title="About Us">About Us</a></li>
                              <li><a href="https://www.ebay.com/fdbk/feedback_profile/pchelpz90?_trksid=p2545226.m2531.l4585" target="_blank" title="Feedback">Feedback</a></li>
                              <li><a href="https://signin.ebay.com/ws/ebayISAPI.dll?SignIn&ru=https%3A%2F%2Fwww.ebay.com%2Fusr%2Fpchelpz90&pageType=3984" target="_blank" title="Add Us">Add Us</a></li>
                              <li><a href="https://signin.ebay.com/ws/ebayISAPI.dll?SignIn&ru=https%3A%2F%2Fwww.ebay.com%2Fusr%2Fpchelpz90&pageType=3984" target="_blank" title="Newsletter">Newsletter</a></li>
                              <li><a href="https://signin.ebay.com/ws/eBayISAPI.dll?SignIn&UsingSSL=1&pUserId=&co_partnerId=2&siteid=0&ru=https%3A%2F%2Fcontact.ebay.com%2Fws%2FeBayISAPI.dll%3FFindAnswers%26_trksid%3Dp2545226.m2531.l4583%26rt%3Dnc%26%26requested%3Dpchelpz90%26guest%3D1&pageType=5410" target="_blank" title="Contact Us">Contact</a></li>
                           </ul>
                        </div>
                        <div class="col-md-3">
                           <h1>Contact Us</h1>
                           <p style="color:#fff">If you have any concerns or questions, please do not hesitate to contact us through ebay messages only.</p>
                        </div>
                        <div class="col-md-3">
                           <h1>Newsletter</h1>
                           <p style="color:#fff">Subscribe to our newsletter and keep in touch via e-mail about new offers, promotions or other news.</p>
                           <a class="newsletter" href="https://signin.ebay.com/ws/ebayISAPI.dll?SignIn&ru=https%3A%2F%2Fwww.ebay.com%2Fusr%2Fpchelpz90&pageType=3984" target="_blank"><i class="fa fa-envelope-o fa-fw"></i> Subscribe to Newsletter</a>
                        </div>
                        <div class="col-md-3 text-left">
                           <h1>Payments</h1>
                           <p style="color:#fff">Secure Payments by</p>
                           <img src="https://e-commerceguru.com/clients/love3/temp/img/paypal.png">
                        </div>
                     </div>
                     
                  </div>
               </div>
               
</body>
</html>