<table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td>


    <title>Demo1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/tradingStyle.css">
    <link rel="stylesheet" href=" " integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">


    <!-- Top Menubar -->

    <div class="container-fluid Topheader">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <p class="WelcomeText">
                        <span class="HomeIcon"><i class="fas fa-home"></i></span>
                        Welcome to
                        <span class="BrandName"><span style="text-transform: none;">i</span>Tronik</span>
                    </p>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <ul class="TopMenuUl">
                        <li class="TopMenuLi">
                            <p class="TopMenuText">
                                <span class="TopMenuIcon"><i class="fab fa-paypal"></i></span>
                                <a href="#" class="TopMenuLink DecorNone">Payment</a>
                            </p>
                        </li>
                        <li class="TopMenuLi">
                            <p class="TopMenuText">
                                <span class="TopMenuIcon"><i class="fas fa-truck"></i></span>
                                <a href="#" class="TopMenuLink DecorNone">Shipping</a>
                            </p>
                        </li>
                        <li class="TopMenuLi">
                            <p class="TopMenuText">
                                <span class="TopMenuIcon"><i class="fas fa-undo"></i></span>
                                <a href="#" class="TopMenuLink DecorNone">Return</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Logo Container -->
    <div class="container-fluid LogoContainer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <!-- <!-- <div class="container-fluid text-center FavoriteContainer"> -->
                        <p class="FavoriteBox">
                            <span class="FavoriteIcon"><i class="fas fa-heart"></i></span>
                            <a href="" class="DecorNone">
                                <span class="FavoriteText">Add to favorite</span>
                            </a>
                        </p>
                    </div> -->
                </div>
                <div class="col-sm-4">
                    <div class="containerf-fluid LogoBox">
                        <img src="image/download.jpg" alt="Logo Image" class="LogoImage">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="container-fluid text-center">
                        
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Menubar

    <div class="container-fluid MenubarBox">
        <ul class="MenubarUl">
            <li class="MenubarLi">
                <a href="" class="DecorNone">
                    <p class="MenubarText"></p>
                </a>
            </li>
            <li class="MenubarLi">
                <a href="#" class="DecorNone">
                    <p class="MenubarText">Home</p>
                </a>
            </li>
            <li class="MenubarLi">
                <a href="#" class="DecorNone">
                    <p class="MenubarText">Products</p>
                </a>
            </li>
            <li class="MenubarLi">
                <a href="#" class="DecorNone">
                    <p class="MenubarText">About Us</p>
                </a>
            </li>
            <li class="MenubarLi">
                <a href="https://www.ebay.co.uk/str/itronikltd" class="DecorNone">
                    <p class="MenubarText">Sale</p>
                </a>
            </li>
            <li class="MenubarLi">
                <a href="http://contact.ebay.co.uk/ws/eBayISAPI.dll?FindAnswers&amp;requested=itronik_ltd&amp;_trksid=p2545226.m2531.l4583&amp;rt=nc" class="DecorNone">
                    <p class="MenubarText">Contact Us</p>
                </a>
            </li>
            <li class="MenubarLi">
                <a href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&amp;userid=itronik_ltd&amp;ftab=AllFeedback&amp;myworld=true&amp;rt=nc" class="DecorNone">
                    <p class="MenubarText">Feedback</p>
                </a>
            </li>
            <li class="MenubarLi">
                <a href="" class="DecorNone">
                    <p class="MenubarText"></p>
                </a>
            </li>
        </ul>
    </div>

    <!-- Banner -->

    <div class="container-fluid banner_container" style="padding: 0;">
        <div class="container-fluid banner_slider" style="padding: 0;">
            <figure>
                <div class="container-fluid slides" style="padding: 0;">
                    <img src="image/download.jpg" class="slideimage">
                    <a href="" class="btn ShopNowBtn BanShopNowBtn">Shop Now</a>
                </div>
                <div class="container-fluid slides" style="padding: 0;">
                    <img src="image/download.jpg" class="slideimage">

                </div>
                <div class="container-fluid slides" style="padding: 0;">
                    <img src="image/download.jpg" class="slideimage">
                </div>
            </figure>
        </div>

        <!-- Services -->

        <div class="container-fluid ServiceBox">
            <div class="container">
                <ul class="ServiceUl">
                    <li class="ServiceLi">
                        <p class="ServiceText" style="text-transform: uppercase;font-size: 22px;">Why shop with us</p>
                    </li>
                    <li class="ServiceLi">
                        <p class="ServiceText">
                            <span class="ServiceIcon"><i class="fas fa-gift"></i></span>
                            Great for Gifts
                        </p>
                    </li>
                    <li class="ServiceLi">
                        <p class="ServiceText">
                            <span class="ServiceIcon"><i class="fas fa-dollar-sign"></i></span>
                            Affordable Price
                        </p>
                    </li>
                    <li class="ServiceLi">
                        <p class="ServiceText">
                            <span class="ServiceIcon"><i class="fas fa-smile"></i></span>
                            100% Satisfection Guarentee
                        </p>
                    </li>
                    <li class="ServiceLi">
                        <p class="ServiceText">
                            <span class="ServiceIcon"><i class="fas fa-thumbs-up"></i></span>
                            Quality Products
                        </p>
                    </li>
                    <li class="ServiceLi">
                        <p class="ServiceText">
                            <span class="ServiceIcon"><i class="fas fa-clock"></i></span>
                            24 Hour Dispatch
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div></td></tr></tbody></table>




    <table width="100%" cellspacing="0" cellpadding="0"><tbody><tr><td colspan="3" rowspan="1" height="15"><img width="1" height="15" src="http://pics.ebaystatic.com/aw/pics/s.gif"></td></tr><tr><td colspan="1" rowspan="1">
                                                    <table id="TopPromoArea" cellspacing="0" cellpadding="0" border="0" width="100%"></table>
                                                </td></tr><tr><td align="left" colspan="1" rowspan="1" valign="top" id="CentralArea"><!-- Categories -->
<!--  -->

    <div class="container-fluid CategoryContainer">
        <div class="container-fluid text-center TitleBox">
            <h2 class="SectionTitle">Shop By <span class="themeColor">Categories</span></h2>
        </div>

        <!-- Category Boxes -->

        <div class="container-fluid">
            <div class="row">
                <!-- First row -->
                <div class="col-sm-3">
                    <div class="container-fluid CategoryBox" style="padding:0;">
                        <img src="image/download.jpg" alt="Category Image" class="CategoryImage">
                        <p class="CategoryTitle">E-Liquids</p>
                        <p class="CategoryPrice">From Â£1.19</p>
                        <div class="CategoryBoxLayer">
                            <p class="LayerData">E-Liquids</p>
                            <p class="LayerData">From Â£1.19</p>
                            <a href="https://www.ebay.co.uk/sch/E-Liquids-E-Cig-Cartridges/183499/m.html?item=283426009574&amp;hash=item41fd81b1e6&amp;_ssn=itronik_ltd&amp;_sac=1"><button class="btn LinkBtn" type="button">Shop Now</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="container-fluid CategoryBox" style="padding:0;">
                        <img src="image/download.jpg" alt="Category Image" class="CategoryImage">
                        <p class="CategoryTitle">Home</p>
                        <p class="CategoryPrice">From Â£0.99</p>
                        <div class="CategoryBoxLayer">
                            <p class="LayerData">Home</p>
                            <p class="LayerData">From Â£0.99</p>
                            <a href="https://www.ebay.co.uk/sch/Home-Furniture-DIY/11700/m.html?item=283426009574&amp;hash=item41fd81b1e6&amp;_ssn=itronik_ltd"><button class="btn LinkBtn" type="button">Shop Now</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="container-fluid CategoryBox" style="padding:0;">
                        <img src="image/download.jpg" alt="Category Image" class="CategoryImage">
                        <p class="CategoryTitle">Kitchen</p>
                        <p class="CategoryPrice">From Â£1.99</p>
                        <div class="CategoryBoxLayer">
                            <p class="LayerData">Kitchen</p>
                            <p class="LayerData">From Â£1.99</p>
                            <a href="https://www.ebay.co.uk/sch/Home-Furniture-DIY/11700/m.html?item=283426009574&amp;hash=item41fd81b1e6&amp;_ssn=itronik_ltd"><button class="btn LinkBtn" type="button">Shop Now</button></a>
                        </div>
                    </div>
                </div>
                
                <!-- Second Row -->
                <div class="col-sm-3">
                    <div class="container-fluid CategoryBox" style="padding:0;">
                        <img src="image/download.jpg" alt="Category Image" class="CategoryImage">
                        <p class="CategoryTitle">Party Supplies</p>
                        <p class="CategoryPrice">From Â£2.99</p>
                        <div class="CategoryBoxLayer">
                            <p class="LayerData">Party Supplies</p>
                            <p class="LayerData">From Â£2.99</p>
                            <a href="https://www.ebay.co.uk/sch/Balloons/26384/m.html?item=283426009574&amp;hash=item41fd81b1e6&amp;_ssn=itronik_ltd&amp;_sac=1"><button class="btn LinkBtn" type="button">Shop Now</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="container-fluid CategoryBox" style="padding:0;">
                        <img src="image/download.jpg" alt="Category Image" class="CategoryImage">
                        <p class="CategoryTitle">Light Bulbs</p>
                        <p class="CategoryPrice">From Â£4.99</p>
                        <div class="CategoryBoxLayer">
                            <p class="LayerData">Light Bulbs</p>
                            <p class="LayerData">From Â£4.99</p>
                            <a href="https://www.ebay.co.uk/sch/Light-Bulbs/20706/m.html?item=283426009574&amp;hash=item41fd81b1e6&amp;_ssn=itronik_ltd&amp;_sac=1"><button class="btn LinkBtn" type="button">Shop Now</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="container-fluid CategoryBox" style="padding:0;">
                        <img src="image/download.jpg" alt="Category Image" class="CategoryImage">
                        <p class="CategoryTitle">Office</p>
                        <p class="CategoryPrice">From Â£2.69</p>
                        <div class="CategoryBoxLayer">
                            <p class="LayerData">Office</p>
                            <p class="LayerData">From Â£2.69</p>
                            <a href="https://www.ebay.co.uk/sch/Business-Office-Industrial/12576/m.html?item=283426009574&amp;hash=item41fd81b1e6&amp;_ssn=itronik_ltd&amp;_sac=1"><button class="btn LinkBtn" type="button">Shop Now</button></a>
                        </div>
                    </div>
                </div>
                <!-- Third Row -->
                <div class="col-sm-3">
                    <div class="container-fluid CategoryBox" style="padding:0;">
                        <img src="image/download.jpg" alt="Category Image" class="CategoryImage">
                        <p class="CategoryTitle">Sound &amp; Vision</p>
                        <p class="CategoryPrice">From Â£1.59</p>
                        <div class="CategoryBoxLayer">
                            <p class="LayerData">Sound &amp; Vision</p>
                            <p class="LayerData">From Â£1.59</p>
                            <a href="https://www.ebay.co.uk/sch/Sound-Vision/293/m.html?item=283426009574&amp;hash=item41fd81b1e6&amp;_ssn=itronik_ltd&amp;_sac=1"><button class="btn LinkBtn" type="button">Shop Now</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="container-fluid CategoryBox" style="padding:0;">
                        <img src="image/download.jpg" alt="Category Image" class="CategoryImage">
                        <p class="CategoryTitle">Toys &amp; Games</p>
                        <p class="CategoryPrice">From Â£1.69</p>
                        <div class="CategoryBoxLayer">
                            <p class="LayerData">Toys &amp; Games</p>
                            <p class="LayerData">From Â£1.69</p>
                            <a href="https://www.ebay.co.uk/sch/Toys-Games/220/m.html?item=283426009574&amp;hash=item41fd81b1e6&amp;_ssn=itronik_ltd&amp;_sac=1"><button class="btn LinkBtn" type="button">Shop Now</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Products -->

    <div class="container-fluid ProductContainer">
        <div class="container-fluid text-center TitleBox">
            <h2 class="SectionTitle">Shop <span class="themeColor">Products</span></h2>
        </div>

        <!-- Product Boxes -->
        <div class="container ProductBoxes">
            <div class="row">
                <!-- 1st row -->
                <div class="col-sm-4">
                    <a href="https://www.ebay.co.uk/itm/88-Vape-UK-Made-TPD-E-Liquid-11mg-16mg-18-Vape-Juice-Flavours-VAPING-ANYTANK/283445591289?hash=item41feac7cf9:m:mM3jEUxnsM0MEvbW0-Bb7Jg&amp;frcectupt=true" class="DecorNone">
                        <div class="container-fluid ProductBox">
                            <div class="container-fluid ProductImageBox">
                                <img src="image/download.jpg" alt="Product Image" class="ProductImage">
                            </div>
                            <h4 class="ProductTitle">88 Vape UK Made TPD E Liquid 11mg 16mg 18 Vape Juice Flavours VAPING ANYTANK***</h4>
                            <p class="ProductPrice">
                                <img src="image/download.jpg" alt="BuyNow" class="BuynowImage">
                                <span class="PriceText">£1.19</span>
                            </p>
                            <p class="ProductDesc">
                                <span>Postage:&nbsp;</span>
                                +UK £24.00
                            </p>
                            <p class="ProductDesc">
                                <span>Time Left:&nbsp;</span>
                                1h 4m
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="https://www.ebay.co.uk/itm/Just-Stationery-Pack-Of-8-PASTEL-Genuine-Permanent-Markers-Pen-Fine-Point-Nib/283427006885?hash=item41fd90e9a5:g:U3EAAOSwX5pclShu" class="DecorNone">
                        <div class="container-fluid ProductBox">
                            <div class="container-fluid ProductImageBox">
                                <img src="image/download.jpg" alt="Product Image" class="ProductImage">
                            </div>
                            <h4 class="ProductTitle">Just Stationery Pack Of 8 PASTEL Genuine Permanent Markers Pen Fine Point Nib</h4>
                            <p class="ProductPrice">
                                <img src="image/download.jpg" alt="BuyNow" class="BuynowImage">
                                <span class="PriceText">£19.69</span>
                            </p>
                            <p class="ProductDesc">
                                <span>Postage:&nbsp;</span>
                                +UK £24.00
                            </p>
                            <p class="ProductDesc">
                                <span>Time Left:&nbsp;</span>
                                1h 4m
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="https://www.ebay.co.uk/itm/Spiral-Key-Chain-Snap-Belt-Clip-On-Ring-Stretch-Coil-Spring-Keyring-Safe-Kids-UK/283441355544?hash=item41fe6bdb18:m:mkTU2nBtV3BXKSStKx4mYqg" class="DecorNone">
                        <div class="container-fluid ProductBox">
                            <div class="container-fluid ProductImageBox">
                                <img src="image/download.jpg" alt="Product Image" class="ProductImage">
                            </div>
                            <h4 class="ProductTitle">Spiral Key Chain Snap Belt Clip On Ring Stretch Coil Spring Keyring Safe Kids UK</h4>
                            <p class="ProductPrice">
                                <img src="image/download.jpg" alt="BuyNow" class="BuynowImage">
                                <span class="PriceText">£0.99</span>
                            </p>
                            <p class="ProductDesc">
                                <span>Postage:&nbsp;</span>
                                +UK £24.00
                            </p>
                            <p class="ProductDesc">
                                <span>Time Left:&nbsp;</span>
                                1h 4m
                            </p>
                        </div>
                    </a>
                </div>
                <!-- 2nd row -->
                <div class="col-sm-4">
                    <a href="https://www.ebay.co.uk/itm/NON-RUSTING-STRONG-24-PLASTIC-CLOTH-PEGS-WASHING-LINE-LAUNDRY-DURABLE-PEG/283444105231?hash=item41fe95d00f:g:Jx0AAOSw1~dc3Zip" class="DecorNone">
                        <div class="container-fluid ProductBox">
                            <div class="container-fluid ProductImageBox">
                                <img src="image/download.jpg" alt="Product Image" class="ProductImage">
                            </div>
                            <h4 class="ProductTitle">NON RUSTING STRONG 24 PLASTIC CLOTH PEGS WASHING LINE LAUNDRY DURABLE PEG</h4>
                            <p class="ProductPrice">
                                <img src="image/download.jpg" alt="BuyNow" class="BuynowImage">
                                <span class="PriceText">£2.99</span>
                            </p>
                            <p class="ProductDesc">
                                <span>Postage:&nbsp;</span>
                                +UK £24.00
                            </p>
                            <p class="ProductDesc">
                                <span>Time Left:&nbsp;</span>
                                1h 4m
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="https://www.ebay.co.uk/itm/PANASONIC-D-2-PACK-zinc-carbon-batteries-quantity-discount-available/283476158949?hash=item42007ee9e5:g:QtcAAOSw1lxclVPA" class="DecorNone">
                        <div class="container-fluid ProductBox">
                            <div class="container-fluid ProductImageBox">
                                <img src="image/download.jpg" alt="Product Image" class="ProductImage">
                            </div>
                            <h4 class="ProductTitle">PANASONIC D - 2 PACK zinc carbon batteries - quantity discount available</h4>
                            <p class="ProductPrice">
                                <img src="image/download.jpg" alt="BuyNow" class="BuynowImage">
                                <span class="PriceText">£1.99</span>
                            </p>
                            <p class="ProductDesc">
                                <span>Postage:&nbsp;</span>
                                +UK £24.00
                            </p>
                            <p class="ProductDesc">
                                <span>Time Left:&nbsp;</span>
                                1h 4m
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="https://www.ebay.co.uk/itm/NEW-WILD-WEST-RIFLE-WITH-SOUND-SHOOTING-PRETEND-PLAY-KIDS-FUN-TOY-GIFT-GAME/283446522987?hash=item41febab46b:g:IWoAAOSwF59crRXY" class="DecorNone">
                        <div class="container-fluid ProductBox">
                            <div class="container-fluid ProductImageBox">
                                <img src="image/download.jpg" alt="Product Image" class="ProductImage">
                            </div>
                            <h4 class="ProductTitle">NEW WILD WEST RIFLE WITH SOUND SHOOTING PRETEND PLAY KIDS FUN TOY GIFT GAME</h4>
                            <p class="ProductPrice">
                                <img src="image/download.jpg" alt="BuyNow" class="BuynowImage">
                                <span class="PriceText">£5.95</span>
                            </p>
                            <p class="ProductDesc">
                                <span>Postage:&nbsp;</span>
                                +UK £24.00
                            </p>
                            <p class="ProductDesc">
                                <span>Time Left:&nbsp;</span>
                                1h 4m
                            </p>
                        </div>
                    </a>
                </div>
            </div><!-- end row -->

            <!-- Browse all -->
            <div class="container-fluid text-center">
                <a href="https://www.ebay.co.uk/sch/m.html?item=283426009574&amp;hash=item41fd81b1e6&amp;_ssn=itronik_ltd&amp;_sac=1#seeAllAnchorLink" class="DecorNone">
                    <button class="btn BrowseBtn" type="button">Browse all products</button>
                </a>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <div class="container-fluid FooterContainer">
        <div class="container NewlettterBox">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <h4 class="NewsletterText">NEWSLETTER SIGN UP!</h4>
                </div>
                <div class="col-sm-6">
                    <p class="NewsletterDesc">Sign Up to our newsletter and get all Latest News, Updates and Offers.</p>
                </div>
                <div class="col-sm-1">
                    <a href="">
                        <button class="btn SignupBtn">Sign up now</button>
                    </a>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <!-- Information Box -->

        <div class="container InformationBox">
            <div class="row">
                <div class="col-sm-5">
                    <h5 class="InformationTitle">INFORMATION</h5>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="container-fluid LinkBox">
                                <ul class="FLinkUl">
                                    <li class="FLinkLi">
                                        <a href="https://www.ebay.co.uk/str/itronikltd/pages/about" class="DecorNone">
                                            <p class="FlinkText">
                                                <span class="FLinkIcon"><i class="fas fa-caret-right"></i></span>
                                                About Us
                                            </p>
                                        </a>
                                    </li>
                                    <li class="FLinkLi">
                                        <a href="https://www.ebay.co.uk/str/itronikltd/pages/payment" class="DecorNone">
                                            <p class="FlinkText">
                                                <span class="FLinkIcon"><i class="fas fa-caret-right"></i></span>
                                                Payment
                                            </p>
                                        </a>
                                    </li>
                                    <li class="FLinkLi">
                                        <a href="https://www.ebay.co.uk/str/itronikltd/pages/shipping" class="DecorNone">
                                            <p class="FlinkText">
                                                <span class="FLinkIcon"><i class="fas fa-caret-right"></i></span>
                                                Shipping
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="container-fluid LinkBox">
                                <ul class="FLinkUl">
                                    <li class="FLinkLi">
                                        <a href="https://www.ebay.co.uk/str/itronikltd/pages/return" class="DecorNone">
                                            <p class="FlinkText">
                                                <span class="FLinkIcon"><i class="fas fa-caret-right"></i></span>
                                                Return
                                            </p>
                                        </a>
                                    </li>
                                    <li class="FLinkLi">
                                        <a href="https://www.ebay.co.uk/str/iTronik-ltd?_trksid=p2047675.l2563" class="DecorNone">
                                            <p class="FlinkText">
                                                <span class="FLinkIcon"><i class="fas fa-caret-right"></i></span>
                                                Store Home
                                            </p>
                                        </a>
                                    </li>
                                    <li class="FLinkLi">
                                        <a href="http://contact.ebay.co.uk/ws/eBayISAPI.dll?FindAnswers&amp;requested=itronik_ltd&amp;_trksid=p2545226.m2531.l4583&amp;rt=nc" class="DecorNone">
                                            <p class="FlinkText">
                                                <span class="FLinkIcon"><i class="fas fa-caret-right"></i></span>
                                                Contact Us
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="container-fluid LinkBox">
                                <ul class="FLinkUl">
                                    <li class="FLinkLi">
                                        <a href="https://www.ebay.co.uk/str/itronikltd" class="DecorNone">
                                            <p class="FlinkText">
                                                <span class="FLinkIcon"><i class="fas fa-caret-right"></i></span>
                                                All Items
                                            </p>
                                        </a>
                                    </li>
                                    <li class="FLinkLi">
                                        <a href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&amp;userid=itronik_ltd&amp;ftab=AllFeedback&amp;myworld=true&amp;rt=nc" class="DecorNone">
                                            <p class="FlinkText">
                                                <span class="FLinkIcon"><i class="fas fa-caret-right"></i></span>
                                                Feedback
                                            </p>
                                        </a>
                                    </li>
                                    <li class="FLinkLi">
                                        <a href="https://www.ebay.co.uk/usr/itronik_ltd?_trksid=p2047675.l2559#" class="DecorNone">
                                            <p class="FlinkText">
                                                <span class="FLinkIcon"><i class="fas fa-caret-right"></i></span>
                                                Add to Favourites
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <h5 class="InformationTitle">PAYMENT OPTIONS</h5>
                    <div class="container-fluid PaymentBox">
                        <img src="image/download.jpg" alt="Payment Image" class="PaymentImage">
                    </div>
                </div>
                <div class="col-sm-4 text-center">
                    <h5 class="InformationTitle">SHOP WITH CONFIDENCE</h5>
                    <div class="container-fluid ConfBox">
                        <img src="image/download.jpg" alt="SHOP WITH CONFIDENCE" class="ConfImage">
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright -->
        <div class="container-fluid CopyrightBox">
            <p class="CopyrightText">Â© Copyright 2018 <span class="FBrandName">iTRONIK</span> All rights reserved.</p>
        </div>
    </div>

    

</td></tr></tbody></table>