<link href="https://meotech.org/ebay/alex_ha192/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
   type="text/css">
<link rel="stylesheet" href="https://meotech.org/ebay/klaudiusz45/styles.css" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Language" content="en">
<div class="listing_background">
   <div>
      <div class="maindv">
         <div class="maindvin">
            <div class="maindvinin">
               <div class="topbanner"> <img src="https://meotech.org/ebay/klaudiusz45/Images/banner_top.png" width="100%"> </div>
               <div class="menubar">
                  <nav>
                     <label for="drop" class="toggle">Menu</label><input type="checkbox" id="drop" />
                     <ul class="menu">
                        <li><a target="_blank" href="https://www.ebay.co.uk/str/bumperluxe" class="homea">Home</a></li>
                        <li><a target="_blank" href="https://www.ebay.co.uk/str/bumperluxe?_tab=about">About Us</a></li>
                        <li><a target="_blank" href="https://www.ebay.co.uk/str/bumperluxe?_tab=feedback">Reviews</a>
                        </li>
                        <li><a target="_blank"
                              href="https://www.ebay.co.uk/cnt/intermediatedFAQ?requested=motorluxe.styling">Contact</a>
                        </li>
                     </ul>
                  </nav>
               </div>
               <!--CONTENT S-->
               <div class="content">
                  <div class="left_bar">
                     <div class="content_wrap content_pages">
                        <div class="content_title_outer">
                           <div class="content_title pages_title">
                              <p>Shop Pages</p>
                           </div>
                        </div>
                        <div class="left_content">
                           <ul class="ula">
                              <li class="lia"><a target="_blank" href="https://www.ebay.co.uk/str/bumperluxe"
                                    class="aa">Home</a></li>
                              <li class="lia"><a target="_blank" href="https://www.ebay.co.uk/str/bumperluxe?_tab=about"
                                    class="aa">About</a></li>
                              <li class="lia"><a target="_blank"
                                    href="https://www.ebay.co.uk/cnt/intermediatedFAQ?requested=motorluxe.styling"
                                    class="aa">Contact Us</a></li>
                              <li class="lia"><a target="_blank"
                                    href="https://www.ebay.co.uk/str/bumperluxe?_tab=feedback" class="aa">Feedbacks</a>
                              </li>
                              <li class="lia"><a target="_blank" href="https://www.ebay.co.uk/str/bumperluxe"
                                    class="aa">Items for Sale</a></li>
                           </ul>
                        </div>
                     </div>

                     <div class="payment"></div>
                     <div class="left1"></div>
                  </div>
                  <!--MIDDLE S-->
                  <div class="middle_bar">
                     <!--IMAGE GALLERY START-->
                     <div id="gallery_div">
                        <div class="gallery_div_in">
                           <input name="main_image" id="main_image1" autocomplete="off" checked="checked" type="radio">
                           <input name="main_image" id="main_image2" autocomplete="off" type="radio"> <input
                              name="main_image" id="main_image3" autocomplete="off" type="radio"> <input
                              name="main_image" id="main_image4" autocomplete="off" type="radio"> <input
                              name="main_image" id="main_image5" autocomplete="off" type="radio"> <input
                              name="main_image" id="main_image6" autocomplete="off" type="radio"> <input
                              name="main_image" id="main_image7" autocomplete="off" type="radio">
                           <div class="img_sec1">
                              <div id="content1" class="img-container">
                                 <input id="popup-1" autocomplete="off" type="checkbox">
                                 <label class="lbl lbl_box" for="popup-1">
                                    <div class="img-zoom"><img src="[TagBot?photo1?Photo no.1 =https://][TagBot?photo1]" alt="">
                                    </div>
                                 </label>
                              </div>
                              <div id="content2" class="img-container">
                                 <input id="popup-2" type="checkbox">
                                 <label class="lbl lbl_box" for="popup-2" autocomplete="off">
                                    <div class="img-zoom"><img src="[TagBot?photo1?Photo no.2 =https://][TagBot?photo1]"
                                          alt=""></div>
                                 </label>
                              </div>
                              <div id="content3" class="img-container">
                                 <input id="popup-3" type="checkbox">
                                 <label class="lbl lbl_box" for="popup-3" autocomplete="off">
                                    <div class="img-zoom"><img src="[TagBot?photo1?Photo no.3 =https://][TagBot?photo1]"
                                          alt=""></div>
                                 </label>
                              </div>
                              <div id="content4" class="img-container">
                                 <input id="popup-4" type="checkbox">
                                 <label class="lbl lbl_box" for="popup-4" autocomplete="off">
                                    <div class="img-zoom"><img src="[TagBot?photo1?Photo no.4 =https://][TagBot?photo1]"
                                          alt=""></div>
                                 </label>
                              </div>
                              <div id="content5" class="img-container">
                                 <input id="popup-5" type="checkbox">
                                 <label class="lbl lbl_box" for="popup-5" autocomplete="off">
                                    <div class="img-zoom"><img src="[TagBot?photo1?Photo no.5 =https://][TagBot?photo1]"
                                          alt=""></div>
                                 </label>
                              </div>
                              <div id="content6" class="img-container">
                                 <input id="popup-6" type="checkbox">
                                 <label class="lbl lbl_box" for="popup-6" autocomplete="off">
                                    <div class="img-zoom"><img src="[TagBot?photo1?Photo no.6 =https://][TagBot?photo1]"
                                          alt=""></div>
                                 </label>
                              </div>
                           </div>
                           <div class="img_sec2">
                              <label class="lbl" for="main_image1">
                                 <div class="box"><img src="[TagBot?photo1?Photo no.1 =https://][TagBot?photo1]" alt=""></div>
                              </label>
                              <label class="lbl" for="main_image2">
                                 <div class="box"><img src="[TagBot?photo1?Photo no.2 =https://][TagBot?photo1]" alt="">
                                 </div>
                              </label>
                              <label class="lbl" for="main_image3">
                                 <div class="box"><img src="[TagBot?photo1?Photo no.3 =https://][TagBot?photo1]" alt="">
                                 </div>
                              </label>
                              <label class="lbl" for="main_image4">
                                 <div class="box"><img src="[TagBot?photo1?Photo no.4 =https://][TagBot?photo1]" alt="">
                                 </div>
                              </label>
                              <label class="lbl" for="main_image5">
                                 <div class="box"><img src="[TagBot?photo1?Photo no.5 =https://][TagBot?photo1]" alt="">
                                 </div>
                              </label>
                              <label class="lbl" for="main_image6">
                                 <div class="box"><img src="[TagBot?photo1?Photo no.6 =https://][TagBot?photo1]" alt="">
                                 </div>
                              </label>
                           </div>
                        </div>
                     </div>
                     <!--IMAGE GALLERY END--> <!--ITEM DESCRIPTION S-->
                     <div class="content_wrap  content_description">
                        <div class="content_title_outer">
                           <div class="content_title description_title">
                              <p>Item Description</p>
                           </div>
                        </div>
                        <div class="description_content">
                           <div class="dv1">
                              <h2>[TAGBOT- ][TAGBOT TITLE =]</h2>
                              <div class="dv2">
                                 <div id="des_content_nw">
                                    <p>[TAGBOT- ][TAGBOT DESCRIPTION=]</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="description_content">
                           <div class="dv1">
                              <div class="dv2">
                                 <!-- <div id="des_content_nw">
                                    <img src="https://meotech.org/ebay/klaudiusz45/Images/ban.png">
                                 </div> -->
                                 <div class="">
                                    <div class="featured-header">Featured Categories</div>
                                    <div class="featured-grid">
                                       <div class="featured-item-div">
                                          <div class="featured-item">
                                             <a
                                                href="https://www.ebay.co.uk/str/bumperluxe/Vehicle-Parts-Accessories/_i.html?_sacat=131090">
                                                <img src="https://meotech.org/ebay/klaudiusz45/Images/cat_01.webp"
                                                   alt="Alloy Wheels"><span>Vehicle Parts & Accessories
                                                </span>
                                             </a>
                                          </div>
                                          <div class="featured-item">
                                             <a href="https://www.ebay.co.uk/str/bumperluxe/Car-Tuning-Styling/_i.html?_sacat=107059">
                                                <img src="https://meotech.org/ebay/klaudiusz45/Images/cat_03.webp" alt="Parts"><span>Car Tuning & Styling
                                             </span>
                                             </a>
                                          </div>
                                       </div>
                                       <div class="featured-item-div">
                                          <div class="featured-item">
                                            <a href="https://www.ebay.co.uk/str/bumperluxe/Car-Parts-Accessories/_i.html?_sacat=6030">
                                                <img src="https://meotech.org/ebay/klaudiusz45/Images/cat_02.webp"
                                                alt="Lighting"><span>Car Parts & Accessories
                                             </span>
                                            </a>
                                          </div>
                                          <div class="featured-item">
                                             <a href="https://www.ebay.co.uk/str/bumperluxe/Home-Furniture-DIY/_i.html?_sacat=11700">
                                                <img src="https://meotech.org/ebay/klaudiusz45/Images/cat_05.avif"
                                                alt="Accessories"><span>Home, Furniture & DIY
                                             </span>
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="listing_content">
         <div id="listingarea">
            <div class="listing-tab">
               <main>

                  <input id="tab1" type="radio" name="tabs" checked="">
                  <label for="tab1"><span>About Us</span></label>

                  <input id="tab2" type="radio" name="tabs">
                  <label for="tab2"><span>Shipping</span></label>

                  <input id="tab3" type="radio" name="tabs">
                  <label for="tab3"><span>Terms of sale</span></label>

                  <input id="tab4" type="radio" name="tabs">
                  <label for="tab4"><span>Feedback </span></label>

                  <input id="tab5" type="radio" name="tabs">
                  <label for="tab5"><span>Customer Service</span></label>

                  <section id="content1">

                     <div>
                        <p>
                           At MotorLuxe Components we pride ourselves on customer service. We also do our best to make
                           you happy. With us you can shop with confidence. We are specialists in Front Bumpers,
                           Headlight and M Performance Kits.
                        </p>

                     </div>

                  </section>
                  <section id="content2">
                     <p>We deliver to the UK Mainland unless you can organise your own courier. Collection in person
                        preffered. Bumpers get sent out the following working day if purchased before 12:30pm otherwise
                        it will be the day after. Headlights get sent the following working day when payment is made.
                     </p>
                  </section>
                  <section id="content3">

                     <p>
                        If you return the item, we will issue a full refund on the item however, we will not issue a
                        refund on the delivery charge. To avoid this disappointment, please get in touch with us first
                        to ensure it's the correct item for your vehicle. No refund will be issued until we receive the
                        item and inspect it. For more detailed Terms and conditions view our terms on business
                        information.


                     </p>

                  </section>
                  <section id="content4">
                     <p>It means a lot to us if you are able to take the time to leave us with positive feedback, we
                        return all positive feedback.
                     </p>
                  </section>
                  <section id="content5">
                     <p>We can be contacted if you have any questions, comments or product requests. We will respond as
                        quick as we possibly can.

                     </p>
                  </section>
               </main>
            </div>
            <div class="mobile-tab">
               <ul class="accordion css-accordion">
                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-1">
                     <label for="item-1" class="accordion-item-hd">About Us<span
                           class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">
                        <h4>Welcome to Myjudaica</h4>

                        <p>At <strong>Myjudaica</strong>, we specialize in bringing you the finest selection of
                           authentic Jewish religious items. As an official reseller of various trusted brands, our
                           strong relationships with manufacturers allow us to offer you the best prices on meaningful
                           Judaica treasures.</p>

                        <p>Our team of experts understands the significance of every piece we offer, ensuring that you
                           receive high-quality items that honor tradition and faith. We work around the clock to
                           provide outstanding service, making your shopping experience smooth and satisfying.</p>

                        <p>Your connection to heritage is our priority, and we’ll always strive to make your visit with
                           us special. Feel free to reach out with any questions—we’re here for you!</p>

                        <h4><em>Myjudaica – Embracing Tradition, Enriching Faith.</em></h4>
                     </div>
                  </li>

                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-2">
                     <label for="item-2" class="accordion-item-hd">Payment<span
                           class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">
                        <p>We accept PayPal only. Our goods are being sold daily to our dear customers around the world.
                        </p>
                     </div>
                  </li>

                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-3">
                     <label for="item-3" class="accordion-item-hd">Shipping<span
                           class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">
                        <h4>Shipping Information</h4>

                        <p><strong>We ship worldwide.</strong> All orders are shipped within <strong>up to 2 business
                              days</strong> after payment is received.</p>

                        <p>Before purchasing, please ensure that your <strong>PayPal and eBay address</strong> are
                           correct.</p>

                        <p>Orders are typically delivered to most countries within <strong>10-14 business days.</strong>
                        </p>

                        <p>We will gladly <strong>combine shipping.</strong> You are welcome to contact us before making
                           payment for multiple items.</p>

                        <h4>Important Notice:</h4>

                        <p><strong>Import duties, taxes, and charges</strong> are the buyer's responsibility. Please
                           check with your country’s customs office prior to bidding or purchasing.</p>
                     </div>
                  </li>

                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-4">
                     <label for="item-4" class="accordion-item-hd">Return<span
                           class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">
                        <p>We do all that is in our power to give our customers a wonderful shopping experience.
                           However, if for any reason you are not 100% satisfied with your purchase, please allow us to
                           solve it by contacting us regarding your concern.</p>

                        <p>We have a simple Return Policy - <strong>Money back guarantee!</strong> If for any reason you
                           would like to return your item, you are welcome to do so. An item can be returned for a
                           refund less nominal shipping charges. An item can be returned within <strong>30 days</strong>
                           after receiving it and should be in its original condition.</p>
                     </div>
                  </li>

                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-5">
                     <label for="item-5" class="accordion-item-hd">Customer Service<span
                           class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">
                        <p>We have a professional team that will address your concerns <strong>24 hours a day, 7 days a
                              week.</strong> Please send us an eBay message, and we will get back to you quickly.</p>

                        <p>We have our customers' best interest in mind and assure that each concern will be dealt with
                           respectfully.</p>
                     </div>
                  </li>
               </ul>
            </div>

         </div>
      </div>
   </div>
   <div class="bannerprom_wapper">
      <div class="container">
         <div class="row">
         </div>
      </div>
   </div>
   <footer class="footer_main_wapper">
      <div class="newsletter_footer_wapper">
         <div class="container">
            <div class="newsletter_footer">
               <div class="row align-items-center">
                  <div class="col-md-9">
                     <div class="newsletter_icon"> <img class="img-fluid" src="https://meotech.org/ebay/klaudiusz45/Images/newsletter_icon.png" alt="">
                     </div>
                     <div class="newsletter_titel">BECOME A MEMBER AT MotorLuxe Styling <span>Receive important information,
                           offers, and sign up for our newsletter.</span> </div>
                  </div>
                  <div class="col-md-3">
                     <div class="newsletter_btn"> <a href="https://www.ebay.co.uk/str/bumperluxe" target="_blank"> </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="store_footer_wapper">
         <div class="container">
            <div class="row row-eq-height">
               <div class="col-md-3">
                  <div class="footer_block">
                     <div class="footer_logo">
                        <a href="https://www.ebay.co.uk/str/bumperluxe" target="_blank">
                           <img class="footer-logo-main" src="https://meotech.org/ebay/klaudiusz45/Images/logo_1.jpg" alt="">
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="footer_block">
                     <div class="footer_block_titel">Useful Links</div>
                     <div class="footer_menu">
                        <ul>
                           <li><a target="_blank" href="https://www.ebay.co.uk/str/bumperluxe">Home</a></li>
                           <li><a target="_blank" href="https://www.ebay.co.uk/str/bumperluxe?_tab=about">About Us</a>
                           </li>
                           <li><a target="_blank"
                                 href="https://www.ebay.com/cnt/intermediatedFAQ?requested=sipa-8428">Contact</a></li>
                           <li><a target="_blank" href="https://www.ebay.co.uk/str/bumperluxe?_tab=feedback">Reviews</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="footer_block">
                     <div class="footer_block_titel">Payment Options</div>
                     <div class="footer_payment">
                        <img src="https://meotech.org/ebay/klaudiusz45/Images/footer_payment.png" class="img-fluid">
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="footer_block">
                     <div class="footer_block_titel">Secure Shopping</div>
                     <div class="footer_payment2 text-center">
                        <img src="https://meotech.org/ebay/klaudiusz45/Images/footer_payment2.png" class="img-fluid t-star"
                           width="70%">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="footer_bottom">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-md-6">
                  <div class="store_copyright"> © Copyright 2025, <a target="_blank"><span>MotorLuxe Styling</span></a>
                     All
                     rights reserved. </div>
               </div>
               <div class="col-md-6">
                  <div class="designby">
                     <h6 style="color:#fff">Design by <span style="color:black;">RS TechLabs</span> </h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
</div>