

      <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="https://meotech.org/ebay/Benwilliams145/style.css">
      <meta name="viewport" content="width=device-width">
      <title>Weareverythingnew</title>
      <div class="pagecon_out">
         <div class="pagecon">
            <div class="ds_header">
               <!--------- Replace text YOUR-USER-ID with your eBay user ID. Replace ebay.com to ebay.co.uk or others if necessary. --------->
               <a target="_blank" href="#" class="contact_mobile">Contact Us</a>
               <input id="menubtn" type="checkbox" name="menu">
               <label for="menubtn" class="menu_mobile"><img src="https://www.sayanchaga.com/ebaytemplate/sayan/mobile-menu-icon1.png"></label>
               <!------------------ Replace # with your store homepage url. Put your logo url below here. --------------------->
               <a target="_blank" href="#" class="headerlogo"><img src="https://meotech.org/ebay/Benwilliams145/images/logo.png"></a>
               <div class="toplinks">
                  <!-------- Change text YOUR-STORE-NAME to your store name that appears in the url of your store homepage. Change text YOUR-STORE-ID-NUMBER to your store id number that appears in the url of any of your store category pages (after "sid="). Replace ebay.com to ebay.co.uk or others if necessary. --------->
                  <a target="_blank" href="#">All Items</a> |
                  <a target="_blank" href="#">New Arrival</a> |
                  <a target="_blank" href="#">Ending Soon</a>
               </div>
               <div class="topnav">
                  <!-------------------- Replace # with your own url. ----------------------->
                  <a target="_blank" href="https://www.ebay.com/str/weareverythingnew" class="tfirst">Home</a>
                  <a target="_blank" href="#">About Us</a>
                  <a target="_blank" href="#">Feedback</a>
                  <!--------- Replace text YOUR-USER-ID with your eBay user ID. Replace ebay.com to ebay.co.uk or others if necessary. --------->
                  <a target="_blank" href="#">Contact Us</a>
                  <!--------- Replace text YOUR-USER-ID with your eBay user ID. Replace ebay.com to ebay.co.uk or others if necessary. --------->
                  <a target="_blank" href="#">Follow Us</a>
               </div>
               <img width="100%" src="https://meotech.org/ebay/Benwilliams145/images/ban1.png" responsive>
            </div>
            <div class="ds_left">
               <div class="leftbox leftcatbox">
                  <div class="lefttitle">Store Categories</div>
                  <input id="leftcatbtn" type="checkbox" name="leftcat">
                  <label for="leftcatbtn" class="leftcat_mobile">Store Categories</label>
                  <div class="leftcat">
                     <!----- START ----- Replace # with your category links. Change your category names. --------------------->
                     <a target="_blank" href="#">cat</a>

                     <a target="_blank" href="#">cat</a>

                     <a target="_blank" href="#">cat</a>

                     <a target="_blank" href="#">cat</a>
                    
                     <a target="_blank" href="#">cat</a>

                     <a target="_blank" href="#">cat</a>

                     <a target="_blank" href="#">cat</a>

                     <a target="_blank" href="#">cat</a>

                     <a target="_blank" href="#">cat</a>
                    <a target="_blank" href="#">cat</a>
                     <!----- END ----- Replace # with your category links. Change your category names. --------------------->
                  </div>
               </div>
               <div class="leftbox leftbox1">
                  <!-------------------- Replace text "Why Buy From Us" with your box title. Replace your image url below here. --------------------->
                  <div class="lefttitle">Why Buy From Us</div>
                  <img src="https://meotech.org/ebay/Benwilliams145/images/shipping.png">
               </div>
               <div class="leftbox leftbox1">
                  <!-------------------- Replace text "Store Newsletter" with your box title. --------------------->
                  <div class="lefttitle">Store Newsletter</div>
                  <!--------- Replace text YOUR-USER-ID with your eBay user ID. Replace ebay.com to ebay.co.uk or others if necessary. Replace your image url below here. --------->
                  <a target="_blank" href="#">
                     <img src="https://www.sayanchaga.com/ebaytemplate/sayan/newsletter2.jpg">
                  </a>
               </div>
               <div class="leftbox leftbox1">
                  <!-------------------- Replace text "Payment Methods" with your box title. Replace your image url below here. --------------------->
                  <div class="lefttitle">Payment Methods</div>
                  <img src="https://www.sayanchaga.com/ebaytemplate/sayan/paypal.png">
               </div>
            </div>
            <div class="ds_right">
               <div class="itemtitle">TITLE</div>
               <div class="gallerybox">
                  <!-- <img src="https://i.ebayimg.com/images/g/MCYAAOSwKP1frS9i/s-l500.png" respoonsive> -->
                   <input id="thumb1" type="radio" name="pics" class="picbtn" checked="">
                  <label for="thumb1" class="piclabel"><img src="https://i.ebayimg.com/images/g/MCYAAOSwKP1frS9i/s-l500.png"></label>

                  <input id="thumb2" type="radio" name="pics" class="picbtn">
                  <label for="thumb2" class="piclabel"><img src="https://i.ebayimg.com/images/g/jmMAAOSw7q5d02tI/s-l1600.jpg"></label>

                  <input id="thumb3" type="radio" name="pics" class="picbtn">
                  <label for="thumb3" class="piclabel"><img src="https://i.ebayimg.com/images/g/gJEAAOSwNhNd02tI/s-l1600.jpg"></label>

                  <input id="thumb4" type="radio" name="pics" class="picbtn">
                  <label for="thumb4" class="piclabel"><img src="https://i.ebayimg.com/images/g/5RwAAOSwzb5d02tI/s-l1600.jpg"></label>


                  <div>click thumbnails above to enlarge</div>

                  <div class="largepic" id="pic1"><img src="https://i.ebayimg.com/images/g/MCYAAOSwKP1frS9i/s-l500.png"></div>

                  <div class="largepic" id="pic2"><img src="https://i.ebayimg.com/images/g/jmMAAOSw7q5d02tI/s-l1600.jpg"></div>

                  <div class="largepic" id="pic3"><img src="https://i.ebayimg.com/images/g/gJEAAOSwNhNd02tI/s-l1600.jpg"></div>

                  <div class="largepic" id="pic4"><img src="https://i.ebayimg.com/images/g/5RwAAOSwzb5d02tI/s-l1600.jpg"></div>

               </div>
               <div class="buttonbox">
                  <!--------------- Replace # with your store homepage url. ------------------->
                  <a target="_blank" href="#">Store Home</a>
                  <!------ Replace text YOUR-USER-ID with your eBay user ID. Replace ebay.com to ebay.co.uk or others if necessary. ------>
                  <a target="_blank" href="#">Ask a Question</a>
                  <!------ Replace ebay.com to ebay.co.uk or others if necessary. ------>
                  <a target="_blank" href="#">Watch Item</a>
               </div>
               <div class="desbox">
                  <div class="destitle">Item Description</div>
                  <div class="des">
                     <!-- Description tage herer -->
                     <div class="des">DESCRIPTION HERE</div>
                    <!-- Description tage herer -->
                  </div>
                  <b>
                  </b>
               </div>
               <b>
                  <div class="desbox">
                     <div class="destitle">You May Also Like</div>
                     <div class="alsolike">
                        <a target="_blank" href="#">
                        <img src="https://meotech.org/ebay/Benwilliams145/images/cat1.png">
                        <span>CAT</span>
                        </a>
                        <a target="_blank" href="" class="alsecond">
                        <img src="https://meotech.org/ebay/Benwilliams145/images/cat2.png">
                        <span>CAT</span>
                        </a>
                        <a target="_blank" href="#" class="althird">
                        <img src="https://meotech.org/ebay/Benwilliams145/images/cat3.png">
                        <span>CAT</span>
                        </a>
                        <a target="_blank" href="#" class="allast">
                        <img src="https://meotech.org/ebay/Benwilliams145/images/cat4.png">
                        <span>CAT</span>
                        </a>
                        <div class="ds_clear"></div>
                     </div>
                     <div class="alsolike">
                        <a target="_blank" href="#">
                        <img src="https://meotech.org/ebay/Benwilliams145/images/cat5.png">
                        <span>CAT</span>
                        </a>
                        <a target="_blank" href="#" class="alsecond">
                        <img src="https://meotech.org/ebay/Benwilliams145/images/cat6.png">
                        <span>CAT</span>
                        </a>
                        <a target="_blank" href="#" class="althird">
                        <img src="https://meotech.org/ebay/Benwilliams145/images/cat7.png">
                        <span>CAT</span>
                        </a>
                        <a target="_blank" href="#" class="allast">
                        <img src="https://meotech.org/ebay/Benwilliams145/images/cat8.png">
                        <span>CAT</span>
                        </a>
                        <div class="ds_clear"></div>
                     </div>
                  </div>
                  <div class="tabbox">
                     <input id="tab1" type="radio" name="tabs" class="tabbtn" checked="">
                     <label for="tab1" class="tablabel">Delivery Info</label>
                     <input id="tab2" type="radio" name="tabs" class="tabbtn">
                     <label for="tab2" class="tablabel">Payment</label>
                     <input id="tab3" type="radio" name="tabs" class="tabbtn">
                     <label for="tab3" class="tablabel">Returns</label>
                     <input id="tab4" type="radio" name="tabs" class="tabbtn">
                     <label for="tab4" class="tablabel">Feedback</label>
                     <!-- tab 1 -- Insert content below here, p represents each paragraph, li is list(must be used in ul). ---------->
                     <div class="tabcontent" id="content1">
                        <h3>Delivery Info</h3>
                           <p>All orders are wrapped using discreet packaging for peace of mind.</p>
                           <p>For fraud prevention reasons we can only send your item to the address on your eBay order or Paypal – if you need to change the address once ordered please let us know so we can cancel the sale allowing you to reorder with the correct information.</p>
                           <p> Free postage may exclude UK Highlands and NI, depending on postcode. Any additional charges will be shown at checkout.</p>
                           <p>If ordering a large quantity of heavy items (e.g soils, tents or light kits) your order may be sent using a pallet service, which can take an additional couple of days to reach you. Please message us prior to ordering if you do not wish to receive your items on a pallet.</p>
                     </div>
                     <!-- tab 2 -- Insert content below here, p represents each paragraph, li is list(must be used in ul). ---------->
                     <div class="tabcontent" id="content2">
                        <h3>Payment</h3>
                        <p>Payment is expected within 48 hours of auction's end, by PayPal only please.</p>
                     </div>
                     <!-- tab 3 -- Insert content below here, p represents each paragraph, li is list(must be used in ul). ---------->
                     <div class="tabcontent" id="content3">
                        <h3>Returns</h3>
                        <p>Returns are gladly accepted, item must be in same condition as received. Buyer is responsible for all return shipping charges. Please contact us prior to returning an item. Unfortunately opened items could not be returned.</p>
                     </div>
                     <!-- tab 4 -- Insert content below here, p represents each paragraph, li is list(must be used in ul). ---------->
                     <div class="tabcontent" id="content4">
                        <h3>Feedback</h3>
                        <p>Feedback will be given once the item has shipped and we kindly ask that you leave feedback once the item has been received.</p>
                     </div>
                  </div>
               </b>
            </div>
            <b>
               <div class="ds_footer">
                  <div class="footerright">eBay Template Design by <a target="_blank"  href="">mrizwanmeo/fiverr</a></div>
                  <!--------------- Replace # with your store homepage url. Replace text "Your Store Name" with your store name. ------------------->
                  <div class="footerleft">© <a target="_blank" href="#">Weareverythingnew </a> - All Rights Reserved.</div>
               </div>
            </b>
         </div>
         <b>
         </b>
      </div>
   