
<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://meotech.org/ebay/Tsugutsugu/css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link href="https://meotech.org/ebay/ldoumbouya/menu.css" rel="stylesheet" type="text/css">
      <link href="https://meotech.org/ebay/ldoumbouya/listing.css" rel="stylesheet" type="text/css">
      <link href="https://meotech.org/ebay/ldoumbouya/listing-responsive.css" rel="stylesheet" type="text/css">
      <link href="https://meotech.org/ebay/ldoumbouya/style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
      <div class="pst-main">
      <header id="pst-header">
         <div class="top-row visible-desktop">
            <div class="container">
               <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                     <div class="contact-link"><a href="https://www.ebay.com.au/str/idealhomeandhardware">Welcome to the Ideal Home</a></div>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                     <div class="top-nav">
                        <ul>
                           <li><a href="https://www.ebay.com.au/fdbk/feedback_profile/idealhomeau?filter=feedback_page:All">Our Feedback</a></li>
                           <li><a href="https://www.ebay.com.au/usr/idealhomeau#">Favourite Seller </a></li>
                           <li><a href="http://contact.ebay.com.au/ws/eBayISAPI.dll?FindAnswers&requested=idealhomeau&_trksid=p2545226.m2531.l4583&rt=nc">Send Message</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="pst-clear"></div>
         <div class="container">
            <div class="row">
               <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="pst-logo"><a href="https://www.ebay.com.au/str/idealhomeandhardware" title="">
                     <img style="" src="https://i.ebayimg.com/thumbs/images/g/Om4AAOSwARdhB8uD/s-l150.webp" alt="" class="img-responsive"></a>
                  </div>
               </div>
               <div class="col-md-5 col-sm-4 col-xs-12"></div>
               <div class="col-md-3 col-sm-4 col-xs-12"></div>
            </div>
         </div>
         <div class="pst-clear"></div>
         <div class="menu-bg">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <nav id="menu">
                        <input id="toggle-nav" type="checkbox"><label id="toggle-nav-label" for="toggle-nav"></label>
                        <div class="box">
                           <ul>
                              <li><a href="https://www.ebay.com.au/str/idealhomeandhardware"><i class="fa fa-home"></i>HOME</a></li>
                              <li><a href="http://www.ebay.com.au/usr/idealhomeau">About Us</a></li>
                              <li><a href="http://contact.ebay.com.au/ws/eBayISAPI.dll?FindAnswers&requested=idealhomeau&_trksid=p2545226.m2531.l4583&rt=nc">Contact us</a></li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <div class="promo-bg visible-desktop">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="promo">
                     <ul>
                        <li><i style="color:#FF7C4E" class="fa fa-thumbs-up"></i>Based in Australia</li>
                        <li><i style="color:#FF7C4E" class="fa fa-star"></i>TOP QUALITY PRODUCTS</li>
                        <li><i style="color:#FF7C4E" class="fa fa-truck"></i>Fast Shipping</li>
                        <li><i style="color:#FF7C4E" class="fa fa-user"></i>Best Customer Service</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="pst-clear"></div>
      <div class="container">
         <div class="listing-area">
            <div class="gal-desc-part">
               <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-12">
                     <div id="LeftPanel">
                        <table class="v4acpcont" width="100%" cellspacing="0" cellpadding="0">
                           <tbody>
                              <tr>
                                 <td>
                                    <table class="v4acp" width="100%" cellspacing="0" cellpadding="0" border="0">
                                       <tbody>
                                          <tr class="v4acp_head">
                                             <td class="v4accent" bgcolor="#7EB30D"></td>
                                             <td class="v4hspacer"></td>
                                             <td class="v4title" bgcolor="#020202">
                                                <h2>Shop Categories</h2>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <table class="v4midBox v4nfc" width="100%" cellspacing="0" cellpadding="0" border="0">
                                       <tbody>
                                          <tr class="v4acp_mid">
                                             <td class="v4mid" bgcolor="#EEEEEE">
                                                <div class="lcat">
                                                   <div class="ttl">Shop home</div>
                                                     <div id="slider">
                                                     <figure>
                                                          <img src="https://i.ebayimg.com/thumbs/images/g/2GQAAOSw~YZggtML/s-l225.webp">
                                                          <img src="https://i.ebayimg.com/thumbs/images/g/k~sAAOSwuJNggtBG/s-l225.webp">
                                                          <img src="https://i.ebayimg.com/thumbs/images/g/L7AAAOSw1IJggsLn/s-l225.webp">
                                                         
                                                     </figure>
                                                </div>
                                                   <ul class="lev1">
                                                      <li><a href="https://www.ebay.com.au/str/idealhomeandhardware/BRANDS/_i.html?_storecat=34293367018">BRANDS</a><span class="cnt"> </span>
                                                      </li>
                                                      <li><a href="https://www.ebay.com.au/str/idealhomeandhardware/Garden/_i.html?_storecat=34281011018">Garden</a><span class="cnt"> </span></li>
                                                      <li><a href="https://www.ebay.com.au/str/idealhomeandhardware/Kitchen/_i.html?_storecat=34281013018">Kitchen</a><span class="cnt"> </span></li>
                                                      <li><a href="https://www.ebay.com.au/str/idealhomeandhardware/Pest-Control/_i.html?_storecat=34293277018">Pest Control</a><span class="cnt"> </span></li>
                                                      <li><a href="https://www.ebay.com.au/str/idealhomeandhardware/Tools/_i.html?_storecat=34281015018">Tools</a><span class="cnt"> </span></li>
                                                   </ul>
                                                   <div class="link"></div>
                                                </div>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <br>
                        <table style="margin-bottom: 7px !important;position: relative;top: -21px;" class="v4acpcont" width="100%" cellspacing="0" cellpadding="0">
                           <tbody>
                              <tr>
                                 <td>
                                    <table class="v4acp" width="100%" cellspacing="0" cellpadding="0" border="0">
                                       <tbody>
                                          <tr class="v4acp_head">
                                             <td class="v4accent" bgcolor="#7EB30D"></td>
                                             <td class="v4hspacer"></td>
                                             <td class="v4title" bgcolor="#020202">
                                                <h2>Why Choose Us?</h2>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <table class="v4midBox v4nfc" width="100%" cellspacing="0" cellpadding="0" border="0">
                                       <tbody>
                                          <tr class="v4acp_mid">
                                             <td class="v4mid" bgcolor="#EEEEEE">
                                                <div class="lcat">
                                                   <div class="ttl">Shop home</div>
                                                   <center>
                                                      <img style="width: 100%;" src="https://meotech.org/ebay/Printedgiggles/images/shipping.png">
                                                   </center>
                                                   <div class="link"></div>
                                                </div>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                     <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="border: 1px solid #dfdfdf;">
                           <div class="v4title">
                              <h2>[TAGBOT- ][TAGBOT TITLE =]</h2>
                           </div>
                           <div class="container" style="width: 100%">
                              <div class="whitesec-main">
                                 <div class="fbox">
                                    <div style="position:relative; margin-top:0px;background: #fff;padding-top: 0px;padding-bottom: 10px;">
                                       <div class="slider">
                                          <input type="radio" name="slide_switch" id="id1" checked="checked">
                                          <label for="id1" class="thumbnail" width="450">  
                                          <img src="img/s-l1600 (1).png" width="80" height="80">
                                          </label>
                                          <div class="large"><img alt="large image" src="img/s-l1600 (1).png" width="450"></div>
                                          <input type="radio" name="slide_switch" id="id2">
                                          <label for="id2" class="thumbnail" width="450">
                                          <img src="img/s-l1600 (1).png" width="80" height="80">
                                          </label>
                                          <div class="large"><img alt="large image" src="img/s-l1600 (1).png" width="450"></div>
                                          <input type="radio" name="slide_switch" id="id3">
                                          <label for="id3" class="thumbnail" width="450">
                                          <img src="img/s-l1600 (1).png" width="80" height="80">
                                          </label>
                                          <div class="large"><img alt="large image" src="" width="450"></div>
                                          <input type="radio" name="slide_switch" id="id4">
                                          <label for="id4" class="thumbnail" width="450">
                                          <img src="img/s-l1600 (1).png" width="80" height="80">
                                          </label>
                                          <div class="large"><img alt="large image" src="" width="450"></div>
                                          <input type="radio" name="slide_switch" id="id5">
                                          
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="v4title">
                              <h2>Description</h2>
                           </div>
                           <div class="desc-container">
                              <div class="desc-box">
                                 <div style="border: 1px solid #ddd; padding: 15px; margin-bottom: 15px;" class="text-regullar">
                                    <p>[TagBot- ][TagBot Description=]</p>
                                 </div>
                              </div>
                           </div>
                           
                           <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                 <div class="pst-tab">
                                    <input name="tabs" id="tabone" checked="checked" type="radio"> <label for="tabone">Payment</label>
                                    <div id="tabs" class="tab">
                                       <p>We accept Paypal as payment method.</p>
                                    </div>
                                    <input name="tabs" id="tabtwo" type="radio"> <label for="tabtwo">Shipping</label>
                                    <div  class="tab" >
                                       <ul >
                                          <li>We normally dispatch within 24 working hours after your order is placed. Normal shipping times then apply. Please see the Postage and Payments tab for Ebay's estimated delivery times.</li>
                                       </ul>
                                    </div>
                                    <input name="tabs" id="tabthree" type="radio"> <label for="tabthree">Returns</label>
                                    <div class="tab" >
                                       <p>
                                       <p>Returns are accepted.<p>Items must be returned within 30 days.</p><p>Buyer will pay for return shipping.</P>
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="desc-container">
                                 <div class="desc-box"></div>
                              </div>
                           </div>
                           <div class="row" style="margin:0px;">
                              <div class="v4title">
                              <h2>Categories</h2>
                              </div>
                              <div  class="col-sm-6 col-md-3 col-xs-12" style="text-align: center; padding-left:2px; padding-right:2px;"><a href="https://www.ebay.com.au/str/idealhomeandhardware/BRANDS/_i.html?_storecat=34293367018">
                                 <div class="cat-div">
                                 <img responsive width="100%" src="https://i.ebayimg.com/images/g/ZkkAAOSwXxVgij7p/s-l500.jpg">
                                 <label class="cat-lb">BRANDS</label></a>
                              </div>
                              </div>
                              <div  class="col-sm-6 col-md-3 col-xs-12" style="text-align: center; padding-left:2px; padding-right:2px;"><a href="https://www.ebay.com.au/str/idealhomeandhardware/Kitchen/_i.html?_storecat=34281013018">
                                 <div class="cat-div">
                                 <img responsive width="100%" src="https://i.ebayimg.com/images/g/V94AAOSwlLZhAm0B/s-l500.jpg">
                                 <label class="cat-lb">Kitchen</label></a>
                              </div>
                              </div>
                              <div  class="col-sm-6 col-md-3 col-xs-12" style="text-align: center; padding-left:2px; padding-right:2px;"><a href="https://www.ebay.com.au/str/idealhomeandhardware/Garden/_i.html?_storecat=34281011018">
                                 <div class="cat-div">
                                 <img responsive width="100%" src="https://i.ebayimg.com/images/g/L7AAAOSw1IJggsLn/s-l500.jpg">
                                 <label class="cat-lb">Garden</label></a>
                              </div>
                              </div>
                              <div  class="col-sm-6 col-md-3 col-xs-12" style="text-align: center; padding-left:2px; padding-right:2px;"><a href="https://www.ebay.com.au/str/idealhomeandhardware/Tools/_i.html?_storecat=34281015018">
                                 <div class="cat-div">
                                 <img responsive width="100%" src="https://i.ebayimg.com/images/g/k~sAAOSwuJNggtBG/s-l500.jpg">
                                 <label class="cat-lb">Tools</label></a>
                              </div>
                              </div>
                           </div>
                          <div class="row" style="margin:0px;">
                              <div class="v4title">
                                 <h2>Feature Products</h2>
                              </div>
                              
                           </div>
                           <!-- slider start here -->
                           <div class="row">
                              <div class="row">
                                 <div class="col-md-9">
                                 </div>
                                 <div class="col-md-3">
                                    <!-- Controls -->
                                    <div class="controls pull-right hidden-xs">
                                      
                                    </div>
                                 </div>
                              </div>
                              <div id="carousel-example" class="carousel slide " data-ride="carousel">
                                 <!-- Wrapper for slides -->
                                 <div class="carousel-inner">
                                    <div class="item active">
                                       <div class="row" style="margin-bottom: 11px;">
                                          <div class="col-sm-3 slider-col">
                                             <div class="col-item">
                                                <div class="info">
                                                   <div class="row">
                                                      <div class="price col-md-6">
                                                         <h5>Royal Doulton</h5>
                                                         <h5 class="price-text-color">$109.95</h5>
                                                      </div>
                                                      <div class="rating hidden-sm col-md-6">
                                                         <i class="price-text-color fa fa-star"></i>
                                                         <i class="price-text-color fa fa-star"></i>
                                                         <i class="price-text-color fa fa-star"></i>
                                                         <i class="price-text-color fa fa-star"></i>
                                                         <i class="price-text-color fa fa-star"></i>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="photo">
                                                   <img src="https://i.ebayimg.com/images/g/eOAAAOSwMiVhCVRa/s-l1600.jpg" class="img-responsive" alt="a" />
                                                </div>
                                                <div class="info">
                                                   <div class="separator clear-left">
                                                      <p class="btn-add">
                                                         <i class="fa fa-shopping-cart"></i><a href="https://cart.payments.ebay.com.au/sc/add?item=iid:393483424516,qty:1&srt=01000600000050aca23ce15ba368a124a2c79191029fce062aca1f6dab0260525bff8986efa1b4bd96fe442dd1ea0fc9e0e859a8752c30c830c22e43f9b3de676d2d01ca4615d3713c80537d876a53a036d61403fc3269&ssPageName=CART:ATC" class="hidden-sm">Add to cart</a>
                                                      </p>
                                                      <p class="btn-details">
                                                         <i class="fa fa-list"></i><a href="https://www.ebay.com.au/itm/393483424516" class="hidden-sm">More details</a>
                                                      </p>
                                                   </div>
                                                   <div class="clearfix">
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-sm-3 slider-col">
                                             <div class="col-item">
                                                <div class="info">
                                                   <div class="row">
                                                      <div class="price col-md-6">
                                                         <h5>Snapware Total</h5>
                                                         <h5 class="price-text-color">$64.99</h5>
                                                      </div>
                                                      <div class="rating hidden-sm col-md-6">
                                                         <i class="price-text-color fa fa-star"></i>
                                                         <i class="price-text-color fa fa-star"></i>
                                                         <i class="price-text-color fa fa-star"></i>
                                                         <i class="price-text-color fa fa-star"></i>
                                                         <i class="price-text-color fa fa-star"></i>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="photo">
                                                   <img src="https://i.ebayimg.com/images/g/ltYAAOSwzSNhCVaG/s-l1600.jpg" class="img-responsive" alt="a" />
                                                </div>
                                                <div class="info">
                                                   <div class="separator clear-left">
                                                      <p class="btn-add">
                                                         <i class="fa fa-shopping-cart"></i><a href="https://cart.payments.ebay.com.au/sc/add?item=iid:393483328682,qty:1&srt=01000600000050a14042a41deef3fd9df0b54c1a12dd52332de4c4f05ccff39d579a50ccf7fff9aca4532307564308df0e6de976b198c6f31924ca26625379a3c4b1dd969616690a50fe5a77ad4f941fd4c3b64ec792c8&ssPageName=CART:ATC" class="hidden-sm">Add to cart</a>
                                                      </p>
                                                      <p class="btn-details">
                                                         <i class="fa fa-list"></i><a href="https://www.ebay.com.au/itm/393483328682" class="hidden-sm">More details</a>
                                                      </p>
                                                   </div>
                                                   <div class="clearfix">
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-sm-3 slider-col">
                                             <div class="col-item">
                                                <div class="info">
                                                   <div class="row">
                                                      <div class="price col-md-6">
                                                         <h5>Blue Propolis</h5>
                                                         <h5 class="price-text-color">$26.50</h5>
                                                      </div>
                                                      <div class="rating hidden-sm col-md-6">
                                                        <i class="price-text-color fa fa-star"></i>
                                                         <i class="price-text-color fa fa-star"></i>
                                                         <i class="price-text-color fa fa-star"></i>
                                                         <i class="price-text-color fa fa-star"></i>
                                                         <i class="price-text-color fa fa-star"></i>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="photo">
                                                   <img src="https://i.ebayimg.com/images/g/LSsAAOSwZRxhCUE4/s-l1600.jpg" class="img-responsive" alt="a" />
                                                </div>
                                                <div class="info">
                                                   <div class="separator clear-left">
                                                      <p class="btn-add">
                                                         <i class="fa fa-shopping-cart"></i><a href="https://cart.payments.ebay.com.au/sc/add?item=iid:393483424503,qty:1&srt=01000600000050700ef793e6a5638569eadb2d6c8afef4eaca4eafacee71e6ede37767c46b13b5c60e9879d0e867f7a719478045c62428c42fae781d97a2b21a1de23b8f9bfdba589651313a002bd307136ae0aab327f5&ssPageName=CART:ATC" class="hidden-sm">Add to cart</a>
                                                      </p>
                                                      <p class="btn-details">
                                                         <i class="fa fa-list"></i><a href="https://www.ebay.com.au/itm/393483424503" class="hidden-sm">More details</a>
                                                      </p>
                                                   </div>
                                                   <div class="clearfix">
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="col-sm-3 slider-col">
                                             <div class="col-item">
                                                <div class="info">
                                                   <div class="row">
                                                      <div class="price col-md-6">
                                                         <h5>Neroma Coffee</h5>
                                                         <h5 class="price-text-color">AU $5.95</h5>
                                                      </div>
                                                      <div class="rating hidden-sm col-md-6">
                                                         <i class="price-text-color fa fa-star"></i>
                                                         <i class="price-text-color fa fa-star"></i>
                                                         <i class="price-text-color fa fa-star"></i>
                                                         <i class="price-text-color fa fa-star"></i>
                                                         <i class="price-text-color fa fa-star"></i>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="photo">
                                                   <img src="https://i.ebayimg.com/images/g/39oAAOSw6rNhCQc3/s-l1600.jpg" class="img-responsive" alt="a" />
                                                </div>
                                                <div class="info">
                                                   <div class="separator clear-left">
                                                      <p class="btn-add">
                                                         <i class="fa fa-shopping-cart"></i><a href="https://www.ebay.com.au/itm/393483424517" class="hidden-sm">Add to cart</a>
                                                      </p>
                                                      <p class="btn-details">
                                                         <i class="fa fa-list"></i><a href="https://www.ebay.com.au/itm/393483424517" class="hidden-sm">More details</a>
                                                      </p>
                                                   </div>
                                                   <div class="clearfix">
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    
                                 </div>
                              </div>
                           </div>
                           <!-- slider end here -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="pst-clear"></div>
      </div>
      <div class="pst-footer">
         <div class="f-promo-bg">
            <div class="container">
               <div class="row">
                  <div class="f-row">
                     <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="f-row-head">Quick Links</div>
                        <div class="f-quick-link">
                           <ul>
                              <li><a href="https://www.ebay.com.au/str/idealhomeandhardware">- Home</a></li>
                              <li><a href="http://www.ebay.com.au/usr/idealhomeau">- About Us</a></li>
                              <li><a href="http://www.ebay.com.au/contact/sendmsg?message_type_id=14&recipient=idealhomeau">- Contact Us</a></li>
                              <li><a href="https://www.ebay.com.au/fdbk/feedback_profile/idealhomeau?filter=feedback_page:All">- FeedBack</a></li>
                              <li><a href="https://www.ebay.com.au/usr/idealhomeau#">- Add To Favourites</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-4 col-sm-3 col-xs-12">
                        <div class="f-row-head">PAYMENT</div>
                        <div class="f-payment"> </div>
                        <div class="fast-shipping">
                           <div class="zd-address" style="color:#000; ">We accept payment by following payment methods</div>
                           <img src="https://meotech.org/ebay/Printedgiggles/images/paypal-f.png" class="img-responsive" alt="">
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                           <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="f-row-head">Store Newsletter</div>
                              <div class="zd-address">Add Store to your Favorites and receive email newsletters about new items and special promotions!</div>
                              <div class="sign-up"><a href="https://www.ebay.com.au/usr/idealhomeau#">SUBSCRIBE</a></div>
                           </div>
                           <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="f-row-head">Contact Us</div>
                              <div class="zd-address">Contact us via <a href="http://www.ebay.com.au/contact/sendmsg?message_type_id=14&recipient=idealhomeau">eBay message</a> and we will get back to you as soon as we possibly can. All inquiries will be replied to within 24 hours</div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-12 col-sm-12 col-xs-12">
                              <div class="zd-copyright">Copyright © <span>Ideal Home. All Rights Reserved.</span></div>
                              <div class="zd-designer"> </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>