<!DOCTYPE html
   PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
   <meta name="description"
      content="____STORE____ Store - Proffetional eBay Template Design Solution - fiverr/merkrv or merkrv">
   <meta name="keywords"
      content="ebay , ebay template, listing tempalte , ebay template generator, ebay template design, ebay templates uk, ebay templates html, ebay template software, ebay templates shop, ebay template editor, ebay template listing, ebay template free, ebay template shop, ebay template download, ebay template responsive, ebay template builder free, ebay template active content, ebay template auction, ebay template auctiva, ebay templates australia, ">
   <meta name="author" content="merkrv - merkrv - fiverr/merkrv">
   <title>The_Wandering_Merchant</title>
   <!-- https://merkrv.com/ebay/Kcrosbyjr/styles.css -->
   <!-- <link rel="stylesheet" href="https://merkrv.com/ebay/Kcrosbyjr/styles.css" type="text/css"> -->
   <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
   <div class="maindv">
      <div class="maindvin">
         <div class="maindvinin">
            <div class="topbanner"> <img src="images/top banner.webp"> </div>
            <div class="menubar">
               <nav>
                  <label for="drop" class="toggle">Menu</label><input type="checkbox" id="drop" />
                  <ul class="menu">
                     <li><a target="_blank" href="https://www.ebay.com/str/thewanderingmerchant85"
                           class="homea">Home</a></li>
                     <li><a target="_blank" href="https://www.ebay.com/str/thewanderingmerchant85?_tab=items"
                           class="homea">Items for Sale</a></li>
                     <li><a target="_blank" href="https://www.ebay.com/str/thewanderingmerchant85?_tab=about"
                           class="homea">About Us</a></li>
                     <li><a target="_blank" href="https://www.ebay.com/str/thewanderingmerchant85?_tab=subscribe"
                           class="homea">Newsletter Sign up</a></li>
                     <li><a target="_blank" href="https://www.ebay.com/str/thewanderingmerchant85?_tab=feedback"
                           class="homea">Feedback</a></li>
                     <li><a target="_blank" href="https://www.ebay.com/cnt/intermediatedFAQ?requested=dennington85"
                           class="homea">Contact</a></li>
                  </ul>
               </nav>
            </div>
            <!--CONTENT S-->
            <div class="content">
               <div class="left_bar">
                  <div class="content_wrap content_category">
                     <div class="content_title_outer">
                        <div class="content_title category_title">
                           <p>Shop by<span>Category</span></p>
                        </div>
                     </div>
                     <div class="left_content">
                        <ul class="ula">
                           <li class="lia">
                              <a target="_blank" href="https://www.ebay.com/str/thewanderingmerchant85"
                                 class="aa">All</a>
                           </li>
                           <li class="lia">
                              <a target="_blank"
                                 href="https://www.ebay.com/str/thewanderingmerchant85/Consumer-Electronics/_i.html?_sacat=293"
                                 class="aa">Consumer Electronics</a>
                           </li>
                           <li class="lia">
                              <a target="_blank"
                                 href="https://www.ebay.com/str/thewanderingmerchant85/Sporting-Goods/_i.html?_sacat=888"
                                 class="aa">Sporting Goods</a>
                           </li>
                        </ul>

                     </div>
                  </div>
                  <div class="content_wrap content_pages">
                     <div class="content_title_outer">
                        <div class="content_title pages_title">
                           <p>Store<span>Pages</span></p>
                        </div>
                     </div>
                     <div class="left_content">
                        <ul class="ula">
                           <li class="lia">
                              <a target="_blank" href="https://www.ebay.com/str/thewanderingmerchant85" class="aa">Store
                                 Home</a>
                           </li>
                           <li class="lia">
                              <a target="_blank" href="https://www.ebay.com/str/thewanderingmerchant85?_tab=items"
                                 class="aa">Items for sale</a>
                           </li>
                           <li class="lia">
                              <a target="_blank" href="https://www.ebay.com/str/thewanderingmerchant85?_tab=about"
                                 class="aa">About Us</a>
                           </li>
                           <li class="lia">
                              <a target="_blank" href="https://www.ebay.com/str/thewanderingmerchant85?_tab=subscribe"
                                 class="aa">Newsletter Sign up</a>
                           </li>
                           <li class="lia">
                              <a target="_blank" href="https://www.ebay.com/str/thewanderingmerchant85?_tab=feedback"
                                 class="aa">Feedback</a>
                           </li>
                           <li class="lia">
                              <a target="_blank" href="https://www.ebay.com/cnt/intermediatedFAQ?requested=dennington85"
                                 class="aa">Contact</a>
                           </li>
                           <li class="lia">
                              <a target="_blank" href="https://www.ebay.com/str/thewanderingmerchant85?_tab=subscribe"
                                 class="aa">Add to Favourites</a>
                           </li>
                        </ul>

                     </div>
                  </div>
                  <div class="payment"></div>
                  <div class="left1"></div>
               </div>
               <!--MIDDLE S-->
               <div class="middle_bar">
                  <!--IMAGE GALLERY START-->
                  <div id="gallery_div">
                     <div class="gallery_div_in">
                        <input name="main_image" id="main_image1" autocomplete="off" checked="checked" type="radio">
                        <input name="main_image" id="main_image2" autocomplete="off" type="radio"> <input
                           name="main_image" id="main_image3" autocomplete="off" type="radio"> <input name="main_image"
                           id="main_image4" autocomplete="off" type="radio"> <input name="main_image" id="main_image5"
                           autocomplete="off" type="radio"> <input name="main_image" id="main_image6" autocomplete="off"
                           type="radio"> <input name="main_image" id="main_image7" autocomplete="off" type="radio">
                        <div class="img_sec1">
                           <div id="content1" class="img-container">
                              <input id="popup-1" autocomplete="off" type="checkbox">
                              <label class="lbl lbl_box" for="popup-1">
                                 <div class="img-zoom"><img src="https://merkrv.com/ebay/test_del/PIC/g1.jpg" alt="">
                                 </div>
                              </label>
                           </div>
                           <div id="content2" class="img-container">
                              <input id="popup-2" type="checkbox">
                              <label class="lbl lbl_box" for="popup-2" autocomplete="off">
                                 <div class="img-zoom"><img src="https://merkrv.com/ebay/test_del/PIC/g2.jpg" alt="">
                                 </div>
                              </label>
                           </div>
                           <div id="content3" class="img-container">
                              <input id="popup-3" type="checkbox">
                              <label class="lbl lbl_box" for="popup-3" autocomplete="off">
                                 <div class="img-zoom"><img src="https://merkrv.com/ebay/test_del/PIC/g3.jpg" alt="">
                                 </div>
                              </label>
                           </div>
                           <div id="content4" class="img-container">
                              <input id="popup-4" type="checkbox">
                              <label class="lbl lbl_box" for="popup-4" autocomplete="off">
                                 <div class="img-zoom"><img src="https://merkrv.com/ebay/test_del/PIC/g4.jpg" alt="">
                                 </div>
                              </label>
                           </div>
                           <div id="content5" class="img-container">
                              <input id="popup-5" type="checkbox">
                              <label class="lbl lbl_box" for="popup-5" autocomplete="off">
                                 <div class="img-zoom"><img src="https://merkrv.com/ebay/test_del/PIC/g5.jpg" alt="">
                                 </div>
                              </label>
                           </div>
                           <div id="content6" class="img-container">
                              <input id="popup-6" type="checkbox">
                              <label class="lbl lbl_box" for="popup-6" autocomplete="off">
                                 <div class="img-zoom"><img src="https://merkrv.com/ebay/test_del/PIC/g6.jpg" alt="">
                                 </div>
                              </label>
                           </div>
                        </div>
                        <div class="img_sec2">
                           <label class="lbl" for="main_image1">
                              <div class="box"><img src="https://merkrv.com/ebay/test_del/PIC/g1.jpg" alt=""></div>
                           </label>
                           <label class="lbl" for="main_image2">
                              <div class="box"><img src="https://merkrv.com/ebay/test_del/PIC/g2.jpg" alt=""></div>
                           </label>
                           <label class="lbl" for="main_image3">
                              <div class="box"><img src="https://merkrv.com/ebay/test_del/PIC/g3.jpg" alt=""></div>
                           </label>
                           <label class="lbl" for="main_image4">
                              <div class="box"><img src="https://merkrv.com/ebay/test_del/PIC/g4.jpg" alt=""></div>
                           </label>
                           <label class="lbl" for="main_image5">
                              <div class="box"><img src="https://merkrv.com/ebay/test_del/PIC/g5.jpg" alt=""></div>
                           </label>
                           <label class="lbl" for="main_image6">
                              <div class="box"><img src="https://merkrv.com/ebay/test_del/PIC/g2.jpg" alt=""></div>
                           </label>
                        </div>
                     </div>
                  </div>
                  <!--IMAGE GALLERY END--> <!--ITEM DESCRIPTION S-->
                  <div class="content_wrap  content_description">
                     <div class="content_title_outer">
                        <div class="content_title description_title">
                           <p>Item<span>Description</span></p>
                        </div>
                     </div>
                     <div class="description_content">
                        <div class="dv1">
                           <h2>16000 BTU Portable Air Conditioner - PA250</h2>
                           <div class="dv2">
                              <div id="des_content_nw">
                                 <p>Keep your home cool in Summer, and warm in Winter with the BIO Portable 4 in 1
                                    Reverse Cycle Air Conditioner. Just imagine being able to sit back, relax, and use
                                    the Remote Control to control the temperature from the comfort of your lounge. With
                                    an impressive cooling capacity of 4.4kW it is ideal for cooling areas up to 15-25m3.
                                    The highly mobile design enables you to easily position it where it is needed most,
                                    and an adjustable window exhaust kit allows for the removal warm air to make those
                                    long hot Summer's a breeze! <br /><br /> Much more than just an air conditioner,
                                    with a serious 4.8kW heating capacity, you'll also keep toasty warm in Winter. The
                                    BIO Portable Air Conditioner also features a Dehumidifier mode to reduce the level
                                    of moisture in the air. An integrated self-evaporation system means you don't need
                                    to worry about constantly emptying water.<br /><br /> Order your Bio Portable 4 in 1
                                    Air Conditioner today!</p>
                              </div>
                           </div>
                           <h3>ITEM SPECIFICS</h3>
                           <div class="dv3">
                              <ul>
                                 <li>Cooling capacity: 4.4kW </li>
                                 <li>Heating capacity: 4.8kW (16000 BTU)</li>
                                 <li>Cooling/heating range: 18-30oC</li>
                                 <li>Noise level: 52dB</li>
                                 <li>Refrigerant/Charge: R410A/480g (CFC free)</li>
                              </ul>
                           </div>
                           <h3>FEATURES</h3>
                           <div class="dv3">
                              <ul>
                                 <li>4 functions in 1</li>
                                 <li>Sleek mobile design</li>
                                 <li>Ideal for areas 15-25m3 </li>
                                 <li>Easy to read LCD display</li>
                                 <li>Remote control included</li>
                              </ul>
                           </div>
                           <h3>PACKAGE INCLUDES</h3>
                           <div class="dv3">
                              <ul>
                                 <li>1x BIO Air Conditioner </li>
                                 <li>1x Remote (with 2 x AAA Batteries)</li>
                                 <li>1x Window Exhaust Kit</li>
                                 <li>1x Drain tube</li>
                                 <li>1x Water Jug</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--ITEM DESCRIPTION E--> <!--TABBED CONTENT S-->
                  <div class="content_wrap  content_policies">
                     <div class="content_title_outer">
                        <div class="content_title policies_title">
                           <p>Store<span>Policies</span></p>
                        </div>
                     </div>
                     <div class="policies_content">
                        <div class="tabbed_content">
                           <div class="tabbed">
                              <input id="tab1" type="radio" name="tabs" checked><label for="tab1">Payment</label>
                              <input id="tab2" type="radio" name="tabs">
                              <label for="tab2">Shipping</label>
                              <input id="tab3" type="radio" name="tabs"><label for="tab3">Returns</label>
                              <input id="tab4" type="radio" name="tabs"><label for="tab4">Feedback</label>
                              <input id="tab5" type="radio" name="tabs"><label for="tab5">About Us</label>
                              <div class="tcontent">
                                 <div id="content1">
                                    <div class="tabbed_scroll">We accept PayPal. PayPal is the fastest way to pay on
                                       eBay. You do not require a PayPal account and you can use your credit or debit
                                       card to make PayPal payments. </div>
                                 </div>
                                 <div id="content2">
                                    <div class="tabbed_scroll">
                                       <div style="margin:0;">
                                          <h3 style="margin-bottom: 10px;">Fast & Free Shipping</h3>
                                          <p>
                                             We offer <strong>FREE standard shipping</strong> on all domestic orders,
                                             ensuring you receive your items without any additional cost.
                                          </p>
                                       </div>

                                       <div style="margin: 20px 0;">
                                          <h3 style="margin-bottom: 10px;">Estimated Delivery Time</h3>
                                          <p>
                                             Delivery typically takes between <strong>2 – 5 business days</strong>
                                             within the United States. Orders are shipped promptly and securely for your
                                             peace of mind.
                                          </p>
                                       </div>

                                    </div>
                                 </div>
                                 <div id="content3">
                                    <div class="tabbed_scroll">
                                       <div style="margin:0;">
                                          <h3 style="margin-bottom: 10px;">Hassle-Free Returns</h3>
                                          <p>
                                             Your satisfaction is our top priority. If you're not completely happy with
                                             your purchase, we’re here to help.
                                          </p>
                                       </div>

                                       <div style="margin: 20px 0;">
                                          <h3 style="margin-bottom: 10px;">Return Terms</h3>
                                          <p>
                                             <strong>30-Day Return Policy</strong><br>
                                             We offer FREE return shipping on all domestic returns within 30 days of
                                             purchase.
                                          </p>
                                       </div>

                                       <div style="margin: 20px 0;">
                                          <h3 style="margin-bottom: 10px;">Easy Process</h3>
                                          <p>
                                             Simply reach out to us within the return window, and we’ll guide you
                                             through a smooth and simple return process — no hassle, no stress.
                                          </p>
                                       </div>

                                    </div>
                                 </div>
                                 <div class="content4" id="content4">
                                    <div class="tabbed_scroll">My goal is always 100% complete customer satisfaction.
                                       Please do assist us here, and take the short time to send through your feedback.
                                       <br><br>If for any reason you are not satisfied please contact me before leaving
                                       feedback. We strive for 100% satisfied loyal customers who are happy to shop with
                                       us again & again.<br><br>Shop With Confidence.
                                    </div>
                                 </div>
                                 <div id="content5">
                                    <div class="tabbed_scroll">
                                       <div style="margin:0;">
                                          <h3 style="margin-bottom: 10px;">Passion for Collectibles</h3>
                                          <p>
                                             With over <strong>25 years of experience</strong> as a dedicated collector,
                                             I specialize in <strong>Pokémon cards, baseball cards, comic
                                                books</strong>, as well as <strong>foreign currency</strong> and
                                             <strong>precious metals</strong>. My love for rare and unique items is the
                                             heart of this store.
                                          </p>
                                       </div>

                                       <div style="margin: 20px 0;">
                                          <h3 style="margin-bottom: 10px;">From Hobby to Business</h3>
                                          <p>
                                             My online selling journey began on Amazon in <strong>2020</strong>, but I
                                             soon realized that eBay offered the perfect platform to grow my hobby into
                                             a professional business. In just three months, I proudly achieved
                                             <strong>Top-Rated Seller</strong> status, thanks to a strong commitment to
                                             quality, trust, and customer satisfaction.
                                          </p>
                                       </div>

                                       <div style="margin: 20px 0;">
                                          <h3 style="margin-bottom: 10px;">What You Can Expect</h3>
                                          <p>
                                             Every item in my store is handled with care and attention. I strive to
                                             offer a smooth and reliable shopping experience for fellow collectors and
                                             buyers who value authenticity and service.
                                          </p>
                                       </div>

                                       <div style="margin: 20px 0;">
                                          <h3 style="margin-bottom: 10px;">Store Details</h3>
                                          <p>
                                             <strong>Location:</strong> United States<br>
                                             <strong>Member Since:</strong> June 21, 2023<br>
                                             <strong>eBay Seller ID:</strong> dennington85
                                          </p>
                                       </div>

                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--TABBED CONTENT E-->
               </div>
               <!--MIDDLE E-->
            </div>
         </div>
      </div>
   </div>
   <!--FOOTER-->
   <div class="footerup">
      <div class="footer">
         <a target="_blank" href="https://www.ebay.com/str/thewanderingmerchant85">
            <div class="footer_div1">
               <p class="dv1_p1">Thank You</p>
               <p class="dv1_p2">for hanging with us!</p>
            </div>
         </a>
         <div class="footer_div2">
            <div class="scroll-right">
               <p></p>
            </div>
         </div>
      </div>
   </div>
   <!--FOOTER-->
</body>

</html>