<!DOCTYPE html>
<html>
   <head></head>
   <body>
      <meta name="viewport" content="width=device-width" />
      <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
      <p>
         <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous" />
         <link href="min.css" rel="stylesheet" media="screen" />
         <link href="menu.css" rel="stylesheet" type="text/css" />
         <link href="listing.css" rel="stylesheet" type="text/css" />
         <link href="responsive.css" rel="stylesheet" type="text/css" media="screen" />
      </p>
      <style>.text-regullar {padding:20px 40px 25px 40px;}.text-regullar p {margin-bottom:15px;}html { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; font-weight: 400;}/** * Firefox specific rule */@-moz-document url-prefix() { #menu ul li a { font-weight: lighter !important; }}@media only screen and (min-device-width: 320px) and (max-device-width: 550px) and (-webkit-min-device-pixel-ratio: 2) {.dream{max-width:100% !important;}}.dream{max-width:55%;}</style>
      <div class="pst-main">
         <header id="pst-header">
            <div class="top-row visible-desktop">
               <div class="container">
                  <div class="row">
                     <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-link"><a href="#" title="Welcome To Our eBay Store" target="_blank" rel="noopener">Welcome To Our eBay Store</a></div>
                     </div>
                     <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="top-nav">
                           <ul>
                              <li><a href="#" title="Our Feedback" target="_blank" rel="noopener">Our Feedback</a></li>
                              <li><a href="#" title="Favourite Seller" target="_blank" rel="noopener">Favourite Seller </a></li>
                              <li><a href="#" title="Newsletter" target="_blank" rel="noopener">Newsletter </a></li>
                              <li><a href="#" title="Send Message" target="_blank" rel="noopener">Send Message</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="pst-clear"></div>
            <div class="container">
               <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                     <div class="pst-logo"></div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12">
                     <center><a href="#" title="AussieBargainWarehouse" target="_blank" rel="noopener"><img style="width: 45%; margin-top: 14px; margin-bottom: 14px;" src="https://meotech.org/ebay/yi5onm4arketing/logo.png" alt="aussiebargainwarehouse" title="aussiebargainwarehouse" /></a></center>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12"></div>
               </div>
            </div>
            <div class="pst-clear"></div>
            <div class="menu-bg">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12 col-sm-12 col-xs-12">
                        <nav id="menu">
                           <input id="toggle-nav" type="checkbox" /><label id="toggle-nav-label" for="toggle-nav"></label> 
                           <div class="box">
                              <ul>
                                 <li><a href="#"Home" target="_blank" rel="noopener"><i class="fa fa-home"></i>Home</a></li>
                                 <li><a href="#"About Us" target="_blank" rel="noopener">About Us</a></li>
                                 <li><a href="#" title="Feedback" target="_blank" rel="noopener">Feedback</a></li>
                                 <li><a href="#_" title="New Arrivals" target="_blank" rel="noopener">New Arrivals</a></li>
                                 <li><a href="#" title="Ending Soon" target="_blank" rel="noopener">Ending Soon</a></li>
                                 <li><a href="#" title="Add To Favourites" target="_blank" rel="noopener">Add To Favourites</a></li>
                                 <li><a href="#" title="Contact Us" target="_blank" rel="noopener">Contact Us</a></li>
                              </ul>
                           </div>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <div class="pst-clear"></div>
         <div class="promo-bg visible-desktop">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="promo">
                        <ul>
                           <li><i class="fas fa-shipping-fast"></i>FAST Shipping</li>
                           <li><i class="fa fa-star"></i>Satisfaction Guarantee</li>
                           <li><i class="fa fa-thumbs-up"></i>Full After Sales Support</li>
                           <li><i class="fas fa-lock"></i>100% Safe &amp; Secure</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="listing-area">
               <br /> 
               <div class="pst-clear"></div>
               <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="data-table">
                        <p style="font-weight: bold;">PRODUCT DESCRIPTION</p>
                     </div>
                     <div class="pro-desc-para">
                        <div>
                           <span style="text-align: center;">[[IMAGE]]</span> 
                           <p>[[DESCRIPTION]]</p>
                        </div>
                     </div>
                  </div>
               </div>
               <br /> 
               <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="pst-tab">
                        <input name="tabs" id="tabthree" checked="checked" type="radio" /> <label for="tabthree">Payment</label> 
                        <div class="tab">
                           <p>We accept payment by any of the following methods:<br />PayPal</p>
                           <p>Please pay as soon as possible after winning an auction, as that will allow us to post your item to you sooner!</p>
                           <p><img src="https://dl.dropboxusercontent.com/s/t3f3kzbez1v56kf/payment.PNG" /></p>
                        </div>
                        <input name="tabs" id="tabfour" type="radio" /> <label for="tabfour">Shipping</label> 
                        <div class="tab">
                           <p>We offer FREE shipping on all orders!</p>
                           <p>We ship within Three business days of payment, usually sooner.</p>
                           <p>We use a selection of shipping services such as AusPost, Sendle, etc.</p>
                           <p>We only ship to Australian Customers.</p>
                           <p>Local pickups and combined shipping options are not provided at this time.</p>
                           <p><img src="https://dl.dropboxusercontent.com/s/b1vhwp568293q8n/shipping.PNG" /></p>
                        </div>
                        <input name="tabs" id="tabtwo" type="radio" /> <label for="tabtwo">Returns</label> 
                        <div class="tab">
                           <p><b>Satisfaction Guaranteed</b></p>
                           <p>Customer satisfaction is very important to us.If you have any problem with your order, please contact us and we will do our best to make you satisfied.</p>
                           <p>You can return a product for up to 30 days from the date you purchased it.</p>
                           <p>Any product you return must be in the same condition you received it and in the original packaging. Please keep the receipt.</p>
                           <p><img src="https://dl.dropboxusercontent.com/s/obzh79q0ysnr5bu/returns.PNG" /></p>
                        </div>
                        <input name="tabs" id="tabfive" type="radio" /> <label for="tabfive">Feedback</label> 
                        <div class="tab">
                           <p>Feedback is extremely important for all eBay sellers. We strive on providing the best possible experience while shopping with us. If you receive your order within a reasonable time frame and if you do not require any assistance with your purchase then we would kindly request you to please leave us a 5* Positive Feedback rating. This helps us as a seller to maintain high quality service.</p>
                           <p>Before leaving Negative or Neutral feedback please make sure to contact us and provide information about the issue.</p>
                           <p><img src="https://dl.dropboxusercontent.com/s/kexvegblzx0p200/image1.jpg" /></p>
                        </div>
                        <input name="tabs" id="tabone" type="radio" /> <label for="tabone">About Us</label> 
                        <div class="tab">
                           <p>Welcome to <b>Aussie Bargain Warehouse</b>.</p>
                           <p>We offer a huge range of great value products to choose from across a wide range of categories &ndash; everything from Toys, Gadgets &amp; Electrical Appliances to Manchester &amp; Homewares and much more.</p>
                           <p>Being an online retailer we are able to provide a 24-hour 7-days a week service without the overheads of a traditional bricks and mortar retailer, and we pass those savings on to you.</p>
                           <p>All our orders are fulfilled within Australia so you don&rsquo;t need to worry about waiting for months to receive your order. And that's why we can offer amazing prices on an ever-increasing range of quality and trendy products, so you can enjoy the thrill of getting exactly what you want at a bargain price.</p>
                           <p>If you love a bargain, you'll love <b>Aussie Bargain Warehouse</b>. Happy Shopping!</p>
                           <p><img src="https://dl.dropboxusercontent.com/s/kexvegblzx0p200/image1.jpg" /></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="pst-clear"></div>
         <div class="pst-footer">
            <div class="f-promo-bg">
               <div class="container">
                  <div class="row">
                     <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="f-promo">
                           <div class="f-promo-box">
                              <span class="icon-box"><img src="https://dl.dropboxusercontent.com/s/9okimkcbiqd22gx/promo-img-1.png" alt="Fast Shopping - On All Items" title="Fast Shopping - On All Items" /></span><span class="f-promo-text"><span class="f-promo-text">FAST SHIPPING<br /></span></span> 
                              <p>on all items</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="f-promo">
                           <div class="f-promo-box">
                              <span class="icon-box"><img src="https://dl.dropboxusercontent.com/s/s8pqf2mee669pry/promo-img-2.png" alt="Trusted Store - Satisfaction Guarantee" title="Trusted Store - Satisfaction Guarantee" /></span><span class="f-promo-text"><span class="f-promo-text">TRUSTED STORE<br /></span></span> 
                              <p>satisfaction guarantee</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="f-promo">
                           <div class="f-promo-box">
                              <span class="icon-box"><img src="https://dl.dropboxusercontent.com/s/hqbo1pc8k3ivwcq/promo-img-3.png" alt="Secure Shopping - Buy With Confidence" title="Secure Shopping - Buy With Confidence" /></span><span class="f-promo-text"><span class="f-promo-text">SECURE SHOPPING<br /></span></span> 
                              <p>buy with confidence</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="pst-clear"></div>
            <div class="container">
               <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12 visible-desktop">
                     <div class="f-row-head">Quick Links</div>
                     <div class="f-quick-link">
                        <ul>
                           <li><a href="#" title="Home" target="_blank" rel="noopener">- Home</a></li>
                           <li><a href="#" title="About Us" target="_blank" rel="noopener">- About Us</a></li>
                           <li><a href="#" title="Feedback" target="_blank" rel="noopener">- Feedback</a></li>
                           <li><a href="#" title="Contact Us" target="_blank" rel="noopener">- Contact Us</a></li>
                           <li><a href="#" title="Add to Favourites" target="_blank" rel="noopener">- Add to Favourites</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12 visible-desktop">
                     <div class="f-row-head">Payment Options</div>
                     <div class="f-payment">
                        <ul>
                           <li>Secure Payments by</li>
                        </ul>
                        <img src="https://dl.dropboxusercontent.com/s/qju54wz7y56sibv/paypal.png" class="img-responsive" alt="Secure Payment" title="Secure Payment" /> 
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-12 visible-desktop">
                     <div class="newslatter">
                        <div class="f-row-head">Store Newsletter</div>
                        <div class="pst-address">
                           <p>Add Store to your Favourites and receive email newsletters about new items and special promotions!</p>
                        </div>
                        <div class="sign-up"><a href="#" title="Sign Up Now" target="_blank" rel="noopener">Sign Up Now</a></div>
                     </div>
                  </div>
               </div>
               <div class="pst-clear"></div>
               <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="pst-copyright">Copyright &copy; <span>Aussie Bargain Warehouse</span></div>
                     <div class="pst-designer"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>