<div id="ds_div">
   <meta name="viewport" content="width=device-width">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="https://www.sunandfuninoc.com/sites/jx/DZ/10.BedBathMore/listing/images/style.css" media="screen and (min-width: 641px)">
   <!--[if lte IE 9]>
   <link rel='stylesheet' type='text/css' href='https://www.sunandfuninoc.com/sites/jx/DZ/10.BedBathMore/listing/images/style.css' />
   <![endif]-->
   <link rel="stylesheet" type="text/css" href="https://www.sunandfuninoc.com/sites/jx/DZ/10.BedBathMore/listing/images/mob_slider.css" media="screen and (max-width: 641px)">
   <link href="https://www.sunandfuninoc.com/sites/jx/DZ/10.BedBathMore/listing/images/ebay-resp.css" rel="stylesheet" type="text/css">
   <style type="text/css">
      <!--
         /*** Common Styles Starts ***/
         .main_bg > div,
         .main_bg > p,
         .main_bg > span,
         .main_bg > ul,
         .main_bg > ul > li,
         .main_bg > ul > li > a,
         .main_bg > table,
         .main_bg > table > tr,
         .main_bg > table > tr > td {
         font-family: 'Open Sans', sans-serif;
         font-size:13px;
         }
         .cleaner{clear:both}
         .tit_img{border:1px solid #f7f3ee;}
         #item_title{
         text-align:center;
         font-size:19px;
         line-height:30px;
         color:#a31f27;
         padding:15px 10px;
         font-weight:400;
         text-transform:uppercase;
         }
         .item_desc{
         text-align:left;
         font-size:14px;
         color:#56453d;
         padding:12px 0 12px 10px;
         margin-bottom:10px;
         font-weight:400;
         text-transform:uppercase;
         background-color:#f7f3ee;
         }
         .description{
         border:1px solid #f7f3ee;
         border-top:none;
         margin-top:20px;
         }
         .desc, .desc p{
         font-size:13px;
         color:#56453d;
         text-align:left;
         padding:0 0 0 10px;
         font-weight:400;
         line-height:25px;
         }
         .desc p, .desc ul, .desc ol{ padding:0 !important}
         .desc li{
         font-size:13px;
         color:#56453d;
         text-decoration:none;
         margin-left:15px;
         font-weight:400;
         }
         .desc ol li{
         background:none;
         list-style-type:decimal;
         padding-left:5px;
         }
         .radioclk {
         display:none;
         }
         .tab_content div{
         display:none;
         }
         /*****mob bot tabs*********/
         #mob-bottom-tabs{
         display: block;
         margin:15px 0;
         }
         .mob_tab {
         display:block;
         }
         .tab_top {
         display:none;
         }
         .tab_title {
         display:block;
         cursor:pointer;
         text-align:left;
         margin:0 0 2px 0;
         font-size:15px;
         color:#56453d;
         font-weight: 400;
         text-transform:uppercase;
         padding:10px 0 10px 10px;
         background-image:url(https://www.sunandfuninoc.com/sites/jx/DZ/10.BedBathMore/listing/images/tab_normal.jpg);
         background-repeat:no-repeat;
         background-position:right;
         background-color:#f7f3ee;
         border:1px solid #f7f3ee;
         }
         .tab_content div{
         padding:0px;
         }
         label.tab_title:hover {
         color:#adcb8b;
         background-image:url(https://www.sunandfuninoc.com/sites/jx/DZ/10.BedBathMore/listing/images/tab_hover.jpg);
         background-repeat:no-repeat;
         background-position:right;
         text-decoration:underline;
         }
         #mobtabs1:checked ~ .tab_content #content1,
         #mobtabs2:checked ~ .tab_content #content2,
         #mobtabs3:checked ~ .tab_content #content3,
         #mobtabs4:checked ~ .tab_content #content4,
         #mobtabs5:checked ~ .tab_content #content5,
         #mobtabs6:checked ~ .tab_content #content6 {
         display:block;
         padding-top:5px;
         }
         #mobtabs1:checked ~ .tab_content .tab1,
         #mobtabs2:checked ~ .tab_content .tab2,
         #mobtabs3:checked ~ .tab_content .tab3,
         #mobtabs4:checked ~ .tab_content .tab4,
         #mobtabs5:checked ~ .tab_content .tab5,
         #mobtabs6:checked ~ .tab_content .tab6 {
         background-image:url(https://www.sunandfuninoc.com/sites/jx/DZ/10.BedBathMore/listing/images/tab_hover.jpg);
         background-repeat:no-repeat;
         background-position:right;
         color:#adcb8b;
         }
         #content1, #content2, #content3, #content4, #content5, #content6 {
         border:1px solid #f7f3ee;
         position:relative;
         margin-top:-2px;
         border-top:none;
         background-color:#ffffff;
         margin-bottom:2px;
         text-align:left;
         line-height:23px;
         padding:0 0 0 10px;
         font-weight:400;
         font-size:13px;
         color:#56453d;
         }
         #content1 p, #content2 p, #content3 p, #content4 p, #content5 p, #content6 p{
         font-size:13px;
         color:#56453d;
         padding:0 0 0 8px;
         text-align:left;
         font-weight:400;
         line-height:23px;
         text-align:left;
         }
         #content1 li, #content2 li, #content3 li, #content4 li, #content5 li, #content6 li{
         color:#56453d;
         font-size:13px;
         text-align:left;
         font-weight:400;
         }
         /********bottom tab end*************/
         /*** Common Styles End ***/
         @media screen and (max-width:640px) {
         a img, div img, img, .video embed, .spa img{
         max-width:100%;
         }
         a img, img {
         border: 0;
         }
         .main_bg{
         background-image:url(https://www.sunandfuninoc.com/sites/jx/DZ/10.BedBathMore/listing/images/bg.jpg);
         background-repeat:repeat;
         background-color:#ffffff;
         }
         #page{
         width:100%;
         margin: 0px auto;
         }
         .header_menu, .fea_cat, .left_panel, .pc_image{
         display:none;
         }
         .mob_image, .mob_banner, .mob_footer{
         display:block;
         }
         .header{
         background-color:#ffffff;
         padding:15px 5px;
         text-align:center;
         }
         .header img{display:inline-block; text-align:center}
         #item_title{
         padding:15px 0;
         }
         .description{
         padding-bottom:15px;
         background-color:#ffffff;
         }
         .tab_title{
         text-align:left;
         }
         .mob_footer{margin-top:10px;}
         }
         -->
   </style>
   <div align="center" id="dzine" class="main_bg">
      <div class="main_top">
         <div class="ocd_ic"><label>eBay Template Design by OCDesignsOnline</label><span><img src="https://www.sunandfuninoc.com/sites/jx/DZ/10.BedBathMore/listing/images/oc.png" alt="oc"></span></div>
      </div>
      <div id="page">
         <!--header-->
         <div class="header">
            <a href="http://www.ebaystores.com/Sweet-Home-Deals" target="_blank"><img src="https://www.sunandfuninoc.com/sites/jx/DZ/10.BedBathMore/listing/images/logo.jpg"></a><img src="https://www.sunandfuninoc.com/sites/jx/DZ/10.BedBathMore/listing/images/shipping_logo.jpg" alt="shipping" class="ship_img">
            <div class="cleaner"></div>
         </div>
         <!--header end-->
         <!--header_menu-->
         <div class="header_menu_bg">
            <div class="header_menu">
               <ul>
                  <li><a href=" http://www.ebaystores.com/Sweet-Home-Deals" target="_blank">Home</a></li>
                  <li><a href="http://www.ebaystores.com/Sweet-Home-Deals/About-Us.html" target="_blank">About Us</a></li>
                  <li><a href="http://www.ebaystores.com/Sweet-Home-Deals/Policies.html" target="_blank">Policies</a></li>
                  <li><a href="http://www.ebaystores.com/Sweet-Home-Deals/Shipping.html" target="_blank">Shipping</a></li>
                  <li><a href="https://contact.ebay.com/ws/eBayISAPI.dll?FindAnswers&amp;frm=284&amp;requested=linenbathbeyond" target="_blank">Contact Us</a></li>
               </ul>
               <div class="cleaner"></div>
            </div>
         </div>
         <!--header_menu end-->
         <!--store_bg-->
         <div class="store_bg">
            <!--right_panel-->
            <div class="right_panel">
               <!--tit_img-->
               <div class="tit_img">
                  <!--item title-->
                  <div id="item_title">Sweet Home Collection 3-Piece Kitchen Sink Dish Drainer Set- Red</div>
                  <!--item title end-->
                  <!--image module-->
                  <div class="pc_img_section">
                     <!-- listing gallery -->
                     <div id="x-main-gall" class="x-pbox x-brdm x-bklt">
                        <div class="x-tins">
                           <!-- IMAGE GALLERY GOES HERE -->
                           <div id="x-temp-gall">
                              <div id="x-gall-main">
                                 <!-- MAIN IMG 02 -->
                                 <div id="img02" class="x-cntr x-hidehttps://bbm.cwa.sellercloud.com/images/products/1795158.jpg"><img src="https://bbm.cwa.sellercloud.com/images/products/1795158.jpg" alt=""></div>
                                 <!-- MAIN IMG 03 -->
                                 <div id="img03" class="x-cntr x-hidehttps://bbm.cwa.sellercloud.com/images/products/1795159.jpg"><img src="https://bbm.cwa.sellercloud.com/images/products/1795159.jpg" alt=""></div>
                                 <!-- MAIN IMG 04 -->
                                 <div id="img04" class="x-cntr x-hidehttps://bbm.cwa.sellercloud.com/images/products/1795160.jpg"><img src="https://bbm.cwa.sellercloud.com/images/products/1795160.jpg" alt=""></div>
                                 <!-- MAIN IMG 05 -->
                                 <div id="img05" class="x-cntr x-hide"><img src="" alt=""></div>
                                 <!-- MAIN IMG 06 -->
                                 <div id="img06" class="x-cntr x-hide"><img src="" alt=""></div>
                                 <!-- MAIN IMG 07 -->
                                 <div id="img07" class="x-cntr x-hide"><img src="" alt=""></div>
                                 <!-- MAIN IMG 08 -->
                                 <div id="img08" class="x-cntr x-hide"><img src="" alt=""></div>
                                 <!-- MAIN IMG 09 -->
                                 <div id="img09" class="x-cntr x-hide"><img src="" alt=""></div>
                                 <!-- MAIN IMG 10 -->
                                 <div id="img10" class="x-cntr x-hide"><img src="" alt=""></div>
                                 <!-- MAIN IMG 01 -->
                                 <div id="img01" class="x-cntr x-hidehttps://bbm.cwa.sellercloud.com/images/products/1795157.jpg"><img src="https://bbm.cwa.sellercloud.com/images/products/1795157.jpg" alt=""></div>
                              </div>
                              <div id="x-gall-thmb">
                                 <!-- THMB IMG 01 -->
                                 <div id="simg01" rel="https://bbm.cwa.sellercloud.com/images/products/1795157.jpg" class="x-hold">
                                    <div class="x-cntr"><a href="#img01"><img src="https://bbm.cwa.sellercloud.com/images/products/1795157.jpg" alt=""></a></div>
                                 </div>
                                 <!-- THMB IMG 02 -->
                                 <div id="simg02" rel="https://bbm.cwa.sellercloud.com/images/products/1795158.jpg" class="x-hold">
                                    <div class="x-cntr"><a href="#img02"><img src="https://bbm.cwa.sellercloud.com/images/products/1795158.jpg" alt=""></a></div>
                                 </div>
                                 <!-- THMB IMG 03 -->
                                 <div id="simg03" rel="https://bbm.cwa.sellercloud.com/images/products/1795159.jpg" class="x-hold">
                                    <div class="x-cntr"><a href="#img03"><img src="https://bbm.cwa.sellercloud.com/images/products/1795159.jpg" alt=""></a></div>
                                 </div>
                                 <!-- THMB IMG 04 -->
                                 <div id="simg04" rel="https://bbm.cwa.sellercloud.com/images/products/1795160.jpg" class="x-hold">
                                    <div class="x-cntr"><a href="#img04"><img src="https://bbm.cwa.sellercloud.com/images/products/1795160.jpg" alt=""></a></div>
                                 </div>
                                 <!-- THMB IMG 05 -->
                                 <div id="simg05" rel="" class="x-hold">
                                    <div class="x-cntr"><a href="#img05"><img src="" alt=""></a></div>
                                 </div>
                                 <!-- THMB IMG 06 -->
                                 <div id="simg06" rel="" class="x-hold">
                                    <div class="x-cntr"><a href="#img06"><img src="" alt=""></a></div>
                                 </div>
                                 <!-- THMB IMG 07 -->
                                 <div id="simg07" rel="" class="x-hold">
                                    <div class="x-cntr"><a href="#img07"><img src="" alt=""></a></div>
                                 </div>
                                 <!-- THMB IMG 08 -->
                                 <div id="simg08" rel="" class="x-hold">
                                    <div class="x-cntr"><a href="#img08"><img src="" alt=""></a></div>
                                 </div>
                                 <!-- THMB IMG 09 -->
                                 <div id="simg09" rel="" class="x-hold">
                                    <div class="x-cntr"><a href="#img09"><img src="" alt=""></a></div>
                                 </div>
                                 <!-- THMB IMG 10 -->
                                 <div id="simg10" rel="" class="x-hold">
                                    <div class="x-cntr"><a href="#img10"><img src="" alt=""></a></div>
                                 </div>
                              </div>
                              <div class="cleaner"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--image module end-->
                  <div class="cleaner"></div>
               </div>
               <!--tit_img end-->
               <!--description-->
               <div class="description">
                  <div class="item_desc">Product Description</div>
                  <div class="desc">
                     <p>Three Piece Dish Drainer set has a moisture tray that drains directly into adjacent sink, vinyl-coated wire rack with dish and cup slots, and a plastic cutlery caddy.</p>
                     <h2>Features:</h2>
                     <ul>
                        <li>Set includes: One 3 pc dish drainer</li>
                        <li>Pattern: Solid</li>
                        <li>Texture: Smooth</li>
                        <li>Color: Red</li>
                        <li>Materials: Metal/plastic</li>
                        <li>Dimensions: 12" x 19"&nbsp;x 5"</li>
                     </ul>
                  </div>
                  <div class="cleaner"></div>
               </div>
               <!--description end-->
               <div class="cleaner"></div>
               <!-- Bottom tab-->
               <div id="mob-bottom-tabs">
                  <div class="pc_tab">
                     <input type="radio" class="radioclk" id="mobtabs1" name="mobtabs" checked="">
                     <input type="radio" class="radioclk" id="mobtabs2" name="mobtabs">
                     <input type="radio" class="radioclk" id="mobtabs3" name="mobtabs">
                     <input type="radio" class="radioclk" id="mobtabs4" name="mobtabs">
                     <input type="radio" class="radioclk" id="mobtabs5" name="mobtabs">
                     <input type="radio" class="radioclk" id="mobtabs6" name="mobtabs">
                     <div class="tab_content">
                        <label class="mob_tab tab1 tab_title" for="mobtabs1">Payment Terms</label>
                        <div id="content1">
                           <p></p>
                           <h3>Payment Requirements </h3>
                           <p>
                              In order for your order to be submitted and fulfilled, we will need to verify your payment. Please confirm your payment via Paypal or by any means that are in line with eBay policies. Upon receiving payment confirmation we will do our best to ship your order within one business day. We thank you for your cooperation and we hope to make this process quick and easy one.
                           </p>
                           <p>&nbsp;</p>
                           <p></p>
                        </div>
                        <label class="mob_tab tab2 tab_title" for="mobtabs2">Shipping Terms</label>
                        <div id="content2">
                           <p></p>
                           <p class="BodyA"><strong>What Separates Our Shipping?</strong></p>
                           <p class="BodyA">We understand that an large part of customer service depends on quickly and efficiently shipping orders. For that reason we have incorporated a special software that integrates our inventory and fulfillment in one central location.&nbsp;</p>
                           <p class="BodyA">As we continue to add items to our catalog our software will make ensure that all listings, new or old, remain up to date with our active listings. Since we know you don't have time to waste, virtually all orders are shipped within one business day.&nbsp;</p>
                           <p class="BodyA">&nbsp;</p>
                           <p></p>
                        </div>
                        <label class="mob_tab tab3 tab_title" for="mobtabs3">Returns Policy</label>
                        <div id="content3">
                           <p></p>
                           <p>OUR STORE POLICIES</p>
                           <p>We offer a FREE standard shipping policy for all orders. After receiving an order, we ask that customers contact us within 30 days- if any item needs to be returned or replaced for whatever reason we will be happy to assist you. The quicker you can inform us about your order, the quicker we will be able to resolve the problem.</p>
                           <p>For most cases, we are prepared to offer money back or item exchange, as per to request of our customer. The buyer pays for return shipping.</p>
                           <p></p>
                        </div>
                        <label class="mob_tab tab4 tab_title" for="mobtabs4">About Us</label>
                        <div id="content4">
                           <p></p>
                           <p class="BodyA"><strong><span style="font-size: 18px;">Sweet Home Deals</span></strong></p>
                           <p class="BodyA"><strong>What We’re About</strong></p>
                           <p class="BodyA">Our mission is simple: to help you create the bedroom and bathroom of your dreams with the highest quality bed and bath accessories. That was our focus when we opened our family-owned business in 1995, and it remains our number-one priority today.</p>
                           <p class="BodyA"><strong>A Different Approach</strong></p>
                           <p class="BodyA">Our unwavering commitment to quality starts at the very beginning, when our products are made. Since we manufacture nearly everything we sell, we’re able to insist on using only the best designs and materials. And since we've cut out the middle man, we can accommodate retail and wholesale customers, domestic and international orders, all while keeping prices reasonable.</p>
                           <p class="BodyA"><strong>Unmatched Selection</strong></p>
                           <p class="BodyA">Whether you’re shopping for luxury bedding and alternative down comforters or designer shower curtains and bath rugs, we’ve got you covered. Our large inventory is constantly growing, so we have something to fit every sense of style. </p>
                           <p class="BodyA"><strong>Unparalleled Customer Service</strong></p>
                           <p class="BodyA">We want you to be 100 percent satisfied with your purchases, and we pride ourselves on offering the best customer service in the business. Whether you’re calling with a simple question or telling us about your experience with one of our products, we strive to give each and every customer an efficient, personal experience. And since we know you don’t have time to waste, virtually all orders are shipped within one business day.</p>
                           <p class="BodyA"><strong>&nbsp;</strong></p>
                           <p class="BodyA"><strong>Our Hometown</strong></p>
                           <p class="BodyA">Our headquarters are in Brooklyn, New York, in the heart of a thriving arts and culture neighborhood. On every corner you’ll find artisans and designers who, like us, are passionate about what they do. It’s this environment that helps inspire us to continue innovating and creating.<span lang="en-US" style="font-size: 10pt; font-family: 'Times New Roman', serif; color: windowtext;"></span></p>
                           <p></p>
                        </div>
                        <label class="mob_tab tab5 tab_title" for="mobtabs5">Contact Us</label>
                        <div id="content5">
                           <p></p>
                           <p>Contact us anytime through Ebay messages and we will reply as soon as possible during normal business hours.</p>
                           <p></p>
                        </div>
                     </div>
                  </div>
                  <div class="cleaner"></div>
               </div>
               <!-- Bottom tab end-->
               <!--fea_cat-->
               <div class="fea_cat">
                  <a href="http://www.ebaystores.com/Sweet-Home-Deals_W0QQ_armrsZ1QQ_fsubZ4297237013" target="_blank" class="linkopac"><img src="https://www.sunandfuninoc.com/sites/jx/DZ/10.BedBathMore/listing/images/cat_01.jpg" alt="sheet sets"></a><a href="http://www.ebaystores.com/Sweet-Home-Deals_W0QQ_armrsZ1QQ_fsubZ4297235013" target="_blank" class="linkopac"><img src="https://www.sunandfuninoc.com/sites/jx/DZ/10.BedBathMore/listing/images/cat_02.jpg" alt="shower curtains"></a><a href="http://www.ebaystores.com/Sweet-Home-Deals_W0QQ_armrsZ1QQ_fsubZ9937483013" target="_blank" class="linkopac"><img src="https://www.sunandfuninoc.com/sites/jx/DZ/10.BedBathMore/listing/images/cat_03.jpg" alt="bath accessory sets"></a><a href="http://www.ebaystores.com/Sweet-Home-Deals_W0QQ_armrsZ1QQ_fsubZ9495491013" target="_blank" class="linkopac fea4"><img src="https://www.sunandfuninoc.com/sites/jx/DZ/10.BedBathMore/listing/images/cat_04.jpg" alt="kitchen accessories"></a>
                  <div class="cleaner"></div>
               </div>
               <!--fea_cat end-->
            </div>
            <!--right_panel end-->
            <!--left_panel-->
            <div class="left_panel">
               <!--shop categories-->
               <div class="cat_bdr">
                  <div id="panel_bg">Shop Categories</div>
                  <ul class="panel_list">
                     <li><a href="http://www.ebaystores.com/Sweet-Home-Deals_W0QQ_armrsZ1QQ_fsubZ4297234013" target="_blank">Bathroom</a></li>
                     <li><a href="http://www.ebaystores.com/Sweet-Home-Deals_W0QQ_armrsZ1QQ_fsubZ4297233013" target="_blank">Bedding</a></li>
                     <li><a href="http://www.ebaystores.com/Sweet-Home-Deals_W0QQ_armrsZ1QQ_fsubZ9495554013" target="_blank">Car</a></li>
                     <li><a href="http://www.ebaystores.com/Sweet-Home-Deals_W0QQ_armrsZ1QQ_fsubZ49814221013" target="_blank">Clothing Accessories</a></li>
                     <li><a href="http://www.ebaystores.com/Sweet-Home-Deals_W0QQ_armrsZ1QQ_fsubZ46270563013" target="_blank">Craft and Hobby</a></li>
                     <li><a href="http://www.ebaystores.com/Sweet-Home-Deals_W0QQ_armrsZ1QQ_fsubZ42489014013" target="_blank">Electronics</a></li>
                     <li><a href="http://www.ebaystores.com/Sweet-Home-Deals_W0QQ_armrsZ1QQ_fsubZ8781713013" target="_blank">Home Decor</a></li>
                     <li><a href="http://www.ebaystores.com/Sweet-Home-Deals_W0QQ_armrsZ1QQ_fsubZ9495458013" target="_blank">Home Organization</a></li>
                     <li><a href="http://www.ebaystores.com/Sweet-Home-Deals_W0QQ_armrsZ1QQ_fsubZ4297232013" target="_blank">Kitchen</a></li>
                     <li><a href="http://www.ebaystores.com/Sweet-Home-Deals_W0QQ_armrsZ1QQ_fsubZ45321590013" target="_blank">Outdoors</a></li>
                     <li><a href="http://www.ebaystores.com/Sweet-Home-Deals_W0QQ_armrsZ1QQ_fsubZ42893974013" target="_blank">Pet Accessories</a></li>
                     <li><a href="http://www.ebaystores.com/Sweet-Home-Deals_W0QQ_armrsZ1QQ_fsubZ1" target="_blank">Other items</a></li>
                  </ul>
               </div>
               <!--shop categories end-->
               <!--Newsletter-->
               <div id="panel_bg1">Store Newsletter</div>
               <div class="news_bg">
                  <div class="news">Add Sweet Home Deals to your Favorites and receive our e-mail newsletters about new items and special promotions.</div>
                  <div class="signup"><a href="https://my.ebay.com/ws/eBayISAPI.dll?AcceptSavedSeller&amp;linkname=includenewsletter&amp;sellerid=linenbathbeyond" target="_blank">Sign up</a></div>
                  <div class="cleaner"></div>
               </div>
               <!--Newsletter end-->
               <!--left_banner-->
               <div align="center" class="lft_ban"><img src="https://www.sunandfuninoc.com/sites/jx/DZ/10.BedBathMore/listing/images/why_shop.jpg" alt="why_shop"></div>
               <div align="center" class="lft_ban"><img src="https://www.sunandfuninoc.com/sites/jx/DZ/10.BedBathMore/listing/images/payment.jpg" alt="payment"></div>
               <!--left_banner end-->
            </div>
            <!--left_panel end-->
            <div class="cleaner"></div>
         </div>
         <!--store_bg end-->
         <div class="footer_bg">
            <!--footer-->
            <div class="footer">
               <ul>
                  <li><a href=" http://www.ebaystores.com/Sweet-Home-Deals" target="_blank">Home</a></li>
                  <li>|</li>
                  <li><a href="http://www.ebaystores.com/Sweet-Home-Deals/About-Us.html" target="_blank">About Us</a></li>
                  <li>|</li>
                  <li><a href="http://www.ebaystores.com/Sweet-Home-Deals/Policies.html" target="_blank">Policies</a></li>
                  <li>|</li>
                  <li><a href="http://www.ebaystores.com/Sweet-Home-Deals/Shipping.html" target="_blank">Shipping</a></li>
                  <li>|</li>
                  <li><a href="https://contact.ebay.com/ws/eBayISAPI.dll?FindAnswers&amp;frm=284&amp;requested=linenbathbeyond" target="_blank">Contact Us</a></li>
               </ul>
               <div class="cleaner"></div>
            </div>
            <!--footer end-->
            <div class="copy">Copyright © 2013 Sweet Home Deals - All rights reserved | eBay Store Design</div>
         </div>
      </div>
   </div>
   <br>
   <center>
      <table>
         <tbody>
            <tr>
               <td style="text-align:center"><a target="_blank" href="https://cgi6.ebay.com/ws/eBayISAPI.dll?SolutionsDirectory&amp;page=details&amp;solutionId=16285"><img border="0" src="https://www.sellercloud.com/images/PoweredBySellerCloud.png"></a></td>
            </tr>
            <tr>
               <td style="text-align:center"></td>
            </tr>
         </tbody>
      </table>
   </center>
</div>