<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
   <head>
      <title></title>
      <meta name="description" content="{name}" />
      <meta name="keywords" content="" />
      <link href="https://meotech.org/ebay/walima/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      <link href="https://meotech.org/ebay/walima/css/listing.css" rel="stylesheet" type="text/css" />
      <link href="https://meotech.org/ebay/walima/css/reponsive.css" rel="stylesheet" type="text/css" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <style>
         img {
         max-width: 100%;
         }
      </style>
   </head>
   <body>
      <div class="dezign_wapper">
         <div class="dezign_hedare_wapper">
            <div class="dezign_top_header">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-md-4">
                        <div class="welcome_text">Welcome to<strong>shoping with us</strong></div>
                     </div>
                     <div class="col-md-8">
                        <ul class="main_menu"> 
                           <li><a  href="#about">About Us</a></li>
                           <li><a  href="#payment">Payment</a></li>
                           <li><a  href="#shipping">Shipping </a></li>
                           <li><a  href="#return">Returns </a></li>
                           <li><a  href="#contact">Contact Us</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="dezign_header">
               <div class="dezin_border">
                  <div class="container">
                     <div class="row align-items-center">
                        <div class="col-md-4">
                           <div id="dezign_logo"> <a href="" target="#"><img src="https://meotech.org/ebay/walima/images/logo.jpeg" alt="" /></a> </div>
                        </div>
                        <div class="col-md-4">
                           
                        </div>
                        <div class="col-md-4">
                           <div class="dezign_promo clearfix"> <img class="img-fluid" src="https://meotech.org/ebay/walima/images/top_promo.jpg" alt="" /> </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12 px-0 mx-0">
                  <div class="dezign_prmotion"> <img class="img-fluid" src="https://meotech.org/ebay/walima/images/promo.png" alt=""> </div>
               </div>
            </div>
         </div>
         <div id="dezign_home_banner">
            <div id="maine_slider"> <a target="" href=""> <img class="img-fluid" src="https://meotech.org/ebay/walima/images/banner.jpeg" alt=""> </a> </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="listing_content">
                  <div id="listingarea">
                     <div class="listing_listingarea-box">
                        <div class="listing_listinghead">
                           <h1>[TAGBOT- ][TAGBOT TITLE =]</h1>
                        </div>
                        <div class="product_images_wappers">
                           <div class="product_images_gallery">
                              <div class="essWrap ess-gallery clearfix">
                                 <input type="radio" name="image-view" id="imgView1" autocomplete="off" checked="checked">
                                 <input type="radio" name="image-view" id="imgView2" autocomplete="off">
                                 <input type="radio" name="image-view" id="imgView3" autocomplete="off">
                                 <input type="radio" name="image-view" id="imgView4" autocomplete="off">
                                 <input type="radio" name="image-view" id="imgView5" autocomplete="off">
                                 <input type="radio" name="image-view" id="imgView6" autocomplete="off">
                                 <input type="radio" name="image-view" id="imgView7" autocomplete="off">
                                 <div class="img-box">
                                    <div id="content1" class="img-holder">
                                       <input id="popup-1" autocomplete="off" type="checkbox">
                                       <label class="imgBox lightbox" for="popup-1">
                                          <div class="img-popup"> <img src="[TagBot?photo1?Photo no.1 =https://][TagBot?photo1]" alt=""> </div>
                                       </label>
                                    </div>
                                    <div id="content2" class="img-holder">
                                       <input id="popup-2" type="checkbox">
                                       <label class="imgBox lightbox" for="popup-2" autocomplete="off">
                                          <div class="img-popup"> <img src="[TagBot?photo1?Photo no.2 =https://][TagBot?photo1]" alt=""> </div>
                                       </label>
                                    </div>
                                    <div id="content3" class="img-holder">
                                       <input id="popup-3" type="checkbox">
                                       <label class="imgBox lightbox" for="popup-3" autocomplete="off">
                                          <div class="img-popup"> <img src="[TagBot?photo1?Photo no.3 =https://][TagBot?photo1]" alt=""> </div>
                                       </label>
                                    </div>
                                    <div id="content4" class="img-holder">
                                       <input id="popup-4" type="checkbox">
                                       <label class="imgBox lightbox" for="popup-4" autocomplete="off">
                                          <div class="img-popup"> <img src="[TagBot?photo1?Photo no.4 =https://][TagBot?photo1]" alt=""> </div>
                                       </label>
                                    </div>
                                    <div id="content5" class="img-holder">
                                       <input id="popup-5" type="checkbox">
                                       <label class="imgBox lightbox" for="popup-5" autocomplete="off">
                                          <div class="img-popup"> <img src="[TagBot?photo1?Photo no.5 =https://][TagBot?photo1]" alt=""> </div>
                                       </label>
                                    </div>
                                    <div id="content6" class="img-holder">
                                       <input id="popup-6" type="checkbox">
                                       <label class="imgBox lightbox" for="popup-6" autocomplete="off">
                                          <div class="img-popup"> <img src="[TagBot?photo1?Photo no.6 =https://][TagBot?photo1]" alt=""> </div>
                                       </label>
                                    </div>
                                    <div id="content7" class="img-holder">
                                       <input id="popup-7" type="checkbox">
                                       <label class="imgBox lightbox" for="popup-7" autocomplete="off">
                                          <div class="img-popup"> <img src="[TagBot?photo1?Photo no.7 =https://][TagBot?photo1]" alt=""> </div>
                                       </label>
                                    </div>
                                 </div>
                                 <div class="thumb clearfix">
                                    <label class="imgBox" for="imgView1">
                                       <div class="box"> <img src="[TagBot?photo1?Photo no.1 =https://][TagBot?photo1]" alt=""> </div>
                                    </label>
                                    <label class="imgBox" for="imgView2">
                                       <div class="box"> <img src="[TagBot?photo1?Photo no.2 =https://][TagBot?photo1]" alt=""> </div>
                                    </label>
                                    <label class="imgBox" for="imgView3">
                                       <div class="box"> <img src="[TagBot?photo1?Photo no.3 =https://][TagBot?photo1]" alt=""> </div>
                                    </label>
                                    <label class="imgBox" for="imgView4">
                                       <div class="box"> <img src="[TagBot?photo1?Photo no.4 =https://][TagBot?photo1]" alt=""> </div>
                                    </label>
                                    <label class="imgBox" for="imgView5">
                                       <div class="box"> <img src="[TagBot?photo1?Photo no.5 =https://][TagBot?photo1]" alt=""> </div>
                                    </label>
                                    <label class="imgBox" for="imgView6">
                                       <div class="box"> <img src="[TagBot?photo1?Photo no.6 =https://][TagBot?photo1]" alt=""> </div>
                                    </label>
                                    <label class="imgBox" for="imgView7">
                                       <div class="box"> <img src="[TagBot?photo1?Photo no.7 =https://][TagBot?photo1]" alt=""> </div>
                                    </label>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="listing_listingarea-box">
                        <div class="desc-hedtitle">Product Description</div>
                        <div class="desc-rd desc-text">
                           <p>[TagBot- ][TagBot Description=]</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="tab">
                  <div class="para-div">
                  <label class="nomarginright none" id="about" for="tabsix">About US</label>
                  </div>
                  <p class="heading-p">The Market Valley is a Leading E-commerce company with the mission of providing great consumer value and amazing customer Service and experience! We offer brand name products as well as our own privet label brands thus allowing us to bring a wide variaty of products and affodability to our customers. We put great effor in improving our logistics process to make sure your orders are processed fast and arrive safe and on time!</p>
               </div>

               <div class="tab">
                  <div class="para-div">
                  <label class="nomarginright none" id="payment" for="tabsix">Payment</label>
                  </div>
                  <p class="heading-p">We are part of Ebay Management Payaments which enables customers to enter payment information and process it without having to travel to a third-party site and leave the eBay interface. Consumers will have the benefit of easy, fast payment all through eBay's site, which includes multiple payment options such as credit cards, debit cards, Google Pay, Apple Pay and even PayPal if they choose.</p>
               </div>

               <div class="tab">
                  <div class="para-div">
                  <label class="nomarginright none" id="shipping" for="tabsix">Shipping</label>
                  </div>
                  <p class="heading-p">We have different options avaliable to our customers depending on the item, from Free shipping to Express Shipping and Next Day shipping. Our goal is to ship you order as fast as possible, many times the same day after receiving cleared payment.</p>
               </div>

               <div class="tab">
                  <div class="para-div">
                  <label class="nomarginright none" id="return" for="tabsix">Returns</label>
                  </div>
                     <div class="heading-p" style="margin-bottom:10px;">
                        <p class="heading-pp">DOMESTIC RETURNS OPTIONS</p>
                        <p class="heading-pp">Returns Accepted</p>
                        <p class="heading-pp">After receiving the item, buyer should contact you within: 30 Days</p>
                        <p class="heading-pp">Return shipping will be paid by: Seller (Free Returns)</p>
                        <p class="heading-pp">Refund will be given as: Money Back</p>
                        <p class="heading-pp">INTERNATIONAL RETURNS OPTIONS</p>
                        <p class="heading-pp">Returns Not Accepted</p>
                     </div>
               </div>

               <div class="tab">
                  <div class="para-div">
                  <label class="nomarginright none" id="contact" for="tabsix">Contact Us</label>
                  </div>
                  <p class="heading-p">Due to recent eBay policy changes we can no longer take calls directly to us. You can however still contact us directly via eBay messages by
                  <br>
                  <strong>Clicking on contact with seller </strong></a>, we will get back to you shortly. Send us a message.
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="footer_bottom_wapper">
         <footer class="footer_main_wapper">
            <div class="newsletter_section">
               <div class="container">
                  <div class="newsletter_section_contant">
                     <div class="newsletter_section_title"> Subscribe To Our Newsletter</div>
                     <div class="newsletter_section_text">
                        <p>For Latest Products and Special Offers</p>
                        <div class="browse_product_btn">
                        	<a class="btn01" href="">Subscribe Now</a> </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="dezign_footer_wapper">
               <div class="container">
                  <div class="row">
                     <div class="col-md-4">
                        <div class="footer_block1">
                           <div class="footer_block">
                              <div class="footer_block_titel">USE FULL LINK</div>
                              <div class="footer_menu">
                                 <ul>   
                                    <li><a href="#shipping" >Shipping</a> </li>
                                    <li><a href="#return">Returns</a> </li>
                                    <li><a href="#contact">Contact us</a> </li>
                                    <li><a href="#payment">Payment</a> </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="footer_block2">
                           <div class="footer_logo"> <a href="" target="_blank"> <img class="img-fluid" src="https://meotech.org/ebay/walima/images/footer_logo.png" alt="" /> </a> </div>
                           <div class="thank_line"> 
                              <img src="https://meotech.org/ebay/walima/images/thank_logo.png" alt="" /> 
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="footer_block3">
                           <div class="footer_block footer_right">
                              <div class="footer_block_titel">Shop with Secure Payment</div>
                              <div class="footer_payment text-center">
                                 <img src="https://meotech.org/ebay/walima/images/footer_payment.png" class="img-fluid"> 
                                 <p>© 2020 - <span>This city Now.</span> All Rights Reserved</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
      </div>
      </div>
   </body>
</html>