@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast-container--top-right {
     top: 80px;
     right: 10px;
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}