<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" />
<link href="https://meotech.org/ebay/tecchfix100/style_v001.css" rel="stylesheet" />
<section class="promo hidden-sm hidden-xs" style="margin-top: 10px;">
   <div class="container" style="background: #9e4a95; padding: 0px; margin: auto;">
      <div class="promo-content">
         <!-- Top Promo / Font-Awesome / Edit Text or Icon --><a class="box-promotion"><span><i class="fa fa-truck"></i> Fast Delivery</span></a> <a class="box-promotion"><span><i class="fa fa-flag"></i> UK Based</span></a> <a class="box-promotion"><span><i class="fa fa-dollar"></i> Best Price</span></a> <a class="box-promotion"><span><i class="fa fa-shopping-cart"></i> Secure Shopping</span></a>
      </div>
   </div>
</section>
<section class="header-container">
   <div class="container" style="margin-top: 20px; padding-left: 0px; padding-right: 0px;"><img src="https://i.postimg.cc/nLNXK1Wm/bargain-hauz-banner-1200-270-1.jpg" width="100%" /></div>
   <div class="header-content">
      <div class="container">
         <br />
         <label class="hidden-nav" for="nav-trigger">STORE LINKS</label>
         <div class="menu-header menu-header-mobile">
            <div class="container">
               <div class="menu-container">
                  <ul class="menu">
                     <li><a href="http://stores.ebay.co.uk/StorageMayham" target="_blank">Home</a></li>
                     <li><a href="http://stores.ebay.co.uk/StorageMayham/_i.html?_sop=10&amp;rt=nc" target="_blank">New Arrivals</a></li>
                     <li><a href="http://stores.ebay.co.uk/StorageMayham/_i.html?_sop=1&amp;rt=nc" target="_blank">Ending Soon</a></li>
                     <li><a href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&amp;userid=electronic-mayham&amp;rt=nc" target="_blank">Feedback</a></li>
                     <li><a href="http://contact.ebay.co.uk/ws/eBayISAPI.dll?FindAnswers&amp;requested=electronic-mayham&amp;_trksid=p2050430.m2531.l4583&amp;rt=nc&amp;iid=292116851776" target="_blank">Contact Us</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!--Header End-->
<section>
   <div class="container">
      <div class="row product-image">
         <div class="col-md-6 col-sm-6 col-xs-12">{{ main_image_with_tag }}</div>
         <div class="col-md-6 col-sm-6 col-xs-12 dec-wrap">
            <div class="row">
               <div class="col-sm-12">
                  <h3 class="title-hks">{{ title }}</h3>
               </div>
            </div>
            <div class="col-sm-12 card-3">
               <h3 class="hks-3">Features</h3>
               <div class="fetures_div">
                  <ul>
                     <li>{{ item_specifics }}</li>
                     <!-- Add more features here -->
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section>
   <div class="container ">
      <div class="reasons">
         <div class="row ">
            <div class="col-sm-12">
               <img class="desktop_view" src="https://meotech.org/ebay/tecchfix100/banner.png" width="100%">
               <img class="mobile_view" src="https://meotech.org/ebay/tecchfix100/mob_banner.png" width="100%">
            </div>
            <!-- <div class="col-sm-4">
               <img src="C:/Users/chriz/Desktop/tecchfix100/reasons-01.png">
            </div>
            <div class="col-sm-4" style="display: flex; align-items: center;">
               <img src="C:/Users/chriz/Desktop/tecchfix100/reasons-02.png">
            </div>
            <div class="col-sm-4" style="display: flex; align-items: center;">
               <img src="C:/Users/chriz/Desktop/tecchfix100/reasons-03.png">
            </div> -->
         </div>
      </div>
   </div>
</section>
<section class="content">
   <div class="container">
      <div class="inner-row">
         <div class="col-md-12 right-content">
            <div class="tabarea">
               <div class="tab-content">
                  <input checked="checked" id="tab1" name="tabs" type="radio" /> 
                  <label for="tab1">
                     <span>DESCRIPTION</span><!--Tab 4 Name--> 
                  </label>
                  <section id="content1">
                     <p class="MsoNormal" style="font-size: 14pt; font-family: Arial;">
                        <span style="font-family: &quot;Open Sans&quot;, sans-serif; font-size: 15px;">Welcome to our eBay store, here you will find a collection of quality items at discounted prices. By buying from us, you agree to our terms &amp; conditions. If you have any questions or queries please contact us through eBay. We are here to serve you!</span><br />
                        <br />
                        <o:p></o:p>
                     </p>
                     <h1 class="a-size-base-plus a-text-bold" style="margin-top: 0px; padding-bottom: 4px; font-family: &quot;Amazon Ember&quot;, Arial, sans-serif; color: rgb(17, 17, 17); text-transform: none; text-rendering: optimizelegibility; font-size: 16px !important; line-height: 24px !important;">Product Description</h1>
                     <p class="MsoNormal" style="font-size: 14pt; font-family: Arial;">
                        <o:p></o:p>
                     </p>
                     {{ description }}
                     <p class="MsoNormal" style="margin-bottom: 0cm;">All our products are packed safely &amp; securely ready for postage</p>
                     <div style="text-align: center; margin-top:20px"><b><b style="font-size: 14pt;">CHECK OUR STORE FOR MORE BARGAINS&nbsp;</b></b></div>
                     <b>
                        <o:p></o:p>
                     </b>
                     <p class="MsoNormal" style="text-align: center; font-size: 14pt; font-family: Arial;"><i>-BRANDS YOU LOVE FOR LESS-</i></p>
                  </section>
                  <input id="tab2" name="tabs" type="radio" /> 
                  <label for="tab2">
                     <span>PAYMENT &amp; Postage</span><!--Tab 1 Name--> 
                  </label>
                  <section id="content2">
                     <!--Tab 1 Content-->
                     <p class="MsoNormal"><b><u>Payment</u></b></p>
                     <p class="MsoNormal" style="margin-bottom: 0cm;">
                        <b>How can I make a payment?</b> 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal">
                        We offer a range of convenient &amp; cost-efficient ways to pay for your items here on eBay 
                        <o:p></o:p>
                     </p>
                     <ul style="margin-top: 0cm;" type="disc">
                        <li class="MsoNormal">
                           PayPal- &nbsp;PayPal is an online payment service that lets buyers send payments from their credit card or bank account. 
                           <o:p></o:p>
                        </li>
                        <li class="MsoNormal">Bank transfer-&nbsp;&nbsp;credit card or bank account please contact us and we will give you our bank details; once payment is received items will be posted the same day.</li>
                     </ul>
                     <p class="MsoNormal">
                        <b><u>Delivery</u></b> 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <b>How much does delivery cost?</b> 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal">
                        Majority of our items are FREE to post.&nbsp;Please use the postage and payments tab on the product page to see the delivery price that applies to your item.&nbsp; 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">&nbsp;</p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <b>Who will deliver my parcel?</b> 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal">
                        UK deliveries are made Monday to Friday usually before 3PM via Royal Mail.&nbsp;If your order doesn&rsquo;t fit through your letter-box then Royal Mail may try to leave your order in a&nbsp;safe place&nbsp;or with a&nbsp;neighbour.&nbsp;If a safe place cannot be located or nobody is able to take receipt either at your property or the neighbours&rsquo;, then the item will be returned to your local Post Office / Sorting Office for your collection &ndash; you will receive a calling card notifying you of this. 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <br />
                        <b>When will my order arrive?</b> 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal">
                        Your order will arrive within 3 working days of you receiving your dispatch email. If you haven&rsquo;t received your order after 4 working days, get in touch with our friendly customer service team. 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal">&nbsp;</p>
                     <p class="MsoNormal">
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <b>How quickly will I get my item?</b> 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal">
                        We know how important it is to get your item as quick as possible, hence why we aim to give you the FASTEST delivery service available. Most of our items are sent with &#39;Royal Mail First Class Recorded&#39; or DPD and a tracking number is always provided right away.&nbsp; 
                        <o:p></o:p>
                     </p>
                     <div class="row" style="margin-top:20px;">
                        <div class="col-sm-4">
                           <div class="hks-card">
                              <div class="row align-items-center">
                                 <div class="col-sm-3"><img src="https://meotech.org/ebay/tecchfix100/icon_1.png" width="50" height="50"> </div>
                                 <div class="col-sm-9">
                                    <h3 class="card_text">FREE UK Delivery</h3>
                                    <p class="card_detail">All orders are securely posted via Royal Mail 1st Class</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="hks-card">
                              <div class="row align-items-center">
                                 <div class="col-sm-3"><img src="https://meotech.org/ebay/tecchfix100/icon_2.png" width="50" height="50"></div>
                                 <div class="col-sm-9">
                                    <h3 class="card_text">Customer Support</h3>
                                    <p class="card_detail">Have a question? Feel free to contact us!</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="hks-card">
                              <div class="row align-items-center">
                                 <div class="col-sm-3"><img src="https://meotech.org/ebay/tecchfix100/icon_3.png" width="50" height="50"></div>
                                 <div class="col-sm-9">
                                    <h3 class="card_text">Next Day Dispatch</h3>
                                    <p class="card_detail">We aim to post all orders the next working day (Mon-Fri)</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </section>
                  <input id="tab3" name="tabs" type="radio" /> 
                  <label for="tab3">
                     <span>Warranty &amp; Returns</span><!--Tab 2 Name--> 
                  </label>
                  <section id="content3">
                     <!--Tab 2 Content--><!--------- Tab 2 Content --------->
                     <p class="MsoNormal">
                        <b><u>Returns</u></b> 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <b>Can I return an unsuitable item?</b> 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal">
                        We will happily accept returns within 30 days of receipt for a refund as long as they are in a sale-able condition. There is an extended 12 months warranty on new and sealed products. To return an item, send us a message explaining the issue and we will then reply with a returns authorization number and instructions of how to return your item.<br />
                        <b>
                           <!--[if !supportLineBreakNewLine]--><br />
                           <!--[endif]--> 
                        </b>
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <b>My item is faulty or damaged, can I return it?</b> 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal">
                        We are very sorry if this is the case. You need to contact us with details of the fault. We&#39;ll then provide you with a returns authorization number and instructions of how to return your item. 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal">
                        <o:p>&nbsp;</o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <b>How long will my return take to process?</b> 
                        <o:p></o:p>
                     </p>
                     <p>&nbsp;</p>
                     <p class="MsoNormal">
                        We aim to process your return and refund you as quickly as possible, but it may take up to 28 days for your refund to be processed after you have returned your item(s) to our warehouse. If you have not been refunded after 28 days of returning the item, please get in touch with the proof of postage information on your Post Office receipt and we will look into this for you. 
                        <o:p></o:p>
                     </p>
                  </section>
                  <input id="tab4" name="tabs" type="radio" /> 
                  <label for="tab4">
                     <span>FAQ&#39;s</span><!--Tab 3 Name--> 
                  </label>
                  <section id="content4">
                     <!--Tab 3 Content--><!--------- Tab 3 Content --------->
                     <p class="MsoNormal">
                        <b><u>Products</u></b> 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <b>Can you give me more info on a product?</b> 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        Unfortunately, the information we provide on our product page is all we can provide due to the sheer amount of products we sell. We do try to provide as much details as possible.<br />
                        <b>
                           <!--[if !supportLineBreakNewLine]--><br />
                           <!--[endif]--> 
                        </b>
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <b>Are your prices negotiable?</b> 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        Yes some prices are, prices listed the best and cheapest price possible. 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <o:p>&nbsp;</o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <b>Can I cancel my order?</b> 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        As we work very quickly, we cannot cancel every order in time. However, we accept returns within 30 days of receipt if they adhere to our returns policy. 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <o:p>&nbsp;</o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <b>Can I change my order details or delivery address after completion?</b> 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        It&rsquo;s not possible to change your delivery address or order details once you&rsquo;ve completed your order due to the sheer speed at which we work. Please make sure that your delivery address is correct before completing your order with us!<br />
                        <!--[if !supportLineBreakNewLine]--><br />
                        <!--[endif]--> 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <b>Which payment methods do you accept?</b> 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <o:p></o:p>
                     </p>
                     <p>We accept PayPal, as well as: Visa, Visa Electron.&nbsp;</p>
                     <p>&nbsp;</p>
                     <p><b>What Warranty do we provide?</b></p>
                     <p class="MsoNormal">
                        14 days money back guarantee subject to that you do not open the product&#39;s seal or use the item. All products come with 1 year warranty from the date of purchase. This does not cover the product where fault is due to misuse, abuse, use in contravention of the instructions, or where the product has been subject of unauthorised modifications or alterations or has been the subject of commercial use. In the event of a problem with the product within the guarantee period please contact us 
                        <o:p></o:p>
                     </p>
                     <p>&nbsp;</p>
                     <p class="MsoNormal" style="margin-bottom:0cm"><b>What happens if I buy an item and it does not work?</b></p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        Before bidding on any of our items please read our item description carefully. If item is listed as, untested, faulty or customer return, there will be no returns or refunds given. With issue related to compatibility, be sure to ready the compatibility list and if in doubt please contact us, we will be able clear any confusion as we&#39;re here to help. We reply within 1 to 5 hours during our working hours 9:00am to 5:00pm.&nbsp; 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">&nbsp;</p>
                     <p><b>How To Return Item Under 14 Days Money Back Guarantee?&nbsp; </b></p>
                     <p>(1) Go To http://www.ebay.co.uk/usr/bargainhauz. And Contact Us For Instructions.&nbsp; (2) Returned Goods Must Be In Their Original Packaging And Unused Condition. Goods Will Not Be Accepted If The Seal Is Broken Or If Item Has Been Used Or Is In A Condition Other Than How It Was Sent.</p>
                     <p>(3) All Items That Are Returned, Buyer Is Responsible For Return Postage Fees.</p>
                     <p>(4) Once Item Is Received, We Will Refund You The Amount You Paid (Please Note That We Issue Refunds With No Hussle, But We Need Time To Inspect The Item Properly Before We Issue refund)&nbsp;</p>
                     <p>&nbsp;</p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <b>What about the item which is faulty after receiving the order?&nbsp;</b> 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        If item is faulty or not as described, please contact us straightaway http://www.ebay.co.uk/usr/bargainhauz please don&rsquo;t leave any negative or neutral feedback, as everything can be resolved once we are made aware of the faults. We must be notified within 14 days and we will send a replacement or refund you accordingly.&nbsp; 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <o:p>&nbsp;</o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <b>What happens if the item goes faulty after the 14 days?&nbsp;</b> 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        All products come with 30 days warranty from the date of purchase. If item goes faulty please contact us give you instructions on what to do. We trt to repair you&rsquo;re faulty, if that&#39;s not possible, give you a replacement or, if that&#39;s not possible, a refund will be issued 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        What happens if i buy this item and it cause damages? 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        We will not accept any liability or claim other than replacing item or refund as stated above. If you are in doubt we advise that you seek professional guidance before purchasing any items from us. You may also see our feedback for the item to know if anyone has bought the same item before, you may also check other sellers who are selling similar item, you may wish to search the internet. Not all sellers may be pointing out this but if you ask they may advise you the same that they will not accept any responsibility or liability if their item causes any damage. We sell brand new/used items and do not intend to sell items which cause harm. We are only responsible for replacing a faulty unit or give a refund, if item is in the same condition as sent to you 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <o:p>&nbsp;</o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <b>Disclaimer: </b>when you send back any item for a replacement or refund we will not be responsible if the goods do not reach us.&nbsp; 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        Note: keep your receipt safe &amp; send the goods recorded, in case your goods go missing you should be able to make claim against it. Please check with courier company for claims. Any returned items that have any signs of abuse or intentional damage will be refused and returned to sender at sender&#39;s cost.&nbsp; 
                        <o:p></o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        <o:p>&nbsp;</o:p>
                     </p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        Thank you for reading the above.&nbsp; 
                        <o:p></o:p>
                     </p>
                     <p>&nbsp;</p>
                     <p class="MsoNormal" style="margin-bottom:0cm">
                        Should you find our terms and conditions unreasonable or in breach of united kingdom law please contact us via contact page and email us any of your comments. 
                        <o:p></o:p>
                     </p>
                  </section>
                  <input id="tab5" name="tabs" type="radio" /> 
                  <label for="tab5">
                     <span>About Us</span><!--Tab 4 Name--> 
                  </label>
                  <section id="content5">
                     <!--Tab 4 Content--><!--------- Tab 4 Content --------->
                     <p>Great prices on entertainment and gadgets with our massive selection of games, tech and electronics - all at fantastic prices!</p>
                     <p>Low prices, quality service and great communication are three aspects for a successful transaction; our feedback reflects our claim.</p>
                     <p>In the rare event of you not being satisfied with any of your orders, contact our dedicated team via eBay Messages.&nbsp;</p>
                     <p>We want to resolve your issues as quickly as possible.</p>
                     <p>&nbsp;</p>
                     <p>Save loads of money on great entertainment and gadgets with our massive selection of new and replay CDs, DVDs, Blu-Rays, games, tech and electronics - all at fantastic prices!</p>
                     <p>&nbsp;</p>
                     <p>We&rsquo;re not just all about low prices, though: great service is equally important to us, as our feedback score&nbsp; shows.</p>
                     <p>&nbsp;</p>
                     <p>Before you place an order, please make sure you&#39;ve provided us with the correct delivery address. We can&#39;t make amendments to your delivery address once your order has been placed, so save yourself some hassle and double-check before you order!</p>
                     <p>&nbsp;</p>
                     <p>We try to include as much information as possible on all of our listings. This includes information on the make, model, region and condition of the item - everything you need to make an informed purchase, basically. We respond to every message, query and issue you have- within 24HRS!</p>
                     <p>Looking for something, can t find it?&nbsp;</p>
                     <p>&nbsp;</p>
                     <p>Contact us! We have whatever you want, no matter how expensive or cheap, be sure to check out our store for bargain prices. Laptops, components, camera s, printers, headphones, household goods, watches and much more</p>
                     <p>&nbsp;</p>
                     <p><i><span style="font-size: 14pt; font-family: &quot;Gill Sans MT&quot;, sans-serif;">-The brands you love for less-</span></i></p>
                  </section>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="clearfix">&nbsp;</div>
   <div class="clearfix">&nbsp;</div>
</section>
<section>
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="prmotion-img">
               <img src="https://meotech.org/ebay/tecchfix100/prmotion.png" width="100%">
            </div>
         </div>
      </div>
   </div>
</section>
<div class="guaranteed_wapper" style="margin-top:40px;">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="guaranteed_title">
               <h1>Why customer love us?</h1>
               <p>100% Customer Satisfaction Guaranteed</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3">
            <div class="guaranteed_box">
               <div class="start"><img src="https://dezignbrain.com/ebay/innov8_quality/images/start.png" alt=""></div>
               <div class="guaranteed_text">"Good ebayer, fast delivery. Great item. Well recommended" 
               </div>
               <div class="guaranteed_name">Buyer: B***E (125)</div>
               <div class="ebay_logo"><img src="https://dezignbrain.com/ebay/innov8_quality/images/ebay_logo.png" alt=""></div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="guaranteed_box">
               <div class="start"><img src="https://dezignbrain.com/ebay/innov8_quality/images/start.png" alt=""></div>
               <div class="guaranteed_text">"Would happily deal with again. Great customer xx" 
               </div>
               <div class="guaranteed_name">Buyer: C***D (private)</div>
               <div class="ebay_logo"><img src="https://dezignbrain.com/ebay/innov8_quality/images/ebay_logo.png" alt=""></div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="guaranteed_box">
               <div class="start"><img src="https://dezignbrain.com/ebay/innov8_quality/images/start.png" alt=""></div>
               <div class="guaranteed_text">"Good communication prompt payment fastest deal we have done would deal again thank you for..." 
               </div>
               <div class="guaranteed_name">Buyer: I***P (69)</div>
               <div class="ebay_logo"><img src="https://dezignbrain.com/ebay/innov8_quality/images/ebay_logo.png" alt=""></div>
            </div>
         </div>
         <div class="col-md-3">
            <div class="guaranteed_box">
               <div class="start"><img src="https://dezignbrain.com/ebay/innov8_quality/images/start.png" alt=""></div>
               <div class="guaranteed_text">"Great seller ,very helpful and patient. He is trying his best to make his client satisfied 100% recommend..."</div>
               <div class="guaranteed_name">Buyer: B***E (125)</div>
               <div class="ebay_logo"><img src="https://dezignbrain.com/ebay/innov8_quality/images/ebay_logo.png" alt=""></div>
            </div>
         </div>
      </div>
      <div class="view_btn"><a class="btn01" target="_blank" href="https://www.ebay.co.uk/str/bargainhauz#tab2">View All Reviews <img src="https://dezignbrain.com/ebay/innov8_quality/images/arrow_01.png" alt=""> </a></div>
   </div>
</div>
<!--Footer Start-->
<section>
   <div class="container">
      <footer>
         <div class="store_footer_wapper">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">
                     <div class="footer_logo"> <a href="https://www.ebay.co.uk/str/bargainhauz" target="_blank"> 
                        <img src="https://meotech.org/ebay/tecchfix100/logo_1.png" class="f_logo"> </a> 
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="footer_block footer_block01">
                        <div class="footer_block_titel">Useful Links</div>
                        <div class="footer_menu">
                           <ul>
                              <li> <a href="https://www.ebay.co.uk/str/bargainhauz" target="_blank">Shop Home</a> </li>
                              <li> <a href="https://www.ebay.co.uk/str/bargainhauz" target="_blank">Items For Sale</a> </li>
                              <li> <a href="https://www.ebay.co.uk/str/bargainhauz#tab2" target="_blank">Feedback</a> </li>
                              <li> <a href="https://www.ebay.co.uk/cnt/intermediatedFAQ?requested=ebargainexpress" target="_blank">Contact Us</a> </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="footer_block footer_block03">
                        <div class="footer_block_titel" >We Accept</div>
                        <div class=""> <img src="https://meotech.org/ebay/tecchfix100/paypal-1.png" class="img-fluid"> </div>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="footer_block footer_block02">
                        <div class="footer_payment"> <img src="https://meotech.org/ebay/tecchfix100/trust_img.png" class="img-fluid"> </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer_bottom">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-md-8">
                     <div class="dezign_copyright"> © Copyright 2023, <span>ebargainexpress.</span>  All rights reserved. </div>
                  </div>
                  <div class="col-md-4">
                     <div class="dezign_by"> Made with <img src="https://dezignbrain.com/ebay/innov8_quality/images/dezign_by.png"> by  <span>MRIZWANMEO/FIVERR</span></div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
   </div>
</section>