<link href="https://meotech.org/ebay/chrismaclean218/Demo21_files/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
   type="text/css">
<link rel="stylesheet" href="Styles.css">
<link href="listingstyle.css" rel="stylesheet" type="text/css">
<link href="resposivestyle.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
   img {
      max-width: 100%;
   }
</style>
<div class="listing_background">
   <div>
      <div id="maincontainer">
         <div class="clearer" id="header">
            <!-- Logo -->
            <div id="headerlogo"><a href="https://www.ebay.com/str/thewanderingmerchant85" target="_blank">
                  <img src="images/logo img.webp"></a>
            </div>
            <!-- Info Top 1 -->
            <div class="clearer" id="headerinfo">
               <div id="headerinfo-1">
                  <div id="topicon"><i class="fa fa-star-o"></i>
                  </div>
                  <div id="headertexte"><span class="headertext-1">SATISFACTION GUARANTEE</span> <span
                        class="headertext-2">OUR SERVICE PROMISE</span>
                  </div>
               </div>
            </div>
            <!-- Info Top 2 -->
            <div class="clearer" id="headerinfo">
               <div id="headerinfo-2">
                  <div id="topicon"><i class="fa fa-envelope-o"></i>
                  </div>
                  <div id="headertexte"><span class="headertext-1">CUSTOMER SUPPORT</span> <span
                        class="headertext-2">MON - FRI: 10:00 AM to 4:00 PM</span>
                  </div>
               </div>
            </div>
         </div>
         <!-- Hier beginnt der Slider -->
         <div class="clearer" id="maincontent">
            <div id="topcontent">
               <!-- Artikelbezeichnung -->
               <h3 class="title">Professional 110v Wet Polisher & Grinder For Stone or Concrete</h3>
               <!-- # Beginn Bildergallerie -->
               <div id="leftcontent">
                  <div class="gallery">
                     <input checked="checked" id="id1" name="gallery_switch" type="radio"><label for="id1">
                        <img src="https://i.ebayimg.com/images/g/jW4AAOSwDz9gv0ea/s-l1600.webp"></label>
                     <img alt="" src="https://i.ebayimg.com/images/g/jW4AAOSwDz9gv0ea/s-l1600.webp">
                     <input id="id2" name="gallery_switch" type="radio">
                     <label for="id2">
                        <img src="https://i.ebayimg.com/images/g/-LcAAOSwlNRgv0cx/s-l960.webp"></label>
                     <img alt="" src="https://i.ebayimg.com/images/g/-LcAAOSwlNRgv0cx/s-l960.webp">
                     <input id="id3" name="gallery_switch" type="radio"><label for="id3">
                        <img src="https://i.ebayimg.com/images/g/z0cAAOSwEmtgv0dU/s-l960.webp"></label>
                     <img alt="" src="https://i.ebayimg.com/images/g/z0cAAOSwEmtgv0dU/s-l960.webp">
                     <input id="id4" name="gallery_switch" type="radio"><label for="id4">
                        <img src="https://i.ebayimg.com/images/g/cc4AAOSw4UJgv0dy/s-l960.webp"></label>
                     <img alt="" src="https://i.ebayimg.com/images/g/cc4AAOSw4UJgv0dy/s-l960.webp">
                     <input id="id5" name="gallery_switch" type="radio"><label for="id5">
                        <img src="https://i.ebayimg.com/images/g/cc4AAOSw4UJgv0dy/s-l960.webp"></label>
                     <img alt="" src="https://i.ebayimg.com/images/g/cc4AAOSw4UJgv0dy/s-l960.webp">
                     <input id="id6" name="gallery_switch" type="radio"><label for="id6">
                        <img src="https://i.ebayimg.com/images/g/VdAAAOSwFxhgv0eJ/s-l960.webp"></label>
                     <img alt="" src="https://i.ebayimg.com/images/g/cc4AAOSw4UJgv0dy/s-l960.webp">
                  </div>
               </div>
               <div id="rightcontent">
                  <h2 style="margin-top: 0px; margin-bottom:10px; padding-top: 0;"><strong>Product Description</strong>
                  </h2>
                  <!-- # Heading of Short Description --><!-- # Start Short Description -->
                  <div typeof="Product" vocab=" https://schema.org/ ">
                     <span property="description">
                        <br>
                        The perfect tool for polishing, edging or cutting stone, ceramics or concrete. With a water feed
                        to the centre of the thread provide the best finish. Can be used with wet or dry tools.</span>
                     <div typeof="Product" vocab=" https://schema.org/ "><span style="color:#696969;"><span
                              style="font-size:18px;"><span property="description"></span></span></span>
                        <br>
                        <span style="color:#696969;"><span style="font-size:18px;"><span property="description"><span
                                    style="color:#696969;"><span style="font-size:18px;"><span
                                          property="description"><strong>Professional 110v Wet Polisher & Grinder For
                                             Stone or Concrete</strong></span></span></span><span
                                    style="color:#696969;"><span style="font-size:16px;"><span
                                          property="description"></span></span></span>
                     </div>
                     <br>
                     <!-- # End Short Description -->
                     <ul>
                        <li>Professional grade wet variable speed hand held stone polisher</li>
                        <li>110V 3 prong industrial yellow plug</li>
                        <li>Variable speed between 700-3500 RPM ideal for polishing, profiling or cuttingr</li>
                        <li>Designed for all types of stone or concrete</li>
                        <li>Full set of 9 100mm diamond polishing pads & rubber backing pad</li>
                        <li>M14 fitting for standard UK polishing/profiling tools</li>
                        <li>C handle and side handle, with splash guard</li>
                        <li>Adjustable water feed with male quick fit connection</li>
                     </ul>
                     <br>
                     Sent via Royal Mail next working day when order before 12:30pm.
                     <br>
                     <!-- # End Variations -->
                  </div>
               </div>
               <!-- # Beginn Tabs -->
               <div id="topcontent">
                  <div class="tabs">
                     <!-- <input checked="checked" id="tab1" name="tabs" type="radio">  -->
                     <label for="tab1"><i class="fa fa-align-left"></i><span>Description</span></label>

                     <div id="tab-content1">
                        <div class="animiert scale">
                           <div class="tabcontent">
                              <!-- # Tab Content 1 -->
                              <div id="tabinhalt">
                                 <h4>Professional 110V Wet Polisher & Grinder For Stone or Concrete Site Plug - M14</h4>
                                 <p>The perfect tool for polishing, edging or cutting stone, ceramics or concrete. With
                                    a water feed to the centre of the thread provide the best finish. Can be used with
                                    wet or dry tools.</p>
                                 <h4>Features:</h4>
                                 <ul>
                                    <li>Professional grade wet variable speed hand held stone polisher</li>
                                    <li>110V 3 prong industrial yellow plug</li>
                                    <li>Variable speed between 700-3500 RPM ideal for polishing, profiling or cutting
                                    </li>
                                    <li>Designed for all types of stone or concrete</li>
                                    <li>800W motor</li>
                                    <li>Full set of 9 100mm diamond polishing pads & rubber backing pad</li>
                                    <li>M14 fitting for standard UK polishing/profiling tools</li>
                                    <li>C handle and side handle, with splash guard</li>
                                    <li>Adjustable water feed with male quick fit connection</li>
                                 </ul>
                                 <!-- <h4>Shipping:</h4>
                                    <p>Sent via Royal Mail next working day when order before 12:30pm.</p>
                                    <strong>Scope of Delivery</strong>
                                    <ul>
                                       <li>The selected protective film</li>
                                       <li>A delivery note with application instructions</li>
                                       <li>A cardboard squeegee for easier application</li>
                                       <li>The corresponding invoice via email</li>
                                    </ul> -->
                              </div>
                           </div>
                        </div>
                     </div>
                     <div id="tab-content2">
                        <div class="animiert scale">
                           <div class="tabcontent">
                              <!-- # Tab Content 2 -->
                              <div id="tabinhalt">
                                 <h3>PURCHASE PROCESS
                                 </h3>
                                 If you would like to purchase this item, click on the "Buy Now" button. You will then
                                 be redirected to the eBay checkout process. Choose a payment method (PayPal or bank
                                 transfer). Please note that the order process is automated, and we can only use the
                                 address stored in the checkout process. Once your payment has been received, your order
                                 will be shipped within 1 business day.
                                 <br>
                                 <br>
                                 eBay-Plus items will be shipped the same day if payment is received by 2:00 PM. Every
                                 step of the order process is confirmed to you via email from eBay.
                                 <br>
                                 <br>
                                 If you wish to pay by bank transfer, please include the following details in the
                                 reference field: Item number and member name.
                                 <ul>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div id="tab-content3">
                        <div class="animiert scale">
                           <div class="tabcontent">
                              <!-- # Tab Content 3 -->
                              <div id="tabinhalt">
                                 <h3>BEFORE AND AFTER PURCHASE
                                 </h3>
                                 If you have any questions or suggestions, we are happy to assist you. To answer your
                                 questions as accurately as possible, please contact us preferably via eBay messages. If
                                 you are ever dissatisfied with the item, please email us before leaving a
                                 review—surely, we can resolve the issue. We strive to meet all expectations to receive
                                 the best possible reviews.
                                 <br>
                                 <br>
                                 Our review system is set up so that you automatically receive a review as soon as you
                                 leave a positive one for us. This prevents an automatic review from our side if you do
                                 not wish to receive one.
                                 <ul>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- # Beginn Linke Boxen -->
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="listing_content">
         <div id="listingarea">
            <div class="listing-tab">
               <main>
                  <input id="tab1" type="radio" name="tabs" checked="">
                  <label for="tab1"><span>About Us</span></label> <input id="tab2" type="radio" name="tabs">
                  <label for="tab2"><span>Payment</span></label> <input id="tab3" type="radio" name="tabs">
                  <label for="tab3"><span>Shipping</span></label> <input id="tab4" type="radio" name="tabs">
                  <label for="tab4"><span>Returns</span></label> <input id="tab5" type="radio" name="tabs">
                  <label class="d-link" for="tab5"><a
                        href="https://www.ebay.com/str/thewanderingmerchant85?_tab=feedback"
                        target="_blank"><span>Feedback</span></a></label> <input id="tab6" type="radio" name="tabs">
                  <label class="d-link margin-none" for="tab6"><a
                        href="https://www.ebay.com/cnt/intermediatedFAQ?requested=dennington85"
                        target="_blank"><span>Contact Us</span></a></label>
                  <section id="content1">
                     <p>For over 25 years, I have been an enthusiastic collector of Pokémon cards, baseball cards, and
                        comic books. My passion for collectibles also extends to foreign currency and precious metals.
                     </p>
                     <p>In 2020, I began my journey into online selling with Amazon, but soon recognized a desire to
                        transform my hobby into a more comprehensive business venture. This led me to transition to
                        eBay, a platform that better suits my vision. I achieved Top-Rated Seller status on eBay within
                        three months, and can't wait to see where this new journey takes me.</p>
                     <p>Thanks for stopping by!</p>
                     <p>Location: <strong>United States</strong> </p>
                     <p>Member since: <strong>Jun 21, 2023</strong> </p>
                     <p>Seller: <strong>dennington85</strong> </p>
                  </section>
                  <section id="content2">
                     <p>We accept only payment via PayPal.</p>
                  </section>
                  <section id="content3">
                     <p>FREE Shipping 2-5 days</p>
                     <p>100% Valid tracking!</p>
                  </section>
                  <section id="content4">
                     <p>
                        <strong>Domestic Returns</strong>:
                        30 Days - FREE Return Shipping
                     </p>
                     <p>Any questions you may have please feel free to contact us, </p>
                     <p>response will be sent within 24 hours.</p>
                  </section>
               </main>
            </div>
            <div class="mobile-tab">
               <ul class="accordion css-accordion">
                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-1"> <label for="item-1"
                        class="accordion-item-hd">About Us<span class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">
                        <p>HSW Diamond Tools ensure that everything that we sell meet our highest quality expectations,
                           we extensively test each product on a range of materials from slate, granite to quartz.</p>
                        <p>Unlike other stone tool suppliers we use the tools every day while engraving Highland Slate,
                           we can offer advice and recommendations on all our products based on experience and use. </p>
                     </div>
                  </li>
                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-2"> <label for="item-2"
                        class="accordion-item-hd">Payment<span class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">
                        <p>We accept only payment via PayPal.</p>
                     </div>
                  </li>
                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-3"> <label for="item-3"
                        class="accordion-item-hd">Shipping<span class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">
                        <p>All orders that are placed before 2pm (Monday-Friday) will be sent the same day via Royal
                           Mail, UPS, or DHL. Standard shipping is free on all of our items.</p>
                        <p>100% Valid tracking!</p>
                        <p>Orders sent via DHL are the next working day when placed before 12pm, orders after 12pm will
                           be 2 working days - this as due to the last collection times before leaving Inverness.</p>
                        <p>Please contact us for more info.</p>
                     </div>
                  </li>
                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-4"> <label for="item-4"
                        class="accordion-item-hd">Returns<span class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">
                        <p>Returns will be accepted within 14 business days after the shipment has arrived. </p>
                        <p>You can return the product for a 100% refund if the product was not used - No questions
                           asked.</p>
                        <p>Any questions you may have please feel free to contact us, </p>
                        <p>response will be sent within 24 hours.</p>
                     </div>
                  </li>
                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id=""> <label for=""
                        class="accordion-item-hd">
                        <a href="https://www.ebay.com/str/thewanderingmerchant85?_tab=feedback"
                           target="_blank">Feedback</a></label>
                     <div class="accordion-item-bd"></div>
                  </li>
                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id=""> <label for=""
                        class="accordion-item-hd">
                        <a href="https://www.ebay.co.uk/cnt/intermediatedFAQ?requested=hsw-diamond-tools"
                           target="_blank">Contact Us</a></label>
                     <div class="accordion-item-bd">Contact Us</div>
                  </li>
                  <div class="accordion-item-bd"></div>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="bannerprom_wapper">
      <div class="container">
         <div class="row">
            <div class="col-md-12"> <a href="https://www.ebay.com/str/thewanderingmerchant85" target="_blank"><img
                     class="img-fluid" src="images/top banner.webp" alt=""></a> </div>
         </div>
      </div>
   </div>
   <footer class="footer_main_wapper">
      <div class="newsletter_footer_wapper">
         <div class="container">
            <div class="newsletter_footer">
               <div class="row align-items-center">
                  <div class="col-md-9">
                     <div class="newsletter_icon"> <img class="img-fluid"
                           src="https://meotech.org/ebay/chrismaclean218/Demo21_files/newsletter_icon.png" alt="">
                     </div>
                     <div class="newsletter_titel">BECOME AN IDS CLUB MEMBER <span>Get important info, sales, sign up
                           for our newsletter.</span> </div>
                  </div>
                  <div class="col-md-3">
                     <div class="newsletter_btn"> <a href="https://www.ebay.com/str/thewanderingmerchant85"
                           target="_blank">
                        </a> </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="store_footer_wapper">
         <div class="container">
            <div class="row row-eq-height">
               <div class="col-md-3">
                  <div class="footer_block">
                     <div class="footer_logo"> <a href="https://www.ebay.com/str/thewanderingmerchant85"
                           target="_blank">
                           <img class="footer-logo" src="images/logo img.webp" alt=""></a>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="footer_block">
                     <div class="footer_block_titel">Useful Links</div>
                     <div class="footer_menu">
                        <ul>
                           <li><a target="_blank" href="https://www.ebay.com/str/thewanderingmerchant85">Home</a></li>
                           <li><a target="_blank"
                                 href="https://www.ebay.com/str/thewanderingmerchant85?_tab=about">About</a>
                           </li>
                           <li><a target="_blank"
                                 href="https://www.ebay.com/cnt/intermediatedFAQ?requested=dennington85">Contact</a>
                           </li>
                           <li><a target="_blank"
                                 href="https://www.ebay.com/str/thewanderingmerchant85?_tab=feedback">Feedback</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="footer_block">
                     <div class="footer_block_titel">Fast Shipping</div>
                     <div class="footer_payment"> <img src="images/shipping_van.webp" class="img-fluid-shiping"> </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="footer_block">
                     <div class="footer_block_titel">Secure Payments</div>
                     <div class="footer_payment2 text-center"> <img
                           src="https://meotech.org/ebay/chrismaclean218/payment.png" class="img-fluid-shiping"> </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="footer_bottom">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-md-6">
                  <div class="store_copyright"> © Copyright 2025, <a
                        target="_blank"><span>The_Wandering_Merchant85</span></a> All rights reserved. </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
</div>