<link href="https://meotech.org/ebay/alex_ha192/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
   type="text/css">
<link rel="stylesheet" href="./css/styles.css" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Language" content="en">
<div class="listing_background">
   <div>
      <div class="maindv">
         <div class="maindvin">
            <div class="maindvinin">
               <div class="topbanner"> <img src="./images/top-banner.webp" width="100%"> </div>
               <div class="menubar">
                  <nav>
                     <label for="drop" class="toggle">Menu</label><input type="checkbox" id="drop" />
                     <ul class="menu">
                        <li><a target="_blank" href="https://www.ebay.com.au/str/brightspiregoods"
                              class="homea">Home</a></li>
                        <li><a target="_blank" href="https://www.ebay.com.au/str/brightspiregoods?_tab=about">About
                              Us</a></li>
                        <li><a target="_blank"
                              href="https://www.ebay.com.au/str/brightspiregoods?_tab=feedback">Reviews</a></li>
                        <li><a target="_blank"
                              href="https://www.ebay.com.au/cnt/intermediatedFAQ?requested=essay_tiptop">Contact</a>
                        </li>
                     </ul>
                  </nav>
               </div>
               <!--CONTENT S-->
               <div class="content">
                  <div class="left_bar">
                     <div class="content_wrap content_pages">
                        <div class="content_title_outer">
                           <div class="content_title pages_title">
                              <p>Shop Categories</p>
                           </div>
                        </div>
                        <div class="left_content">
                           <ul class="ula">
                              <li class="lia"><a target="_blank"
                                    href="https://www.ebay.com.au/str/brightspiregoods/Pet-Supplies/_i.html?store_cat=44546798011"
                                    class="aa">Pet Supplies</a></li>
                              <li class="lia"><a target="_blank"
                                    href="https://www.ebay.com.au/str/brightspiregoods/Sporting-Goods/_i.html?store_cat=44551130011"
                                    class="aa">Sporting Goods</a></li>
                              <li class="lia"><a target="_blank"
                                    href="https://www.ebay.com.au/str/brightspiregoods/Home-Garden/_i.html?store_cat=44551132011"
                                    class="aa">Home & Garden</a></li>
                              <li class="lia"><a target="_blank"
                                    href="https://www.ebay.com.au/str/brightspiregoods/Health-Beauty/_i.html?store_cat=44564213011"
                                    class="aa">Health & Beauty</a></li>
                              <li class="lia"><a target="_blank"
                                    href="https://www.ebay.com.au/str/brightspiregoods/Technology/_i.html?store_cat=44576863011"
                                    class="aa">Technology</a></li>
                              <li class="lia"><a target="_blank"
                                    href="https://www.ebay.com.au/str/brightspiregoods/Toys-Hobbies/_i.html?store_cat=44582534011"
                                    class="aa">Toys & Hobbies</a></li>
                           </ul>
                        </div>
                     </div>

                     <div class="payment"></div>
                     <div class="left1"></div>
                  </div>
                  <!--MIDDLE S-->
                  <div class="middle_bar">
                     <!--IMAGE GALLERY START-->
                     <div id="gallery_div">
                        <div class="gallery_div_in">
                           <input name="main_image" id="main_image1" autocomplete="off" checked="checked" type="radio">
                           <input name="main_image" id="main_image2" autocomplete="off" type="radio"> <input
                              name="main_image" id="main_image3" autocomplete="off" type="radio"> <input
                              name="main_image" id="main_image4" autocomplete="off" type="radio"> <input
                              name="main_image" id="main_image5" autocomplete="off" type="radio"> <input
                              name="main_image" id="main_image6" autocomplete="off" type="radio"> <input
                              name="main_image" id="main_image7" autocomplete="off" type="radio">
                           <div class="img_sec1">
                              <div id="content1" class="img-container">
                                 <input id="popup-1" autocomplete="off" type="checkbox">
                                 <label class="lbl lbl_box" for="popup-1">
                                    <div class="img-zoom"><img src="https://meotech.org/ebay/toppsmac/computer.jpeg"
                                          alt=""></div>
                                 </label>
                              </div>
                              <div id="content2" class="img-container">
                                 <input id="popup-2" type="checkbox">
                                 <label class="lbl lbl_box" for="popup-2" autocomplete="off">
                                    <div class="img-zoom"><img src="[TagBot?photo1?Photo no.2 =https://][TagBot?photo1]"
                                          alt=""></div>
                                 </label>
                              </div>
                              <div id="content3" class="img-container">
                                 <input id="popup-3" type="checkbox">
                                 <label class="lbl lbl_box" for="popup-3" autocomplete="off">
                                    <div class="img-zoom"><img src="[TagBot?photo1?Photo no.3 =https://][TagBot?photo1]"
                                          alt=""></div>
                                 </label>
                              </div>
                              <div id="content4" class="img-container">
                                 <input id="popup-4" type="checkbox">
                                 <label class="lbl lbl_box" for="popup-4" autocomplete="off">
                                    <div class="img-zoom"><img src="[TagBot?photo1?Photo no.4 =https://][TagBot?photo1]"
                                          alt=""></div>
                                 </label>
                              </div>
                              <div id="content5" class="img-container">
                                 <input id="popup-5" type="checkbox">
                                 <label class="lbl lbl_box" for="popup-5" autocomplete="off">
                                    <div class="img-zoom"><img src="[TagBot?photo1?Photo no.5 =https://][TagBot?photo1]"
                                          alt=""></div>
                                 </label>
                              </div>
                              <div id="content6" class="img-container">
                                 <input id="popup-6" type="checkbox">
                                 <label class="lbl lbl_box" for="popup-6" autocomplete="off">
                                    <div class="img-zoom"><img src="[TagBot?photo1?Photo no.6 =https://][TagBot?photo1]"
                                          alt=""></div>
                                 </label>
                              </div>
                           </div>
                           <div class="img_sec2">
                              <label class="lbl" for="main_image1">
                                 <div class="box"><img src="https://meotech.org/ebay/toppsmac/computer.jpeg" alt="">
                                 </div>
                              </label>
                              <label class="lbl" for="main_image2">
                                 <div class="box"><img src="[TagBot?photo1?Photo no.2 =https://][TagBot?photo1]" alt="">
                                 </div>
                              </label>
                              <label class="lbl" for="main_image3">
                                 <div class="box"><img src="[TagBot?photo1?Photo no.3 =https://][TagBot?photo1]" alt="">
                                 </div>
                              </label>
                              <label class="lbl" for="main_image4">
                                 <div class="box"><img src="[TagBot?photo1?Photo no.4 =https://][TagBot?photo1]" alt="">
                                 </div>
                              </label>
                              <label class="lbl" for="main_image5">
                                 <div class="box"><img src="[TagBot?photo1?Photo no.5 =https://][TagBot?photo1]" alt="">
                                 </div>
                              </label>
                              <label class="lbl" for="main_image6">
                                 <div class="box"><img src="[TagBot?photo1?Photo no.6 =https://][TagBot?photo1]" alt="">
                                 </div>
                              </label>
                           </div>
                        </div>
                     </div>
                     <!--IMAGE GALLERY END--> <!--ITEM DESCRIPTION S-->
                     <div class="content_wrap  content_description">
                        <div class="content_title_outer">
                           <div class="content_title description_title">
                              <p>Item Description</p>
                           </div>
                        </div>
                        <div class="description_content">
                           <div class="dv1">
                              <h2>Matashi 7.5" Tall Hand Painted Enamel Menorah Candelabra w Flowers Design Accent</h2>
                              <div class="dv2">
                                 <div id="des_content_nw">
                                    <p>With a bright blue, gold, and white color motif, the 8 branches are the
                                       intertwining branches of beautiful flowers on their stems. The menorah is a
                                       nine-branched candelabra, traditionally used to celebrate the Jewish holiday of
                                       Hanukkah. Every night of the 8-day holiday, another candle is lit with the
                                       ‘Shammash’ (helper light), the extended branch and extra light. The perfect gift
                                       for a spiritual someone in your life as a decoration or religious symbol!</p>

                                    <p>The menorah is a nine-branched candelabra, traditionally used to celebrate the
                                       Jewish holiday of Hanukkah. Every night of the 8-day holiday, another candle is
                                       lit with the ‘Shammash’ (helper light), the extended branch and extra light.</p>

                                    <p>This piece is crafted from hand-painted pewter. Each one is kiln-fired to ensure
                                       the enamel’s long-lasting quality. We then embellish each one with gold accents
                                       and hand-set Matashi Crystals.</p>

                                    <p>Measuring 7.5 x 3 x 8 in., it comes secured in a luxury gift-ready box. Rest
                                       assured of your product's authenticity and quality guarantee with the included
                                       individually serialized Matashi warranty card.</p>

                                    <p>With a bright blue, gold, and white color motif, the 8 branches are the
                                       intertwining branches of beautiful flowers on their stems. The perfect gift for a
                                       spiritual someone in your life as a decoration or religious symbol!</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="description_content">
                           <div class="dv1">
                              <div class="dv2">
                                 <div id="des_content_nw">
                                    <img src="https://meotech.org/ebay/Almog/images/ban.png">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="listing_content">
         <div id="listingarea">
            <div class="listing-tab">
               <main>

                  <input id="tab1" type="radio" name="tabs" checked="">
                  <label for="tab1"><span>About Us</span></label>

                  <input id="tab2" type="radio" name="tabs">
                  <label for="tab2"><span>Payment</span></label>

                  <input id="tab3" type="radio" name="tabs">
                  <label for="tab3"><span>Shipping</span></label>

                  <input id="tab4" type="radio" name="tabs">
                  <label for="tab4"><span>Return Policy</span></label>

                  <input id="tab5" type="radio" name="tabs">
                  <label for="tab5"><span>Customer Service</span></label>

                  <section id="content1">

                     <div>
                        <div style="margin: 5px 0;">
                           <h4>About Our eBay Store</h4>
                           <p>Welcome to our official eBay store! We are committed to providing our customers with
                              high-quality products, secure transactions, and excellent customer service. Every order is
                              handled with care, and we always aim to deliver a smooth and trustworthy shopping
                              experience.</p>
                        </div>

                        <div style="margin:2px 0;">
                           <h5>Location</h5>
                           <p>Australia</p>
                        </div>

                        <div style="margin: 2px 0;">
                           <h5>Member Since</h5>
                           <p>27 June 2013</p>
                        </div>

                        <div style="margin: 2px 0;">
                           <h5>Seller</h5>
                           <p>essay_tiptop</p>
                        </div>

                     </div>

                  </section>
                  <section id="content2">
                     <div style="margin: 5px 0;">
                        <h5>Payment Policy</h5>
                        <p>We accept secure payment methods through eBay, including PayPal and major credit/debit cards.
                           Your payment information is always kept safe and confidential.</p>
                     </div>
                  </section>
                  <section id="content3">
                     <div style="margin: 5px 0;">
                        <h5>Shipping Policy</h5>
                        <p>All items are carefully packaged and shipped within 1–3 business days. We use reliable
                           shipping services to ensure your purchase arrives safely and on time. Tracking details are
                           provided for every order.</p>
                     </div>
                  </section>
                  <section id="content4">
                     <div style="margin: 5px 0;">
                        <h5>Returns & Refunds</h5>
                        <p>We offer hassle-free returns within 30 days of purchase (conditions apply). Please ensure
                           that the item is in its original condition when returning. Refunds will be processed promptly
                           after inspection.</p>
                     </div>
                  </section>
                  <section id="content5">
                     <p>We are operating a professional team that will address your concerns 24 hours a day, 7 days a
                        week. Please send us an eBay message and we will get back to you quickly. We have our customers
                        best interest in mind and we assure each concern will be dealt with respect.</p>
                  </section>
               </main>
            </div>
            <div class="mobile-tab">
               <ul class="accordion css-accordion">
                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-1">
                     <label for="item-1" class="accordion-item-hd">About Us<span
                           class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">
                        <div>
                           <div style="margin: 5px 0;">
                              <h4>About Our eBay Store</h4>
                              <p>Welcome to our official eBay store! We are committed to providing our customers with
                                 high-quality products, secure transactions, and excellent customer service. Every order
                                 is
                                 handled with care, and we always aim to deliver a smooth and trustworthy shopping
                                 experience.</p>
                           </div>

                           <div style="margin:2px 0;">
                              <h5>Location</h5>
                              <p>Australia</p>
                           </div>

                           <div style="margin: 2px 0;">
                              <h5>Member Since</h5>
                              <p>27 June 2013</p>
                           </div>

                           <div style="margin: 2px 0;">
                              <h5>Seller</h5>
                              <p>essay_tiptop</p>
                           </div>

                        </div>

                     </div>
                  </li>

                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-2">
                     <label for="item-2" class="accordion-item-hd">Payment<span
                           class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">
                        <div style="margin: 5px 0;">
                           <h5>Payment Policy</h5>
                           <p>We accept secure payment methods through eBay, including PayPal and major credit/debit
                              cards. Your payment information is always kept safe and confidential.</p>
                        </div>
                     </div>
                  </li>

                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-3">
                     <label for="item-3" class="accordion-item-hd">Shipping<span
                           class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">
                        <div style="margin: 5px 0;">
                           <h5>Shipping Policy</h5>
                           <p>All items are carefully packaged and shipped within 1–3 business days. We use reliable
                              shipping services to ensure your purchase arrives safely and on time. Tracking details are
                              provided for every order.</p>
                        </div>
                     </div>
                  </li>

                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-4">
                     <label for="item-4" class="accordion-item-hd">Return<span
                           class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">
                        <div style="margin: 5px 0;">
                           <h5>Returns & Refunds</h5>
                           <p>We offer hassle-free returns within 30 days of purchase (conditions apply). Please ensure
                              that the item is in its original condition when returning. Refunds will be processed
                              promptly after inspection.</p>
                        </div>
                     </div>
                  </li>

                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-5">
                     <label for="item-5" class="accordion-item-hd">Customer Service<span
                           class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">
                        <p>We have a professional team that will address your concerns <strong>24 hours a day, 7 days a
                              week.</strong> Please send us an eBay message, and we will get back to you quickly.</p>

                        <p>We have our customers' best interest in mind and assure that each concern will be dealt with
                           respectfully.</p>
                     </div>
                  </li>
               </ul>
            </div>

         </div>
      </div>
   </div>
   <div class="bannerprom_wapper">
      <div class="container">
         <div class="row">
         </div>
      </div>
   </div>
   <footer class="footer_main_wapper">
      <div class="newsletter_footer_wapper">
         <div class="container">
            <div class="newsletter_footer">
               <div class="row align-items-center">
                  <div class="col-md-9">
                     <div class="newsletter_icon"> <img class="img-fluid" src="images/newsletter_icon.png" alt="">
                     </div>
                     <div class="newsletter_titel">BECOME A MEMBER AT Brightspire Goods <span>Receive important information,
                           offers, and sign up for our newsletter.</span> </div>
                  </div>
                  <div class="col-md-3">
                     <div class="newsletter_btn"> <a href="https://www.ebay.com.au/str/brightspiregoods"
                           target="_blank"> </a> </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="store_footer_wapper">
         <div class="container">
            <div class="row row-eq-height">
               <div class="col-md-3">
                  <div class="footer_block">
                     <div class="footer_logo">
                        <a href="https://www.ebay.com.au/str/brightspiregoods" target="_blank">
                           <img class="footer-logo-main" src="./images/logo.webp" alt="">
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="footer_block">
                     <div class="footer_block_titel">Useful Links</div>
                     <div class="footer_menu">
                        <ul>
                           <li><a target="_blank" href="https://www.ebay.com.au/str/brightspiregoods">Home</a></li>
                           <li><a target="_blank" href="https://www.ebay.com.au/str/brightspiregoods?_tab=about">About
                                 Us</a></li>
                           <li><a target="_blank"
                                 href="https://www.ebay.com.au/cnt/intermediatedFAQ?requested=essay_tiptop">Contact</a>
                           </li>
                           <li><a target="_blank"
                                 href="https://www.ebay.com.au/str/brightspiregoods?_tab=feedback">Reviews</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="footer_block">
                     <div class="footer_block_titel">Payment Options</div>
                     <div class="footer_payment">
                        <img src="https://meotech.org/ebay/chrismaclean218/Demo21_files/footer_payment.png"
                           class="img-fluid">
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="footer_block">
                     <div class="footer_block_titel">Secure Shopping</div>
                     <div class="footer_payment2 text-center">
                        <img src="https://meotech.org/ebay/chrismaclean218/Demo21_files/footer_payment2.png"
                           class="img-fluid t-star" width="70%">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="footer_bottom">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-md-6">
                  <div class="store_copyright"> © Copyright 2025, <a target="_blank"><span
                           style="color:#25495a;">Brightspire Goods</span></a> All rights reserved. </div>
               </div>
               <div class="col-md-6">
                  <div class="designby">
                     <h6 style="color:#fff">Design by <span style="color:#25495a;">RSWEBLABS</span> </h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
</div>