<div id="ds_div">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description"
        content="Discover the ultimate solution for hassle-free sticker, gum, adhesive, and goo removal with our powerful Sticker Remover Spray. Each 300ml can ensures effortless cleanup, restoring surfaces to their pristine condition. Say goodbye to sticky frustrations today!">
    <meta name="keywords"
        content="Sticker Remover Spray, gum adhesive removal, goo residue, effortless cleanup, surfaces restoration, 300ml can, sticky residue solution, hassle-free removal, convenient formula.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mainul-Extension Uk eBay Listing Template</title>
    <link rel="stylesheet" href="font-awesome.min">
    <link href="min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
   <link rel="stylesheet" href="mm.css">
    <div class="header-container">
        <div class="header-top">
            <div class="container">
                <p><span style="color: #ffffff;">WELCOME TO RSA DEALS EBAY STORE</span></p>
            </div>
        </div>
        <div class="header-content">
            <a class="logo-content" href="#"
                target="_blank"><img
                    src="https://i.ebayimg.com/images/g/NbAAAOSw3R5kv7mr/s-l1600.png"></a><!--Logo Link-->
            <div class="header-right">
                <input type="checkbox" id="nav-trigger" class="nav-trigger">
                <label for="nav-trigger" class="hidden-nav">MENU</label>
                <div class="menu-header menu-header-mobile">
                    <div class="container">
                        <div class="menu-container">
                            <ul class="menu">
                                <li><a href="#" target="_blank">Home</a></li>
                                <!--Main Menu Links/Max 8 Links/Bettet Usage for Featured Categories-->
                                <li><a href="#" target="_blank">Feedback</a>
                                </li>
                                <li><a href="#"
                                        target="_blank">See What's New</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-header">
            <div class="container">
                <div class="menu-container">
                    <ul class="menu">
                        <li><a href="#" target="_blank">Home</a></li>
                        <!--Main Menu Links/Max 8 Links/Bettet Usage for Featured Categories-->
                        <li><a href="#" target="_blank">Feedback</a></li>
                        <li><a href="#"
                                target="_blank">See What's New</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="promo" style="font-size: 14pt;">
        <div class="container">
            <div class="promo-content">
                <!--Top Promo /Font-Awosem/Edit Text or Icon-->
                <span class="box-promotion"><i class="fa fa-truck" aria-hidden="true"></i><span>Fast &amp; Free
                        Delivery</span> </span>
                <span class="box-promotion"><i class="fa fa-globe" aria-hidden="true"></i><span>Global
                        Shipping</span></span>
                <span class="box-promotion"><i class="fa fa-gbp" aria-hidden="true"></i><span>Best Price
                        Guarantee</span></span>
                <span class="box-promotion"><i class="fa fa-shield" aria-hidden="true"></i><span>Secure
                        Shopping</span></span>
            </div>
        </div>
    </div>
    <!-- Start Banner -->
    <div class="banner">
        <div class="container">
            <img src="https://i.ebayimg.com/images/g/660AAOSwKfVkv9Ce/s-l1600.png" title="RSA Deals">
        </div>
    </div>
    <!-- End Banner -->
    <!--Header End-->
    <div class="content">
        <div class="container">
            <div class="inner-row">
                <br>
                <div class="col-sm-3 col-md-3 hidden-xs hidden-sm left-content">
                    <div class="hidden-xs hidden-sm">
                        <div class="widget_box">
                            <div class="list-group">
                                <h2>Categories</h2>
                                <div class="widget_content">
                                    <ul>
                                        <li><a href="#"
                                                _blank=""> Home, Furniture &amp; DIY </a></li>
                                        <!--Add Categories Link-->
                                        <li><a href="#"
                                                _blank=""> Toys &amp; Games </a></li>
                                        <!--Add Categories Link-->
                                        <li><a href="#"
                                                _blank=""> Sporting Goods </a></li>
                                        <!--Add Categories Link-->
                                        <li><a href="#"
                                                _blank=""> Business, Office &amp; Industrial </a></li>
                                        <!--Add Categories Link-->
                                        <li><a href="#"
                                                _blank=""> Garden &amp; Patio </a></li>
                                        <!--Add Categories Link-->
                                    </ul>
                                </div>
                            </div>
                            <div class="list-group">
                                <h2>Usefull Link</h2>
                                <div class="widget_content">
                                    <ul>
                                        <li><a href="#" target="_blank">View
                                                Store</a></li>
                                        <!--Add Usfull Link-->
                                        <li><a href="#"
                                                target="_blank">Ask Question </a></li>
                                        <li><a href="#" target="_blank">View
                                                Feedback </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="list-group">
                                <h2>Why Choose Us ?</h2>
                                <div class="widget_content">
                                    <img src="https://cldup.com/PGr7OM38o4.png" class="img-responsive">
                                    <img src="https://cldup.com/il-DW0M4-V-2000x2000.png" class="img-responsive">
                                    <img src="https://i.ibb.co/mTyS6yp/pngtree-special-price-vector-design-png-image-2267992-removebg-preview.png"
                                        class="img-responsive">
                                    <img src="https://i.ibb.co/7JytYhT/download-7-removebg-preview.png"
                                        class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 right-content">
                    <h1 class="title-heading">2 x Sticker Remover Spray Remove Sticky Label Goo Gum Label Tape Adhesive
                        300ml</h1>
                    <!--Item Title-->
                    <div class="panel panel-default">
                        <div class="image-gallery">
                            <div class="slider">
                                <!--Image Gallery Start-->
                                <input type="radio" name="slide_switch" id="id1" checked=""
                                    value="https://i.ebayimg.com/images/g/PAUAAOSw05FjYrfP/s-l1600.png">
                                <label for="id1">
                                    <span><img src="https://i.ebayimg.com/images/g/PAUAAOSw05FjYrfP/s-l1600.png"
                                            width="100"></span>
                                </label>
                                <div class="img-details"><img
                                        src="https://i.ebayimg.com/images/g/PAUAAOSw05FjYrfP/s-l1600.png"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default desc-box">
                        <div class="panel-heading">DESCRIPTION</div>
                        <!--DESCRIPTION Start-->
                        <div class="text-section">
                            <div class="panel-body">
                                <p></p>
                                <p>
                                    <font size="4"><span
                                            style="background-color: rgb(32, 33, 36); color: rgb(232, 234, 237); font-family: &quot;Google Sans&quot;, arial, sans-serif;">✅</span>&nbsp;Introducing
                                        our powerful Sticker Remover Spray, your ultimate solution to effortlessly
                                        tackle stubborn stickers, gum, adhesive, and goo residue. With each convenient
                                        300ml can, this remarkable formula guarantees a quick and hassle-free removal
                                        process, making those once frustrating tasks a breeze. Whether it's fresh
                                        stickers or long-standing adhesive marks, our Sticker Remover Spray works
                                        wonders, leaving surfaces impeccably clean and residue-free.&nbsp;</font>
                                </p>
                                <p>
                                    <font size="4"><br></font>
                                </p>
                                <p>
                                    <font size="4"><span
                                            style="background-color: rgb(32, 33, 36); color: rgb(232, 234, 237); font-family: &quot;Google Sans&quot;, arial, sans-serif;">✅</span>&nbsp;Designed
                                        for efficiency and ease of use, this product is your go-to for restoring
                                        surfaces to their brand new condition. Say goodbye to the frustration of sticky
                                        residues and embrace the convenience of our Sticker Remover Spray – your
                                        reliable partner in maintaining a spotless environment.</font>
                                </p>
                                <p>
                                    <font size="4"><br></font>
                                </p>
                                <p><b>
                                        <font size="4">Product Features:</font>
                                    </b></p>
                                <p>
                                    <font size="4"><br></font>
                                </p>
                                <p>
                                    <font size="4">✓ Effortlessly remove stubborn stickers, gum, adhesive, and goo
                                        residue with our potent Sticker Remover Spray.<br><br></font>
                                </p>
                                <p>
                                    <font size="4">✓ Each 300ml can offers a convenient solution for tackling various
                                        surfaces, ensuring a quick and hassle-free removal process.<br><br></font>
                                </p>
                                <p>
                                    <font size="4">✓ Restore surfaces to their pristine condition as this powerful
                                        formula effectively eliminates sticky residues, making maintenance a breeze.
                                    </font>
                                </p>
                                <p></p>
                                <!--Decription Body-->
                            </div>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                    <p></p>
                    <!--Decription Body-->
                </div>
            </div>
        </div>
        <!--Footer Start-->
        <div class="footer">
            <div class="container">
                <div class="inner-row">
                    <div class="col-sm-4 contact-us">
                        <div class="head">
                            <p>RSA Deals </p>
                        </div>
                        <p>Shop around for some of the best deals online. We work closely with many suppliers to get you
                            low prices for high quality products. Have a look and see. Take advantage of our prices
                            while stock lasts!
                        </p>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3 hidden-xs footer-promo">
                        <div class="head">TOP CATEGORIES</div>
                        <!--Footer Tab-4-->
                        <li><a style="color: white;"
                                href="#"
                                _blank=""> Home, Furniture &amp; DIY </a></li>
                        <!--Add Categories Link-->
                        <li><a style="color: white;"
                                href="#"
                                _blank=""> Toys &amp; Games </a></li>
                        <!--Add Categories Link-->
                        <li><a style="color: white;"
                                href="#"
                                _blank=""> Sporting Goods </a></li>
                        <!--Add Categories Link-->
                        <li><a style="color: white;"
                                href="#"
                                _blank=""> Business, Office &amp; Industrial </a></li>
                        <!--Add Categories Link-->
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3 footer-signup">
                        <div class="head">Newsletter</div>
                        <!--Footer Tab-3-->
                        <p>Sign up to our newsletter for special deals</p>
                        <a href="#"
                            target="_blank" title="SUBMIT">SUBMIT</a><!--Newsletter Link-->
                    </div>
                    <div class="clearfix"></div>
                    <div class="copyrights">
                        <p class="text-center"> Copyright ©RSA DEALS 2023. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>