@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@charset "utf-8";
body, html, .g-std {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans',sans-serif !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 0;
	font-size: 1em !important;
}
body, .g-std {
	font-family: 'Open Sans',sans-serif !important;
	font-size: 13px !important;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a, a:hover {
	text-decoration: none !important;
}
h1, h2, h3, h4, h5, h6, ul, li, ol {
	margin: 0;
	padding: 0;
}
.visible-desktop {
	display: block;
}
.pst-clear {
	clear: both;
}
.no-margin {
	margin-left: 0;
	margin-right: 0;
}
.no-padding {
	padding-left: 0;
	padding-right: 0;
}
.desc-head
{
font-size: 14px;
color: #000;
float: left;
width: 100%;
text-align: left;
font-weight:bold;
text-transform: uppercase;
font-size: 14px !important;
}
.pro-desc-head
{
background: #c8372d;
/*background: rgb(250,84,134);
background: linear-gradient(144deg, rgba(250,84,134,1) 000%, rgba(61,255,231,1) 100%);*/
color: #fff;
text-transform: uppercase;
text-align: center;
padding: 12px 0 12px;
font-size: 14px;
margin: 0 0 5px;
text-shadow: 0px 1px 3px #000;
}
.pro-desc-para
{
border: 1px solid #dbdbdb;
padding: 20px;
font-size: 13px;
font-family: 'Open Sans',sans-serif !important;
line-height: 19px;
margin-bottom:5px;
color:#000;
}
@media (min-width: 1200px) {
.container {
	padding-left: 0;
	padding-right: 0;

}
}
.right_logo{margin-top:35px; width:100%!important;}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	.right_logo{margin-top:0px;}
	}
.pst-main {
	font-family: 'Open Sans',sans-serif !important;
}
/* HEADER STARTS */
#pst-header {
    background: #000;
}
.top-row {
	background: #c8372d;
	height: 50px;
}
.contact-link {
	height: 50px;
	text-align: left;
}
.contact-link a {
	display: block;
	height: 50px;
	line-height: 50px;
	font-size: 13px;
text-shadow: 0px 1px 3px #000;
	color: #fff !important;
	text-transform: uppercase;
	transition: 0.3s all ease-in-out;
	font-weight:bold;
}
.contact-link a:hover {
	color: #fff !important;
	transition: 0.3s all ease-in-out;
	text-shadow: 0px 1px 3px #000;
}
.top-nav {
	height: 50px;
	text-align: right;
}
.top-nav ul {
	display: inline-block;
}
.top-nav ul li {
	float: left;
}
.top-nav ul li a {
	display: block;
	height: 50px;
	line-height: 50px;
padding: 0 15px;
font-size: 13px;
	color: #fff !important;
	text-transform: uppercase;
	transition: 0.3s all ease-in-out;
	font-weight:bold;
	text-shadow: 0px 1px 3px #000;
}
.top-nav ul li:last-child a {
	padding-right: 0;
}
.top-nav ul li a:hover {
	color: #fff !important;
	transition: 0.3s all ease-in-out;
	text-shadow: 0px 1px 3px #000;
}
.pst-logo {
	text-align: left;
margin: 18px 0;
}
.pst-logo img {
	display: inline-block;
}
/* PST PROMO START */
.promo-bg {
	    border-bottom: 1px solid #f5f5f5;
    background: #f5f5f5;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.promo {
	text-align: center;
	height: 50px;
}
.promo ul {
	display: inline-block;
}
.promo ul li {
	float: left;
	text-align: left;
	margin: 0 35px;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	font-family: 'Open Sans',sans-serif !important;
}
.promo ul li i {
	width: 26px;
	height: 28px;
	line-height: 28px;

	text-align: center;
	color: #c8372d;
	/*margin-right: 10px;*/
}
/* PST PROMO ENDS */

/* HEADER END */
/* LISTING AREA START */
.listing-area {
}
/* GALLERY DESC-PART START */
.gal-desc-part {
	padding: 20px 0;
}
.gal-container {
	height: auto;
	overflow: hidden;
}
.slider {
	width: 100%;
	position: relative;
	padding-top: 580px;
}
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1);
	max-height: 570px;
	width: auto;
	max-width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
}
.slider>img {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
	bottom: 0;
	transition: all 0.5s;
}
.slider input[name='slide_switch'] {
	display: none;
}
.slider label {
	margin: 20px 8px 0 0px;
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.8;
	text-align: center;
width: 106px;
	height: 110px;
	padding: 3px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #dbdbdb;
}
.slider #id1 + label {
	margin-left: 0;
	/*display:none;*/
}
.slider #id5 + label {
}
.slider #id6 + label {
}
.slider label img {
	max-width: 90%;
	max-height: 100px;
	width: auto;
	display: inline-block;
}
.slider input[name='slide_switch']:checked+label {
	opacity: 1;
	border: 1px solid #009542;
}
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
/*.slider input#id6 + label {
	margin-right: 0;
}*/
#id1 + label[class*="Liquid"], #id2 + label[class*="Liquid"], #id3 + label[class*="Liquid"], #id4 + label[class*="Liquid"], #id5 + label[class*="Liquid"], #id6 + label[class*="Liquid"], #id7 + label[class*="Liquid"], #id8 + label[class*="Liquid"], #id9 + label[class*="Liquid"], #id10 + label[class*="Liquid"], #id11 + label[class*="Liquid"], #id12 + label[class*="Liquid"] {display: none;}
#id1 + label[class*="[IMAGE"], #id2 + label[class*="[IMAGE"], #id3 + label[class*="[IMAGE"], #id4 + label[class*="[IMAGE"], #id5 + label[class*="[IMAGE"], #id6 + label[class*="[IMAGE"], #id7 + label[class*="[IMAGE"], #id8 + label[class*="[IMAGE"], #id9 + label[class*="[IMAGE"], #id10 + label[class*="[IMAGE"], #id11 + label[class*="[IMAGE"], #id12 + label[class*="[IMAGE"] {display: none;}

#id1 + label[class=""], #id2 + label[class=""], #id3 + label[class=""], #id4 + label[class=""], #id5 + label[class=""], #id6 + label[class=""], #id7 + label[class=""], #id8 + label[class=""], #id9 + label[class=""], #id10 + label[class=""], #id11 + label[class=""], #id12 + label[class=""] {display: none;}
/* DESC CONTAINER START */
.desc-container {
	box-shadow: 0 8px 27px 0 rgba(0,0,0,0.2);
	margin-bottom:20px;
}
.pst-listing-title {
	font-family: 'Open Sans',sans-serif !important;
	line-height: normal;
	width: 100%;
	height: auto;
	padding: 40px 40px 14px 40px;
	text-align: left;
	/*text-transform: uppercase;*/
	font-size: 25px;
	color: #000000;
	font-weight:bold;
}
.pst-listing-title1 {
	font-family: 'Open Sans',sans-serif !important;
	line-height: normal;
	width: 100%;
	height: auto;
	padding: 0px 40px 14px 0px;
	text-align: left;
	/*text-transform: uppercase;*/
	font-size: 25px;
	color: #000000;
	font-weight:bold;
}
.desc-box {
	width: 100%;
	clear: both;
	height: auto;
	
}
.desc-box img {
	max-width: 90%;
	width: auto !important;
	height: auto !important;
	display: inline-block;
}
.text-regullar {
	font-family: 'Open Sans',sans-serif !important;
	width: 100%;
	font-size: 14px;
	line-height: 21px;
	color: #000;
	text-align: left;
	margin: 0px auto;
	padding: 20px 40px 40px 40px;
	font-weight: normal;
}
.text-regullar p {
	margin-bottom: 0;
	font-size: 13px;
}
.text-regullar ul {
	list-style: inside;
}
.text-regullar ul li {
	position: relative;
	padding-left: 15px;
	/*list-style: none;*/
	font-size:13px;
}
.text-regullar ul li:before {
	font-family: FontAwesome;
	/*content: '\f111';*/
	position: absolute;
	left: 0px;
	top: 0;
	font-size: 8px;
}
.text-regullar a {
	text-decoration: none;
	color: #2812A3 !important;
	transition: 0.3s all ease-in-out;
}
.text-regullar a:hover {
	color: #000000 !important;
	transition: 0.3s all ease-in-out;
}
.text-regullar .table-responsive {
	border: none;
	font-family: 'Open Sans',sans-serif !important;
}
.text-regullar .table-responsive table {
	width: 100% !important;
	border: none;
}
.text-regullar .table-responsive table-bordered {
	border: none;
}
.text-regullar .table-responsive table tbody tr td {
	padding: 8px 15px;
	font-size: 14px;
	font-weight: normal;
	white-space: inherit;
}
.text-regullar .table-responsive table tbody tr th {
	padding: 8px 15px;
	font-size: 14px;
	font-weight: bold;
	white-space: inherit;
}
.text-regullar .table-responsive table tbody tr td p {
	margin-bottom: 0px;
}
.custom-box {
	margin: 0 0 10px 0;
}
.custom-head {
	font-size: 1.25em;
	color: #1b124d;
	font-weight: bold;
	text-align: left;
	margin-bottom: 20px;
}
.custom-text {
	color: #000000;
}
.custom-text .table-responsive {
	border: none;
	font-family: 'Open Sans',sans-serif !important;
}
.custom-text .table-responsive table {
	width: 100% !important;
	border: none;
}
.custom-text .table-responsive table-bordered {
	border: none;
}
.custom-text .table-responsive table tbody tr td {
	padding: 8px 10px 9px 15px;
	font-size: 16px;
	font-weight: normal;
	white-space: inherit;
	border: 1px solid #dadada;
	width: 50%;
}
.custom-text .table-responsive table tbody tr td:first-child {
	font-weight: bold;
	background-color: #f4f4f4;
	width: 30%;
}
.custom-text .table-responsive table tbody tr th {
	padding: 8px 15px;
	font-size: 14px !important;
	font-weight: bold;
	white-space: inherit;
	border: 1px solid #dadada;
	width: 50%;
}
.custom-text .table-responsive table tbody tr td p {
	margin-bottom: 0px;
}
/*GALLERY DESC-PART END*/

/* PST TAB START */
.pst-tab {
	font-family: 'Open Sans',sans-serif !important;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.pst-tab label {
	font-family: 'Open Sans',sans-serif !important;
	-webkit-box-ordinal-group: 2;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
	display: block;
	padding: 9px 0 12px;
	margin-right: 4px;
	margin-bottom: 0px;
	cursor: pointer;
	transition: background ease-in-out 0.3s;
	position: relative;
	left: 0;
	font-size: 14px;
	text-transform: uppercase;
	background-color: #F8F8F8;
	color: #000;
	text-align: center;
	font-weight: normal;
	min-width: 220px;
	z-index: 111111;
	border: 1px solid #e4e3e1;
}
.pst-tab .tab {
	font-family: 'Open Sans',sans-serif !important;
	-webkit-box-ordinal-group: 100;
	-webkit-order: 99;
	-ms-flex-order: 99;
	order: 99;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	width: 100%;
	display: none;
	line-height: 24px;
	text-align: center;
	position: relative;
	box-sizing: border-box;
	font-size: 13px;
	color: #000000;
	font-weight: normal;
	padding: 20px;
border: 1px solid #dbdbdb;
	top: -1px;
	margin-top: 5px;
}
.pst-tab .tab img {
	margin: 10px 0;
	width: auto;
	max-width: 70%;
}
.pst-tab .tab strong {
	font-size: 16px;
}
.pst-tab .tab p {
	margin-bottom: 15px;
}
.pst-tab .tab ol {
	list-style: decimal;
}
.pst-tab .tab ul {
	list-style: none;
}
.pst-tab .tab ul li {
	position: relative;
	padding-left: 15px;
}
.pst-tab .tab ul li:before {
	font-family: FontAwesome;
	content: '\f111';
	position: absolute;
	left: 0px;
	top: 0;
	font-size: 8px;
}
.pst-tab .tab a {
	color: #2812A3 !important;
	text-decoration: none;
	transition: 0.3s all ease-in-out;
}
.pst-tab .tab a:hover {
	color: #000000 !important;
	text-decoration: none;
	transition: 0.3s all ease-in-out;
}
.pst-tab input[type="radio"] {
	position: relative;
	opacity: 0;
	display: none;
}
.pst-tab label:hover {
background: #c8372d;
text-shadow: 0px 1px 3px #000;
color: #fff;
font-weight:bold;
	/*transition: 0.3s all ease-in-out;*/
}
.pst-tab input[type="radio"]:checked + label {
	background: #c8372d;
text-shadow: 0px 1px 3px #000;
	color: #fff;
	font-weight:bold;
	/*border: 1px solid #000;*/
	transition: 0.3s all ease-in-out;
}
.pst-tab input[type="radio"]:checked + label + .tab {
	display: block;
}
.pst-tab .tab .table-responsive {
	width: auto;
	max-width: 100%;
	border: none;
	font-family: 'Open Sans',sans-serif !important;
}
.pst-tab .tab .table-responsive table {
	width: 100% !important;
	border: none;
}
.pst-tab .tab .table-responsive table-bordered {
	border: none;
}
.pst-tab .tab .table-responsive table tbody tr td {
	padding: 8px 15px;
	font-size: 14px !important;
	white-space: inherit;
	width: 50%;
}
.pst-tab .tab .table-responsive table tbody tr th {
	padding: 8px 15px;
	font-size: 14px !important;
	font-weight: bold;
	white-space: inherit;
	width: 50%;
}
.pst-tab .tab .table-responsive table tbody tr td p {
	margin-bottom: 0px;
}
/* PST TAB ENDS */

.crosspromo-title {
	font-size: 26px;
	font-weight: 700;
	color: #FFF;
	float: left;
	background-color: #ab2531;
	padding: 7px 20px;
}
.crosspromo-box {
	border: 1px solid #ab2531;
	padding: 10px;
	margin-bottom: 20px;
	float: left;
}
.col.span_1_of_4 {
	border: 1px solid #cccccc;
	display: inline-block;
	width: 24.145%;
	float: left;
	margin-right: 13px;
	text-align: center;
	-webkit-box-shadow: inset 0px 0px 0 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 0px 0 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 0 0px rgba(0,0,0,0.2);
	transition: 0.3s all ease-in-out;
}
.col.span_1_of_4:hover {
	-webkit-box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.2);
	transition: 0.3s all ease-in-out;
}
.col.span_1_of_4:last-child {
	margin-right: 0;
}
.col.span_1_of_4 img {
	width: auto;
	display: inline-block;
}
/* LISTING AREA ENDS*/

/* PST CAT START */
.pst-cat {
}
.cat-box {
	position: relative;
	overflow: hidden;
	padding: 0;
	margin-bottom: 20px;
	border: 1px solid #ab2531;
	transition: 0.3s all ease-in-out;
}
.cat-1-info {
	position: absolute;
	top: 0;
	right: 0;
	width: 41%;
	height: 100%;
}
.cat-1-head {
	font-size: 1.375em;
	color: #ab2531;
	font-weight: bold;
	text-transform: none;
	text-align: left;
	margin: 70px 0 7px;
}
.cat-link {
	text-align: left;
}
.cat-link ul {
	display: inline-block;
	width: 100%;
	float: left;
}
.cat-link ul li {
	display: inherit;
}
.cat-link ul li a {
	position: relative;
	font-size: 14px;
	color: #000000;
	padding-left: 12px;
	height: 30px;
	line-height: 30px;
	display: block;
	transition: 0.3s all ease-in-out;
}
.cat-link ul li a:before {
	position: absolute;
	font-family: FontAwesome;
	content: '\f105';
	top: 0;
	left: 0;
	color: #000000;
	transition: 0.3s all ease-in-out;
}
.cat-link ul li:hover a:before {
	color: #ab2531;
	left: 5px;
	transition: 0.3s all ease-in-out;
}
.cat-link ul li a:hover {
	color: #ab2531;
	padding-left: 15px;
	transition: 0.3s all ease-in-out;
}
.cat-box.cat-box-1:hover .cat-name {
	color: #FFFFFF;
	transition: 0.3s all ease-in-out;
}
.browse-all-btn {
	margin-top: 28px;
	height: 44px;
	text-align: center;
	float: left;
}
.browse-all-btn a {
	position: inherit !important;
	display: block;
	padding: 0 42px;
	font-size: 14px;
	font-weight: bold;
	color: #282727;
	text-transform: uppercase;
	height: 44px;
	line-height: 44px;
	background-color: #FFFFFF;
	transition: 0.3s all ease-in-out;
}
.browse-all-btn a:hover {
	background-color: #ab2531;
	color: #FFFFFF;
	transition: 0.3s all ease-in-out;
}
.cat-box.cat-box-2 {
	margin-bottom: 26px;
}
.cat-img {
	position: relative;
	text-align: center;
}
.cat-img img {
	transform: scale(1);
	width: auto;
	display: inline-block;
	opacity: 1;
	transition: 0.3s all ease-in-out;
}
.cat-box:hover .cat-img img {
	transform: scale(1.05);
	opacity: 0.8;
	transition: 0.3s all ease-in-out;
}
.cat-name {
	position: relative;
	height: 40px;
	line-height: 40px;
	font-size: 1.25em;
	background-color: #ab2531;
	color: #FFFFFF;
	font-weight: 500;
	z-index: 1111111;
	letter-spacing: 0;
	text-transform: uppercase;
	transition: 0.3s all ease-in-out;
}
.cat-box:hover .cat-name {
	letter-spacing: 2px;
	transition: 0.3s all ease-in-out;
}
.cat-box a {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 111111111;
}
.fnt-23 {
	font-size: 1.43em;
}
/* PST CAT ENDS */

.special-text {
	text-align: left;
}
.special-text h2 {
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #ab2531;
}
.special-text p {
	font-size: 16px;
	margin: 0;
	color: #000000;
	line-height: 24px;
}
/* PST PROMO START */
.f-promo-bg {
	background: #c8372d;
}
.f-promo {
	text-align: center;
	padding: 4.91px 0px 6.1px;;
}
.f-promo-box {
	display: inline-block;
}
.icon-box {
	display: inline-block;
	float: left;
	margin-right: 7px;
}
.f-promo-text {
	display: inline-block;
	float: left;
	text-align: left;
font-size: 21px;
	line-height: 24px;
	font-weight: normal;
	padding-top: 7px;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0px 1px 3px #000;
	font-family: 'Open Sans',sans-serif !important;
}
.f-promo-text p {
	font-size: 16px;
	text-transform: none;
	font-weight: normal;
	margin-bottom: 0px;
}
/* PST PROMO ENDS */


.pst-footer {
    background:#010101;
}
.f-row-head {

	color: #fff;
	text-align: left;
	margin: 23px 0;
	font-weight: bold;
text-transform: uppercase;
font-family: 'Open Sans',sans-serif !important;
font-size: 16px;
text-shadow: 0px 1px 3px #000;
}
.f-quick-link {
	margin: 0 auto;
	text-align: left;
	line-height: 24px;
}
.f-quick-link ul {
	width: 50%;
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}
.f-quick-link ul li {
	padding-left: 0;
	transition: 0.3s all ease-in-out;
}
.f-quick-link ul li:hover {
	padding-left: 5px;
	transition: 0.3s all ease-in-out;
}
.f-quick-link ul li a {
	display: block;
	font-size: 13px;
	font-weight: normal;
	color: #fff !important;
	transition: 0.3s all ease-in-out;
	font-family: 'Open Sans',sans-serif !important;
	text-shadow: 0px 1px 3px #000;
}
.f-quick-link ul li a:hover {
	color: #fff !important;
	transition: 0.3s all ease-in-out;
}
.f-payment {
	text-align: left;
	
}
.f-payment li {
	font-size: 13px;
	font-weight: normal;
	color: #fff;
	list-style: none;
	font-family: 'Open Sans',sans-serif !important;
	text-shadow: 0px 1px 3px #000;
}
.f-payment img {
	display: inline-block;
	width: auto;
	margin-top: 18px;
}
.newslatter {
	margin: 0;
}
.pst-address {
	margin: 25px 0 15px;
}
.pst-address p {
	color: #fff;
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	font-family: 'Open Sans',sans-serif !important;
	text-shadow: 0px 1px 3px #000;
}
.sign-up {
	display: inline-block;
	text-align: center;
	position: relative;
}
.sign-up a {
	display: block;
	width: 142px;
	line-height: 35px;
	font-size: 16px;
	/*background-color:#53565A;*/
	background:#c8372d;
	color: #fff !important;
	font-weight: bold;
	text-transform: none;
	transition: .3s all ease-in-out;
	/*text-shadow: 0px 1px 3px #000;*/
}
.sign-up a:before {
	font-family: FontAwesome;
	content: '\f003';
	font-size: 20px;
	color: #fff !important;
	margin-right: 6px;
	transition: .3s all ease-in-out;
}
.sign-up:hover a:before {
	color: #FFFFFF !important;
	transition: .3s all ease-in-out;
}
.sign-up a:hover {
	background-color: #53565A;
	color: #FFFFFF !important;
	transition: .3s all ease-in-out;
}
.pst-copyright {
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	color: #fff;
margin-top: 35px;
font-family: 'Open Sans',sans-serif !important;
text-shadow: 0px 1px 3px #000;
}
.pst-copyright span {
	text-transform: ;
}
.pst-designer {
	font-weight: normal;
	font-size: 12px;
	text-align: center;
	color: #fff;
	margin-bottom: 30px;
	/*margin-bottom: 20px;
	margin-top: 10px;*/
	font-family: 'Open Sans',sans-serif !important;
	text-shadow: 0px 1px 3px #000;
}
.pst-designer a {
	color: #fff !important;
	transition: 0.3s all ease-in-out;
}
.pst-designer a:hover {
	color: #DDDDDD !important;
	transition: 0.3s all ease-in-out;
}
/*STORE FOOTER ENDS*/

.tb-inner-title {
	font-size: 2.125em;
	color: #ab2531;
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	margin-bottom: 20px;
}
.tb-inner-title:after {

	height: 26px;
	flex: 1;
	content: '';
	margin-left: 15px;
}
