<div id="ds_div">
   <title>Title</title>
   <meta name="description" content="Title">
   <meta name="keywords" content="Title">
   <link href="min.css" rel="stylesheet" type="text/css">
   <link href="listing.css" rel="stylesheet" type="text/css">
   <link href="reponsive.css" rel="stylesheet" type="text/css">
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <style>
      img {
      max-width: 100%;
      }
   </style>
   <div class="listing_background">
      <!--Header //start-->
      <div class="dezign_wapper">
         <div class="dezign_top_header">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-md-5">
                     <div class="welcome_text"> <img
                        src="https://dezignbrain.com/ebay/innov8_quality/images/home.png" alt=""> Welcome to
                        Our <span>eBay Shop</span> 
                     </div>
                  </div>
                  <div class="col-md-7">
                     <div class="top_newsletter_link">
                        <ul>
                           <li> <a href="#"
                              target="_blank"><img
                              src="https://dezignbrain.com/ebay/innov8_quality/images/icon_01.png"
                              alt="">New Arrivals</a> </li>
                           <li> <a href="#"
                              target="_blank"><img
                              src="https://dezignbrain.com/ebay/innov8_quality/images/icon_02.png"
                              alt="">eBay Message</a> </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="dezign_header">
         <div class="promo_top_text">
            <div class="container">
               <div class="dezign_top_menu">
                  <div class="row align-items-center">
                     <div class="col-md-4">
                        <ul class="main_menu">
                           <li class="first"><a target="_blank"
                              href="#">Shop Home</a></li>
                           <li><a target="_blank"
                              href="#">Items For
                              Sale</a>
                           </li>
                        </ul>
                     </div>
                     <div class="col-md-4"> </div>
                     <div class="col-md-4">
                        <ul class="main_menu">
                           <li><a target="_blank"
                              href="#">Feedback</a>
                           </li>
                           <li><a target="_blank"
                              href="#">Contact
                              Us</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-md-4">
                     <div class="dezign_top_prmotion left_promo"> <img class=""
                        src="https://dezignbrain.com/ebay/innov8_quality/images/promo_code_left.png" alt="">
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div id="dezign_logo"> <a href="#"
                        target="_blank"><img
                        src="https://dezignbrain.com/ebay/innov8_quality/images/logo.png" alt=""></a>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="dezign_top_prmotion"> <img
                        src="https://dezignbrain.com/ebay/innov8_quality/images/promo_code_top.png" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--Header //end-->
         <div class="product_section">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="desc-hedtitle">&nbsp; Samsung Galaxy S20 FE 4G 128GB Green Android Brand New UK
                        Model SEALED Unlocked&nbsp;SIM Free 1 Year Warranty 
                     </div>
                     <div class="product_images_wappers">
                        <div class="product_images_gallery"><img
                           src=" https://m.media-amazon.com/images/I/71In5OLcC8L._AC_SL1500_.jpg" alt="">
                        </div>
                        <div class="product_images_gallery"><img
                           src="https://m.media-amazon.com/images/I/61lMXObaT5L._AC_SL1500_.jpg " alt="">
                        </div>
                        <div class="product_images_gallery"><img
                           src="https://m.media-amazon.com/images/I/71FiEGa9uBL._AC_SL1500_.jpg " alt="">
                        </div>
                        <div class="product_images_gallery"><img
                           src="https://m.media-amazon.com/images/I/71GPvsktk3L._AC_SL1500_.jpg " alt="">
                        </div>
                        <div class="product_images_gallery"><img
                           src="https://m.media-amazon.com/images/I/61kMp68bZqL._AC_SL1500_.jpg " alt="">
                        </div>
                        <div class="product_images_gallery"><img
                           src="https://m.media-amazon.com/images/I/61BMv9eT0nL._AC_SL1500_.jpg " alt="">
                        </div>
                        <div class="https://m.media-amazon.com/images/I/71NZ0CMjZ3L._AC_SL1500_.jpg " alt="">
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <div class="reasons">
                        <div class="row">
                           <div class="col-md-4"><img
                              src="https://dezignbrain.com/ebay/innov8_quality/images/reasons-01.png"
                              alt=""></div>
                           <div class="col-md-4"><img
                              src="https://dezignbrain.com/ebay/innov8_quality/images/reasons-02.png"
                              alt=""></div>
                           <div class="col-md-4"><img
                              src="https://dezignbrain.com/ebay/innov8_quality/images/reasons-03.png"
                              alt=""></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12">
                     <div class="listing_listingarea-box" id="right_box">
                        <div class="desc-hedtitle">Product Description</div>
                        <div class="desc-rd desc-text">
                           <div vocab="https://schema.org/" typeof="Product">
                              <span property="description">
                                 <h6><span
                                    style="color: inherit; font-family: inherit; font-size: 1rem; letter-spacing: 0.3px;">Samsung
                                    Galaxy S20 FE 4G 128GB green new uk 6.5" Unlocked SIM Free 1 Year
                                    Warranty</span>
                                 </h6>
                                 <h6><span
                                    style="color: inherit; font-family: inherit; font-size: 1rem; letter-spacing: 0.3px;"><br></span>
                                 </h6>
                                 <div>
                                    <div
                                       style="font-weight: 600; text-transform: uppercase; letter-spacing: 0.3px;">
                                       <span style="font-weight: 400; letter-spacing: 0.3px;"></span>
                                    </div>
                                    <ul>
                                       <li>
                                          <h5
                                             style="font-family: Poppins, sans-serif; color: rgb(51, 51, 51);">
                                          </h5>
                                       </li>
                                    </ul>
                                    <ul>
                                       <li><span style="font-weight: 400; letter-spacing: 0.3px;">UK model,
                                          this is the 4G variant (</span><span
                                             style="font-weight: normal;">SEPARATE</span><span
                                             style="font-weight: 400; letter-spacing: 0.3px;">&nbsp;listing
                                          for the 5g model)</span>
                                       </li>
                                       <li
                                          style="letter-spacing: 0.3px; text-transform: uppercase; font-weight: 600;">
                                          <span style="font-weight: 400; letter-spacing: 0.3px;">SAMSUNG
                                          Brand new. this means SAMSUNG GALAXY phone inside is in its
                                          original SAMSUNG packaging and sealed</span>
                                       </li>
                                       <li
                                          style="letter-spacing: 0.3px; text-transform: uppercase; font-weight: 600;">
                                          <span style="font-weight: 400; letter-spacing: 0.3px;">SAMSUNG
                                          MANUFACTURER seal</span>
                                       </li>
                                       <li style="letter-spacing: 0.3px; text-transform: uppercase;"><span
                                          style="font-weight: 400;">SAMSUNG accessorY (SAMSUNG CHARGER
                                          CABLE AND 3 PIN PLUG)</span>
                                       </li>
                                       <li style="letter-spacing: 0.3px; text-transform: uppercase;"><span
                                          style="font-weight: 400;">12 months warranty&nbsp;</span>
                                       </li>
                                       <li style="letter-spacing: 0.3px; text-transform: uppercase;"><span
                                          style="font-weight: 400;">SAME AS SAMSUNG RETAIL MOBILE
                                          PHONE, DIFFERENCE IS THE HUGE SAVINGS YOU GET FROM us</span>
                                       </li>
                                    </ul>
                                 </div>
                                 <div><span
                                    style="font-size: 16px; font-weight: 700; text-transform: uppercase;"><br></span>
                                 </div>
                                 <div><span
                                    style="font-size: 16px; font-weight: 700; text-transform: uppercase;">Highlights</span>
                                 </div>
                                 <ul>
                                    <li><span style="font-weight: normal;">ANDROID 10 OS</span></li>
                                    <li><span style="font-weight: normal;">unlocked and sim free</span></li>
                                    <li><span style="font-weight: normal;">4g ready for fastest network
                                       speeds around</span>
                                    </li>
                                    <li><span style="letter-spacing: 0.3px; font-weight: 400;">6.5" FULL HD
                                       plus TOUCHSCREEN display</span>
                                    </li>
                                    <li><span style="font-weight: normal;">ultra sharp triple 12 + 12 + 8
                                       megapixel rear camera 32 megapixel selfie camera&nbsp;</span>
                                    </li>
                                    <li><span style="font-weight: normal;">super fast qualcomm snapdragon
                                       865 octa core processor + 6GB of ram</span>
                                    </li>
                                    <li><span style="font-weight: normal;">128GB storage + 1tb micro sd card
                                       slot</span>
                                    </li>
                                 </ul>
                                 <div><span style="text-transform: uppercase;"><br></span></div>
                                 <div>
                                    <font size="3"><span style="text-transform: uppercase;"><b>additional
                                    reasons for peace of mind</b></span></font>
                                 </div>
                                 <div>
                                    <ul>
                                       <li><span style="font-weight: 400;">we run checks on the mobile
                                          phones to ensure the condition is accurately
                                          described</span>
                                       </li>
                                       <li><span style="font-weight: 400;">ensure the mobile phones have
                                          not been activated. all our brand new mobile phonEs carry 12
                                          months warranty</span>
                                       </li>
                                    </ul>
                                 </div>
                                 <div>
                                    <font size="3"><span
                                       style="text-transform: uppercase;"><b><br></b></span></font>
                                 </div>
                                 <div><span
                                    style="font-size: 16px; font-weight: 700; text-transform: uppercase;">DELIVERY</span>
                                 </div>
                                 <div>
                                    <ul>
                                       <li><span style="letter-spacing: 0.3px; font-weight: 400;">ROYAL
                                          MAIL SPECIAL DELIVERY. TRACKED AND SIGNED FOR. this means
                                          you will be able to track your mobile phone order</span>
                                       </li>
                                       <li><span style="letter-spacing: 0.3px; font-weight: 400;">NEXT DAY
                                          DELIVERY IF PLACED Before 2PM MONDAY - FRIDAY</span>
                                       </li>
                                    </ul>
                                    <div><span style="text-transform: uppercase;"><br></span></div>
                                 </div>
                                 <div>
                                    <font size="3"><span
                                       style="text-transform: uppercase;"><b>Returns</b></span></font>
                                 </div>
                                 <div>
                                    <ul>
                                       <li><span style="letter-spacing: 0.3px; font-weight: 400;">Item can
                                          be returned in a 30 day period as long as it is returned in
                                          the same condition as purchased.</span>
                                       </li>
                                       <li><span style="font-weight: 400;">if the item seal is opened and
                                          the reason for return is "change my mind" there will be a
                                          30% fee charged. once opened, we cannot sell as new
                                          (sealed)</span>
                                       </li>
                                       <li><span style="font-weight: 400;">IMEI checks carried out via
                                          security database to ensure the mobile phones have not been
                                          stolen and not blacklisted. imei is recorded as part of the
                                          transaction process for every apple moble phones</span>
                                       </li>
                                    </ul>
                                    <div><br></div>
                                 </div>
                                 <div><span style="text-transform: uppercase;"><b>any fraudulent activity
                                    including false claim of not being delivered or payment not
                                    authorised or tamper with seals will result in the phone being
                                    blacklisted (blocked). details of attempted fraud will passed to
                                    ebay, action fraud and the police</b></span>
                                 </div>
                                 <div><span style="text-transform: uppercase;"><b><br></b></span></div>
                                 <div><span style="text-transform: uppercase;"><b>for any new / recent
                                    account created we reserve the right to conduct checks on your
                                    details to avoid fraud</b></span>
                                 </div>
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-12">
                  </div>
                  <div class="dezign_prmotion">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-12">
                              <div class="promo_text">
                                 <img class="img-fluid"
                                    src="https://dezignbrain.com/ebay/innov8_quality/images/prmotion.png"
                                    alt="">
                              </div>
                              <div class="promo_text_res">
                                 <img class="img-fluid"
                                    src="https://dezignbrain.com/ebay/innov8_quality/images/prmotion_res.png"
                                    alt="">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div id="dezign_home_banner">
                     <div class="banner_section">
                        <a href="#" target="_blank"> <img
                           src="https://dezignbrain.com/ebay/innov8_quality/images/banner.png" alt=""> </a>
                     </div>
                     <div class="banner_section_res">
                        <a href="#" target="_blank"> <img
                           src="https://dezignbrain.com/ebay/innov8_quality/images/banner_res.png" alt="">
                        </a>
                     </div>
                  </div>
                  <div class="conn_text">
                     <p>About Us</p>
                     <img src="https://dezignbrain.com/ebay/innov8_quality/images/conn_title.png" alt="">
                  </div>
                  <div class="warum_section">
                     <div class="container">
                        <div class="row ">
                           <div class="col-md-6">
                              <div class="warum_text_02">
                                 <p>Founded in 2015, INNOV8_QUALITYTECH is independently owned. We work with
                                    over 50 supplier partners and access leading Mobile and IT brands such
                                    as Apple, Samsung, HP and many others 
                                 </p>
                                 <p>We help our customers in delivering competitive pricing and the
                                    best-in-class service. We are known for our transparency, integrity, and
                                    dedicated service 
                                 </p>
                                 <p> INNOV8_QUALITYTECH makes it quick and easy for everyone to get the
                                    products and solutions they need. Our exceptional delivery service,
                                    superior customer service, competitive prices and wide range of products
                                    provides an easy and innovative experience for customers. 
                                 </p>
                                 <p>Everything we do is by thinking differently and based upon our values of
                                    keeping it simple, being remarkable and being personable.
                                 </p>
                                 <div class="title"><a
                                    href="#"><img
                                    src="https://dezignbrain.com/ebay/innov8_quality/images/msg_icon.png"
                                    alt="">eBay Message</a></div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="about_img"><img
                                 src="https://dezignbrain.com/ebay/innov8_quality/images/cate_01.png"
                                 alt=""></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--Cate //start-->
                  <div class="feature_text">
                     <div class="container">
                        <div class="fea_text">
                           <h1>Featured Categories</h1>
                           <img src="https://dezignbrain.com/ebay/innov8_quality/images/feat_line.png" alt="">
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="cate_box ">
                                 <div class="feature_box">
                                    <a target="_blank"
                                       href="#"><img
                                       src="https://dezignbrain.com/ebay/innov8_quality/images/cate_02.png"
                                       alt=""></a>
                                 </div>
                                 <div class="fat_text">
                                    <h1>Mobile &amp; Smart Phones <span> &gt;&gt; </span> </h1>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="cate_box ">
                                 <div class="feature_box">
                                    <a target="_blank"
                                       href="#"><img
                                       src="https://dezignbrain.com/ebay/innov8_quality/images/cate_03.png"
                                       alt=""></a>
                                 </div>
                                 <div class="fat_text">
                                    <h1>Mobile Phone Accessories <span>&gt;&gt;</span></h1>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="cate_box ">
                                 <div class="feature_box">
                                    <a target="_blank"
                                       href="#"><img
                                       src="https://dezignbrain.com/ebay/innov8_quality/images/cate_04.png"
                                       alt=""></a>
                                 </div>
                                 <div class="fat_text">
                                    <div class="feat_text">
                                       <h1>Laptop Accessories <span> &gt;&gt; </span></h1>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="cate_box ">
                                 <div class="feature_box">
                                    <a target="_blank"
                                       href="#"><img
                                       src="https://dezignbrain.com/ebay/innov8_quality/images/cate_05.png"
                                       alt=""></a>
                                 </div>
                                 <div class="fat_text">
                                    <div class="feat_text">
                                       <h1>Portable Audio Equipments<span> &gt;&gt; </span></h1>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="browse_btn"><a href="#">Explore
                           All Categories </a>
                        </div>
                     </div>
                  </div>
                  <!--Cate //end-->
                  <!--Tabs //start-->
                  <div class="sec_tab_row">
                     <div class="tabe_section">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="main_payment first_s">
                                    <div class="payment_text">
                                       <h1>Payment</h1>
                                    </div>
                                    <div class="inner_text ">
                                       <p>We accept PayPal, and all major credit cards and debit cards.
                                          Please message us for details if needed.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="tabe_section">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="scroll_wraper">
                                    <div class="main_payment second_s">
                                       <div class="payment_text">
                                          <h1>Shipping</h1>
                                       </div>
                                       <div class="inner_text inner_text_1">
                                          <ul>
                                             <li> Handling/despatch time = 1 working day. Same day if
                                                ordered before 2pm 
                                             </li>
                                             <li> Economy delivery = FREE </li>
                                             <li> Express delivery = £4.99</li>
                                             <li> We deliver within the UK only</li>
                                             <li> We don't post to Channel Islands or Internationally
                                             </li>
                                             <li> Collections are not available</li>
                                          </ul>
                                          <p><strong>Economy delivery - Free</strong><br>Despatch from
                                             warehouse: 1 working day* - Orders despatched in 24 hours of
                                             placing order. Customers receive an email to confirm
                                             despatch. Same day if ordered before 2pm
                                             <br><br>
                                             Postal service/courier delivery: 2 - 3 working days* after
                                             despatch - delivered by DPD or Royal Mail 48 **
                                             <br><br>
                                             Courier deliveries are Monday to Friday, 9am to 5pm;
                                             excluding bank holidays.
                                             <br><br>
                                             *Working days are Monday to Friday, 9am to 5pm; excluding
                                             bank holidays.
                                             <br><br>
                                             **Courier selection is standard and will depend upon value
                                             and/or weight/dimensions of the product.
                                          </p>
                                          <p><strong>Express delivery - £9.99</strong><br>Despatch from
                                             warehouse: 1 working day* - Orders despatched in 24 hours of
                                             placing order. Customers receive an email to confirm
                                             despatch. Same day if ordered before 2pm
                                             <br><br>
                                             Courier delivery: Next working day* after despatch -
                                             delivered by DPD or Royal Mail
                                             <br><br>
                                             Cost: £9.99
                                             <br><br>
                                             Courier deliveries are Monday to Friday, 9am to 5pm;
                                             excluding bank holidays.
                                             <br><br>
                                             *Working days are Monday to Friday, 9am to 5pm; excluding
                                             bank holidays. Orders placed after 14.00hrs will be
                                             despatched the following working day.
                                          </p>
                                          <p><strong>Delivery costs</strong><br>
                                             Cost of delivery depends on the selection made at checkout
                                             <br><br>
                                             Economy delivery: Free
                                             <br><br>
                                             Express delivery: £9.99
                                             <br><br>
                                          </p>
                                          <p><strong>We deliver within the UK only. This includes Northern
                                             Ireland and the Isle of Man. We do not accept orders to
                                             PO Box addresses and International orders, including
                                             those from the Republic of Ireland, the Scottish
                                             Highlands and the Channel Islands.</strong>
                                          </p>
                                          <p><strong> Contact Us</strong></p>
                                          <p><strong>Can I change delivery address or method?</strong><br>
                                             Customers are strongly advised to ensure the delivery name
                                             and address details are complete and correct at the point of
                                             purchase.<br><br>
                                             <strong>PLEASE NOTE:</strong> We are unable to change
                                             delivery addresses after purchase.<br><br>
                                             Collections direct from our warehouse are not available.
                                          </p>
                                          <p><strong>What happens if I'm not home when delivery is
                                             attempted?</strong>
                                          </p>
                                          <p>If you are not home to sign for delivery, the courier will
                                             leave a card to advise that delivery has been attempted. To
                                             re-arrange delivery, please follow the instructions on the
                                             card.
                                          </p>
                                          <p>Christmas, Easter &amp; Bank Holiday deliveries</p>
                                          <p>These are busy periods for retailers and the postal services.
                                             We do everything we can to meet the delivery times specified
                                             in this section, but please allow 7-10 working days for
                                             despatch and delivery during these periods.
                                          </p>
                                          <p><strong>Please note:</strong> We do everything we can to meet
                                             the delivery times specified in this section. However, these
                                             cannot be guaranteed, as occasionally delivery times may be
                                             affected by factors beyond our control e.g. adverse weather
                                             conditions, an incomplete delivery address. We will inform
                                             you if we become aware of an issue with delivery of your
                                             order, and do everything that we can to get your order to
                                             you.
                                          </p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="tabe_section">
                           <div class="container">
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="main_payment third_s">
                                       <div class="payment_text">
                                          <h1>Returns</h1>
                                       </div>
                                       <div class="inner_text inner_text_1">
                                          <ul>
                                             <li>
                                                Returns cost is covered by the customer using the same
                                                delivery method
                                                <ul class="pnt">
                                                   <li>Goods over £100 needs to be returned via
                                                      Tracking Service using Royal Mail or DPD
                                                   </li>
                                                   <li>Goods under £100 needs to be returned via Royal
                                                      Mail First Class 
                                                   </li>
                                                   <li>Proof of return needs to be recorded and
                                                      provided including tracking number 
                                                   </li>
                                                </ul>
                                             </li>
                                             <li> Refunds are paid once your product is back with us</li>
                                          </ul>
                                          <p><strong>Warranties</strong></p>
                                          <ul>
                                             <li> Brand new products carry the manufacturers standard
                                                warranty 
                                             </li>
                                             <li> Refurbished products carry 12 months warranty </li>
                                          </ul>
                                          <p><strong>Cancellations / Non faulty returns </strong></p>
                                          <ul>
                                             <li>If you change your mind, and wish to return your order,
                                                you must do so within 30 calendar days of the date of
                                                delivery. 
                                             </li>
                                             <li>Unwanted returns are not accepted after this period.
                                             </li>
                                             <li>
                                                To qualify for a refund, unwanted products must be:
                                                <ul class="pnt">
                                                   <li>unused, without installation or data input</li>
                                                   <li>in the same condition as supplied to you</li>
                                                   <li>complete with any accessories and free gifts
                                                      offered with it 
                                                   </li>
                                                   <li>with the original box and packaging </li>
                                                </ul>
                                             </li>
                                             <li>Unwanted products cannot be accepted after 30 days if
                                                any of the above criteria are not met.
                                             </li>
                                          </ul>
                                          <p><strong>The right of cancellation does not apply in the
                                             following circumstances:</strong>
                                          </p>
                                          <ul>
                                             <li>On headphones, where the seal on the packaging is broken
                                             </li>
                                             <li>If a product is returned as unwanted, but the above
                                                conditions are not met, no costs will be refunded.
                                             </li>
                                             <li>Serial numbers of all parts and products will be
                                                verified against the returned item/s. If the serial
                                                number/s of the returned item/s are found not to
                                                correspond with the original serial number/s, no costs
                                                will be refunded.
                                             </li>
                                             <li>Any form of investigation, intervention or repair
                                                undertaken on your purchase by any party other than
                                                INNOV8 will result in the invalidation of the applicable
                                                product warranty, and a return will not be accepted and
                                                no costs will be refunded.
                                             </li>
                                             <li>All warranties are non-transferrable.</li>
                                          </ul>
                                          <p><strong>How to return</strong></p>
                                          <ul>
                                             <li>
                                                Returns cost is covered by the customer using the same
                                                delivery method from INNOV8
                                                <ul class="pnt">
                                                   <li>Goods over £100 needs to be returned via
                                                      Tracking Service using Royal Mail or DPD 
                                                   </li>
                                                   <li>Goods under £100 needs to be returned via Royal
                                                      Mail First Class 
                                                   </li>
                                                   <li>Proof of return needs to be recorded and
                                                      provided including tracking number 
                                                   </li>
                                                </ul>
                                             </li>
                                             <li>For all exchange &amp; returns queries please contact us
                                                via the eBay Message Centre
                                             </li>
                                             <li>Returns will be processed within 24 hours once received
                                                at our warehouse (excluding weekends and bank holidays).
                                             </li>
                                             <li>We'll send you an email as soon as we've completed your
                                                return, letting you know your parcel has been received
                                                &amp; a refund or exchange has been processed.
                                             </li>
                                             <li>Refunds will be issued to the payment method you used to
                                                place your original order. This typically takes 5
                                                working days in the UK, depending on your payment method
                                                issuer.
                                             </li>
                                          </ul>
                                          <p><strong>Faulty products</strong></p>
                                          <ul>
                                             <li>INNOV8 eBay store provides a 12 month warranty on ALL
                                                refurbished small box products, applicable from the date
                                                of payment.
                                             </li>
                                             <li>If your item develops a fault within the warranty
                                                period, we may offer an exchange for the same, or a
                                                similar product, depending on our current stock. If we
                                                don't have stock available for an exchange, a full
                                                refund will be processed once the item has been returned
                                                to the eBay Store.
                                             </li>
                                             <li>To qualify for a refund the product must be:</li>
                                             <ul class="pnt">
                                                <li>in the same condition as supplied to you</li>
                                                <li>complete with any accessories and free gifts offered
                                                   with it
                                                </li>
                                                <li>if possible, with the original box and packaging
                                                </li>
                                             </ul>
                                             <li>The above warranties do not cover non-faulty products,
                                                nor issues caused by accident, neglect, misuse or normal
                                                wear and tear.
                                             </li>
                                             <li>If a product is returned as faulty but found not to have
                                                a manufacturing fault or if a fault has developed as a
                                                result of accident, neglect or misuse, no costs will be
                                                refunded.
                                             </li>
                                             <li>Please note - we do not stock spare parts, and are
                                                unable to send replacement parts
                                             </li>
                                             <li>Serial numbers of all parts and products will be
                                                verified against the returned item/s. If the serial
                                                number/s of the returned item/s are found not to
                                                correspond with the original serial number/s, no costs
                                                will be refunded.
                                             </li>
                                             <li>Any form of investigation, intervention or repair
                                                undertaken on your purchase by any party other than
                                                INNOV8 will result in the invalidation of the applicable
                                                product warranty, and a return will not be accepted and
                                                no costs will be refunded.
                                             </li>
                                          </ul>
                                          <p><strong>Refunds</strong></p>
                                          <ul>
                                             <li>Your Paypal account will be refunded once we have
                                                received your return.
                                             </li>
                                             <li>In all cases, goods must be received before refunds are
                                                given.
                                             </li>
                                             <li>We'll email you once the item is received by our
                                                warehouse.
                                             </li>
                                             <li>You can expect your refund to be processed within 48
                                                hours of us confirming we have received the item. You
                                                will receive an email confirming your return has been
                                                received and a refund has been processed.
                                             </li>
                                             <li>
                                                Express delivery costs will only be refunded if you
                                                notify us within 30 calendar days of delivery, and :
                                                <ul class="pnt">
                                                   <li>you received an incorrect item</li>
                                                   <li>you received a damaged item</li>
                                                   <li>you received a faulty item</li>
                                                </ul>
                                             </li>
                                             <li>Please note that it can take up to 5 days for a refund
                                                to appear in your PayPal account.
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--Tabs //end-->
                  <div class="guaranteed_wapper">
                     <div class="container">
                        <div class="row">
                           <div class="col-12">
                              <div class="guaranteed_title">
                                 <h1>Why customer love us?</h1>
                                 <p>100% Customer Satisfaction Guaranteed</p>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-3">
                              <div class="guaranteed_box">
                                 <div class="start"><img
                                    src="https://dezignbrain.com/ebay/innov8_quality/images/start.png"
                                    alt=""></div>
                                 <div class="guaranteed_text">"As described, arrived on
                                    time, great seller"
                                 </div>
                                 <div class="guaranteed_name">Buyer: B***E (125)</div>
                                 <div class="ebay_logo"><img
                                    src="https://dezignbrain.com/ebay/innov8_quality/images/ebay_logo.png"
                                    alt=""></div>
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="guaranteed_box">
                                 <div class="start"><img
                                    src="https://dezignbrain.com/ebay/innov8_quality/images/start.png"
                                    alt=""></div>
                                 <div class="guaranteed_text">"Item arrived quickly, no issues, will trade
                                    again
                                    for sure"
                                 </div>
                                 <div class="guaranteed_name">Buyer: C***D (private)</div>
                                 <div class="ebay_logo"><img
                                    src="https://dezignbrain.com/ebay/innov8_quality/images/ebay_logo.png"
                                    alt=""></div>
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="guaranteed_box">
                                 <div class="start"><img
                                    src="https://dezignbrain.com/ebay/innov8_quality/images/start.png"
                                    alt=""></div>
                                 <div class="guaranteed_text">"Happy, good postage
                                    deal with anytime"
                                 </div>
                                 <div class="guaranteed_name">Buyer: I***P (69)</div>
                                 <div class="ebay_logo"><img
                                    src="https://dezignbrain.com/ebay/innov8_quality/images/ebay_logo.png"
                                    alt=""></div>
                              </div>
                           </div>
                           <div class="col-md-3">
                              <div class="guaranteed_box">
                                 <div class="start"><img
                                    src="https://dezignbrain.com/ebay/innov8_quality/images/start.png"
                                    alt=""></div>
                                 <div class="guaranteed_text">"A hassle-free transaction, fast delivery.
                                    Would deal with again"
                                 </div>
                                 <div class="guaranteed_name">Buyer: B***E (125)</div>
                                 <div class="ebay_logo"><img
                                    src="https://dezignbrain.com/ebay/innov8_quality/images/ebay_logo.png"
                                    alt=""></div>
                              </div>
                           </div>
                        </div>
                        <div class="view_btn"><a class="btn01" target="_blank"
                           href="#">View
                           All Reviews <img
                              src="https://dezignbrain.com/ebay/innov8_quality/images/arrow_01.png"
                              alt=""> </a>
                        </div>
                     </div>
                  </div>
                  <footer>
                     <div class="store_footer_wapper">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-3">
                                 <div class="footer_logo"> <a
                                    href="#" target="_blank">
                                    <img src="https://dezignbrain.com/ebay/innov8_quality/images/footer_logo.png"
                                       class=""> </a> 
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="footer_block footer_block01">
                                    <div class="footer_block_titel">Useful Links</div>
                                    <div class="footer_menu">
                                       <ul>
                                          <li> <a href="#"
                                             target="_blank">Shop Home</a> </li>
                                          <li> <a href="#"
                                             target="_blank">Items For Sale</a> </li>
                                          <li> <a href="#"
                                             target="_blank">Feedback</a> </li>
                                          <li> <a href="#"
                                             target="_blank">Contact Us</a> </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="footer_block footer_block03">
                                    <div class="footer_block_titel">Payment Options</div>
                                    <div class=""> <img
                                       src="https://dezignbrain.com/ebay/innov8_quality/images/footer_payment.png"
                                       class="img-fluid"> </div>
                                 </div>
                              </div>
                              <div class="col-md-3">
                                 <div class="footer_block footer_block02">
                                    <div class="footer_payment"> <img
                                       src="https://dezignbrain.com/ebay/innov8_quality/images/shop_confidence.png"
                                       class="img-fluid"> </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="footer_bottom">
                        <div class="container">
                           <div class="row align-items-center">
                              <div class="col-md-8">
                                 <div class="dezign_copyright"> © Copyright 2023, <span>INNOV8
                                    Quality.</span> All rights reserved. 
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="dezign_by"> Made with <img
                                    src="https://dezignbrain.com/ebay/innov8_quality/images/dezign_by.png">
                                    by <span>eBayshopdesign.org</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </footer>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>