<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="style.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="title" content="PVC Banners from Only £4!">
<meta name="keywords" content="{{keywords}}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
<div class="main template" style="">
   <div class="header" style="font-family: Arial; font-size: 14pt;">
      <div class="wrapper">
         <a class="logo" href="" target="_blank"><img src="https://meotech.org/ebay/moynul66/dzZD6ZP.png"></a>&nbsp;
         <div class="head_right">
            <ul>
               <li>Fast Shipping</li>
               <li>Secure Payment</li>
               <li>Excellent Service</li>
            </ul>
         </div>
      </div>
      <div class="gif_img"><img alt="ebay custom template" src="https://wearephoenixteam.com/ebay/free-templates/images/temp2/gif-img.gif"></div>
   </div>
   <div class="title_bar" style="font-family: Arial; font-size: 14pt;">
      <div class="wrapper" style="">
         <h2 style="">For Soundcore A20i Headphone Case Silicone Case Drop-proof and Dust-proof Case</h2>
      </div>
   </div>
   <div class="template_div" style="">
      <div class="wrapper" style="">
         <div class="template_left" style="font-family: Arial; font-size: 14pt;">
            <div class="template_left_row1">
               <img alt="PVC Banners from Only £4!" src="https://i.postimg.cc/YS90S4zr/HIGH-QUALITY.png">
            </div>
            <img alt="PVC Banners from Only £4!" src="https://i.postimg.cc/kXphHzYT/FAST-SHIPPING.png">
         </div>
         <div class="template_right" style="">
            <div class="template_right_row1" style="">
               <div class="template_right_col1" style="font-family: Arial; font-size: 14pt;">
                  <div class="gallery_list">
                     <div class="white-box"></div>
                     <ul class="thumbnails">
                        <li>
                           <input name="select" id="image1" type="radio" checked="">
                           <div class="item-hugger">
                              <img class="thumb-image" alt="PVC Banners from Only £4!" src="img/wireless 2.webp">
                              <label for="image1"></label>
                           </div>
                           <div class="content2">
                           	<img alt="PVC Banners from Only £4!" src="img/wireless 2.webp"></div>
                        </li>
                        <li>
                           <input name="select" id="image2" type="radio">
                           <div class="item-hugger">
                              <img class="thumb-image" alt="PVC Banners from Only £4!" src="img/cx plus true wireless 2.webp">
                              <label for="image2"></label>
                           </div>
                           <div class="content2"><img alt="PVC Banners from Only £4!" src="img/cx plus true wireless 2.webp"></div>
                        </li>
                        <li>
                           <input name="select" id="image3" type="radio">
                           <div class="item-hugger">
                              <img class="thumb-image" alt="PVC Banners from Only £4!" src="img/cx true wireless k.webp">
                              <label for="image3"></label>
                           </div>
                           <div class="content2"><img alt="PVC Banners from Only £4!" src="img/cx true wireless k.webp"></div>
                        </li>
                        <li>
                           <input name="select" id="image4" type="radio">
                           <div class="item-hugger">
                              <img class="thumb-image" alt="PVC Banners from Only £4!" src="img/feature_split_400bt_mood.webp">
                              <label for="image4"></label>
                           </div>
                           <div class="content2"><img alt="PVC Banners from Only £4!" src="img/feature_split_400bt_mood.webp"></div>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="template_right_col2" style="">
                  <h4 style="font-family: Arial; font-size: 14pt;">Product Description</h4>
                  <div typeof="Product" vocab="https://schema.org/" style="">
                     <span property="description" style="">
                        <p style=""><font color="#0062b0" face="Verdana" size="2"><b>Enter your desired name and age to customise your Personalised Selfie Frame.</b><b>This Personalised Selfie measures A1 (59.4 x 84.1cm) in size.</b><b>This Selfie Frame is Printed on 5mm thick Foamex.</b><b>This Personalised Selfie Frame is Perfect for all Occasions.</b><b><br></b></font></p>
                        <div style="font-family: Arial; font-size: 14pt;">
                           <p><strong>Ordering Instructions</strong></p>
                           <p class="p7" style="margin-bottom: 0px; line-height: normal; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-family: Verdana;">When ordering please mention personalisation details in the personalisation box. We will then dispatch your order within 1 working day. Please note if you do not mention Name and Age in the personalisation box, we will not be able to print your selfie frame till we get the details which will then cause a delay.</p>
                           <p class="p7" style="margin-bottom: 0px; line-height: normal; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-family: Verdana;"><br></p>
                          <p class="p7" style="margin-bottom: 0px; line-height: normal; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-family: Verdana;"><br></p>
                           <div>
                             
                        </div>
                        <p style="font-family: Arial; font-size: medium;"><strong><br></strong></p>
                          <ul style="font-family: Arial; font-size: 14pt;">
                           </ul>
                        <p style="font-family: Arial; font-size: medium;"><br></p>
                     </span>
                  </div>
                  <ul style="font-family: Arial; font-size: 14pt;"></ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- ---------------------------------------------------HEading seciton-------------------------------------------->
    
   <!-- ----------------------------------------------Sections---------------------------------------------- -->
   <div class="tab_container2 btm" style="font-family: Arial; font-size: 14pt;">
      <div class="wrapper">
      	
    	<h1 class="tab-header">Feature Items</h1>
      <div style="clear: both;"></div>
         <div class="tabs">
            <div class="hks-tems" >
             <a href="#">
             	<img width="100%" src="img/1.jpg">
             <p  class="link-buy">Air Phone</p>
             </a>
            </div>
            
            <div class="hks-tems" >
            	<a href="#">
             	<img width="100%" src="img/char.jpg">
             <p  class="link-buy"> Mobile Charger</p>
             </a>
            </div>
            
            <div class="hks-tems" >
            	<a href="#">
             	<img width="100%" src="img/download.jpg">
             <p  class="link-buy">Wireless Charger</p>
             </a>
            </div>
            
            <div class="tab-las hks-tems">
            	<a href="#">
             	<img width="100%" src="img/images.png">
             <p  class="link-buy">Hands Free</p>
             </a>
            </div>
            
         </div>
      </div>
   </div>


   <div class="tab_container2 " style="font-family: Arial; font-size: 14pt;">
      <div class="wrapper">
         <div class="tabs">
            <div class="hks-tems" >
             <a href="#">
             	<img width="100%" src="img/bag.jpg">
             <p  class="link-buy">College Bag</p>
             </a>
            </div>
         
            <div class="hks-tems" >
            	<a href="#">
             	<img width="100%" src="img/images (4).jpg">
             <p  class="link-buy">Mouse</p>
             </a>
            </div>
            
            <div class="hks-tems" >
            	<a href="#">
             	<img width="100%" src="img/48da3c62-8e83-4c60-8764-aa9522abfe73.9cdefb401032aabfb397361b3b5ad2d5.jpeg">
             <p  class="link-buy">Haircut Machine</p>
             </a>
            </div>
            
            <div class="tab-las hks-tems">
            	<a href="#">
                  <img width="100%" src="img/muzammal.jpg">
             <p  class="link-buy">Wireless Charger</p>
             </a>
            </div>
            
         </div>
         <!-- -------------------------------------------Sections end---------------------------------------------- --> 
   <div class="tab_container" style="font-family: Arial; font-size: 14pt; margin-top: 40px;">
      <div class="wrapper">
         <div class="tabs">
            <input name="tabs" id="tabone" type="radio" checked="checked">
            <label for="tabone">DELIVERY</label>
            <div class="tab">
               <p>Items are dispatched within one working day of receiving cleared payment as long as we have personalisation details.</p>
               <p>Delivery times may vary, especially during peak periods</p>
            </div>
            <input name="tabs" id="tabtwo" type="radio">
            <div class="tab"></div>
            <input name="tabs" id="tabthree" type="radio">
            <label for="tabthree">PAYMENT</label>
            <div class="tab">
               <p>Our preferred method of payment is via PayPal.</p>
            </div>
            <input name="tabs" id="tabfour" type="radio">
            <label for="tabfour">RETURN</label>
            <div class="tab">
               <div class="tab" style="padding-top: 20px; padding-bottom: 20px; width: 1200px; max-height: none; visibility: visible; display: block; font-size: 18.6667px;">
                  <p>As it is a personalised item refunds are not accepted - Please ensure all personalisation details are correct as we will not accept responsibility for wrong details being sent.</p>
                  <div><br></div>
               </div>
            </div>
            <input name="tabs" id="tabfive" type="radio">
            <div class="tab"></div>
            <input name="tabs" id="tabsix" type="radio">
            <div class="tab"></div>
            <input name="tabs" id="tabseven" type="radio">
            <label for="tabseven">CONTACT US</label>
            <div class="tab">
               <p>The best way to contact us is through the eBay messaging system.&nbsp;</p>
               <p>Postal Address is:&nbsp;</p>
               <p>1c Regent Street&nbsp;</p>
               <p>Rochdale&nbsp;</p>
               <p>&nbsp;OL12 0HQ.</p>
            </div>
         </div>
      </div>
   </div>
   <div class="footer2" style="font-family: Arial; font-size: 14pt;">
      <div class="wrapper">
         <table width="100%" align="center" valign="center">
            <tbody>
               <tr>
                  <td align="left">
                     <p>Copyright © | All Rights Reserved</p>
                  </td>
                  <td align="right"><a><img title="source: imgur.com" src="https://meotech.org/ebay/moynul66/wZyUybY.png"></a></td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>