<link href="./css/BootStrap.css" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
   type="text/css">
<link rel="stylesheet" href="./css/styles.css" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Language" content="en">
<div class="listing_background">
   <div>
      <div class="maindv">
         <div class="maindvin">
            <div class="maindvinin">
               <div class="topbanner"> <img src="images/top-banner.jpg" width="100%"> </div>
               <div class="menubar">
                  <nav>
                     <label for="drop" class="toggle">Menü</label><input type="checkbox" id="drop" />
                     <ul class="menu">
                        <li><a target="_blank" href="https://www.ebay.de/str/tonidiscounterdeutschland"
                              class="homea">Startseite</a></li>
                        <li><a target="_blank" href="https://www.ebay.de/str/tonidiscounterdeutschland?_tab=about">Über
                              uns</a></li>
                        <li><a target="_blank"
                              href="https://www.ebay.de/str/tonidiscounterdeutschland?_tab=feedback">Bewertungen</a>
                        </li>
                        <li><a target="_blank"
                              href="https://www.ebay.de/cnt/intermediatedFAQ?requested=tonidiscounter-de">Kontakt</a>
                        </li>
                     </ul>

                  </nav>
               </div>
               <!--CONTENT S-->
               <div class="content">
                  <div class="left_bar">
                     <div class="content_wrap content_pages">
                        <div class="content_title_outer">
                           <div class="content_title pages_title">
                              <p>Shop-Kategorien</p>
                           </div>
                        </div>
                        <div class="left_content">
                           <ul class="ula">
                              <li class="lia"><a target="_blank"
                                    href="https://www.ebay.de/str/tonidiscounterdeutschland/Uhren-Schmuck/_i.html?store_cat=52036663012"
                                    class="aa">Uhren &
                                    Schmuck</a></li>
                              <li class="lia"><a target="_blank"
                                    href="https://www.ebay.de/str/tonidiscounterdeutschland/Sonstiges/_i.html?store_cat=1"
                                    class="aa">Sonstiges</a></li>
                              <li class="lia"><a target="_blank"
                                    href="https://www.ebay.de/str/tonidiscounterdeutschland/Herrenuhren/_i.html?store_cat=52042718012"
                                    class="aa">Herrenuhren</a></li>
                              <li class="lia"><a target="_blank"
                                    href="http://ebay.de/str/tonidiscounterdeutschland/Smartwatches/_i.html?store_cat=52042649012"
                                    class="aa">Smartwatches</a></li>
                              <li class="lia"><a target="_blank"
                                    href="https://www.ebay.de/str/tonidiscounterdeutschland/Kinderuhren/_i.html?store_cat=52313829012"
                                    class="aa">Kinderuhren</a></li>
                              <li class="lia"><a target="_blank"
                                    href="https://www.ebay.de/str/tonidiscounterdeutschland/Uhren-Teile-Zubehor/_i.html?store_cat=52042647012"
                                    class="aa">Uhren, -Teile & -Zubehör</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="payment"></div>
                     <div class="left1"></div>
                  </div>
                  <!--MIDDLE S-->
                  <div class="middle_bar">
                     <!--IMAGE GALLERY START-->
                     <div id="gallery_div">
                        <div class="gallery_div_in">
                           <input name="main_image" id="main_image1" autocomplete="off" checked="checked" type="radio">
                           <input name="main_image" id="main_image2" autocomplete="off" type="radio"> <input
                              name="main_image" id="main_image3" autocomplete="off" type="radio"> <input
                              name="main_image" id="main_image4" autocomplete="off" type="radio"> <input
                              name="main_image" id="main_image5" autocomplete="off" type="radio"> <input
                              name="main_image" id="main_image6" autocomplete="off" type="radio"> <input
                              name="main_image" id="main_image7" autocomplete="off" type="radio">
                           <div class="img_sec1">
                              <div id="content1" class="img-container">
                                 <input id="popup-1" autocomplete="off" type="checkbox">
                                 <label class="lbl lbl_box" for="popup-1">
                                    <div class="img-zoom"><img src="[TagBot?photo1?Photo no.1 =https://][TagBot?photo1]"
                                          alt=""></div>
                                 </label>
                              </div>
                              <div id="content2" class="img-container">
                                 <input id="popup-2" type="checkbox">
                                 <label class="lbl lbl_box" for="popup-2" autocomplete="off">
                                    <div class="img-zoom"><img src="[TagBot?photo1?Photo no.2 =https://][TagBot?photo1]"
                                          alt=""></div>
                                 </label>
                              </div>
                              <div id="content3" class="img-container">
                                 <input id="popup-3" type="checkbox">
                                 <label class="lbl lbl_box" for="popup-3" autocomplete="off">
                                    <div class="img-zoom"><img src="[TagBot?photo1?Photo no.3 =https://][TagBot?photo1]"
                                          alt=""></div>
                                 </label>
                              </div>
                              <div id="content4" class="img-container">
                                 <input id="popup-4" type="checkbox">
                                 <label class="lbl lbl_box" for="popup-4" autocomplete="off">
                                    <div class="img-zoom"><img src="[TagBot?photo1?Photo no.4 =https://][TagBot?photo1]"
                                          alt=""></div>
                                 </label>
                              </div>
                              <div id="content5" class="img-container">
                                 <input id="popup-5" type="checkbox">
                                 <label class="lbl lbl_box" for="popup-5" autocomplete="off">
                                    <div class="img-zoom"><img src="[TagBot?photo1?Photo no.5 =https://][TagBot?photo1]"
                                          alt=""></div>
                                 </label>
                              </div>
                              <div id="content6" class="img-container">
                                 <input id="popup-6" type="checkbox">
                                 <label class="lbl lbl_box" for="popup-6" autocomplete="off">
                                    <div class="img-zoom"><img src="[TagBot?photo1?Photo no.6 =https://][TagBot?photo1]"
                                          alt=""></div>
                                 </label>
                              </div>
                           </div>
                           <div class="img_sec2">
                              <label class="lbl" for="main_image1">
                                 <div class="box"><img src="[TagBot?photo1?Photo no.1 =https://][TagBot?photo1]" alt="">
                                 </div>
                              </label>
                              <label class="lbl" for="main_image2">
                                 <div class="box"><img src="[TagBot?photo1?Photo no.2 =https://][TagBot?photo1]" alt="">
                                 </div>
                              </label>
                              <label class="lbl" for="main_image3">
                                 <div class="box"><img src="[TagBot?photo1?Photo no.3 =https://][TagBot?photo1]" alt="">
                                 </div>
                              </label>
                              <label class="lbl" for="main_image4">
                                 <div class="box"><img src="[TagBot?photo1?Photo no.4 =https://][TagBot?photo1]" alt="">
                                 </div>
                              </label>
                              <label class="lbl" for="main_image5">
                                 <div class="box"><img src="[TagBot?photo1?Photo no.5 =https://][TagBot?photo1]" alt="">
                                 </div>
                              </label>
                              <label class="lbl" for="main_image6">
                                 <div class="box"><img src="[TagBot?photo1?Photo no.6 =https://][TagBot?photo1]" alt="">
                                 </div>
                              </label>
                           </div>
                        </div>
                     </div>
                     <!--IMAGE GALLERY END--> <!--ITEM DESCRIPTION S-->
                     <div class="content_wrap  content_description">
                        <div class="content_title_outer">
                           <div class="content_title description_title">
                              <p>Artikelbeschreibung</p>

                           </div>
                        </div>
                        <div class="description_content">
                           <div class="dv1">
                              <h2>[TAGBOT- ][TAGBOT TITLE =]</h2>
                              <div class="dv2">
                                 <div id="des_content_nw">
                                    <div class="product-details">
                                       <p>[TAGBOT- ][TAGBOT DESCRIPTION =]</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="listing_content">
         <div id="listingarea">
            <div class="listing-tab">
               <main>
                  <input id="tab1" type="radio" name="tabs" checked="">
                  <label for="tab1"><span>Über uns</span></label>

                  <input id="tab2" type="radio" name="tabs">
                  <label for="tab2"><span>Zahlung</span></label>

                  <input id="tab3" type="radio" name="tabs">
                  <label for="tab3"><span>Versand</span></label>

                  <input id="tab4" type="radio" name="tabs">
                  <label for="tab4"><span>Rückgaberecht</span></label>

                  <input id="tab5" type="radio" name="tabs">
                  <label for="tab5">
                     <a href="https://www.ebay.de/str/tonidiscounterdeutschland?_tab=feedback" target="_blank">
                        <span>Bewertungen</span></a></label>

                  <section id="content1">
                     <div>
                        <h3>Über uns</h3>
                        <p>Willkommen in unserem eBay-Shop! Hier erfahren Sie mehr über uns und unser Angebot:</p>

                        <p><b>Sortiment:</b> Wir bieten eine sorgfältig ausgewählte Kollektion von klassischen,
                           eleganten Armbanduhren bis hin zu modernen Smartwatches.</p>

                        <p><b>Auswahl & Übersicht:</b> Unser Sortiment ist klar nach Marke, Stil und Preiskategorie
                           geordnet, um Ihnen die Auswahl zu erleichtern.</p>

                        <p><b>Produktinformationen:</b> Detaillierte Beschreibungen, Kundenbewertungen und hochwertige
                           Produktbilder unterstützen Sie bei Ihrer Kaufentscheidung.</p>

                        <p><b>Kundenvorteile:</b> Sichere Zahlungsmethoden, schneller Versand und flexible
                           Rückgabemöglichkeiten gehören zu unserem Standard.</p>

                        <p><b>Verkäuferdetails:</b>
                           Standort: Deutschland<br>
                           Registriert seit: 19. Mai 2025<br>
                           Verkäufername: tonidiscounter-de<br>
                           Antwortzeit: Innerhalb von 12 Stunden
                        </p>

                        <p><b>Unternehmensinformationen:</b>
                           Firmenname: Sultan Khan<br>
                           Vorname: Sultan<br>
                           Nachname: Khan<br>
                           Adresse: Gernsheimer Str. 142, 64319 Pfungstadt, Deutschland<br>
                           Telefon: +49 17663297526<br>
                           E-Mail: info@tonidiscounter.de<br>
                           USt-IdNr.: DE 350085355
                        </p>

                        <p>Wir freuen uns, Ihnen hochwertige Produkte und einen exzellenten Service bieten zu dürfen.
                        </p>
                     </div>

                  </section>
                  <section id="content2">
                     <div>
                        <h3>Zahlungsbedingungen</h3>
                        <p>Vielen Dank für Ihren Einkauf in meinem eBay-Shop! Hier finden Sie alle wichtigen
                           Informationen zu den Zahlungsbedingungen:</p>

                        <p><b>Zahlungsmethode:</b> Wir akzeptieren ausschließlich PayPal als sichere und zuverlässige
                           Zahlungsmethode.</p>

                        <p><b>Vorteile von PayPal:</b> Schnelle Abwicklung, Käuferschutz und weltweite Akzeptanz.</p>

                        <p><b>Zahlungszeitpunkt:</b> Bitte begleichen Sie den Kaufbetrag innerhalb von 3 Tagen nach
                           Kaufabschluss, um Verzögerungen beim Versand zu vermeiden.</p>

                        <p><b>Transaktionssicherheit:</b> Ihre Zahlungen werden verschlüsselt verarbeitet und bieten
                           höchsten Schutz für Käufer und Verkäufer.</p>

                        <p>Bei Fragen zu den Zahlungsbedingungen stehe ich Ihnen jederzeit gerne zur Verfügung.</p>
                     </div>

                  </section>
                  <section id="content3">

                     <div>
                        <h3>Versandbedingungen</h3>
                        <p>Vielen Dank für Ihren Einkauf in meinem eBay-Shop! Um einen reibungslosen Ablauf zu
                           gewährleisten, möchte ich Sie über meine Versandbedingungen informieren:</p>

                        <p><b>Versandkosten:</b> Die Versandkosten sind bei jedem Artikel angegeben. Sie sind entweder
                           im Kaufpreis enthalten oder werden separat ausgewiesen.</p>

                        <p><b>Versandzeit:</b> In der Regel versende ich die Artikel innerhalb von 1–3 Werktagen nach
                           Zahlungseingang. Die Lieferzeit hängt vom Versanddienstleister und Ihrer Adresse ab und
                           beträgt in der Regel 3–7 Werktage.</p>

                        <p><b>Versandarten:</b> Ich versende mit DHL, Hermes oder der Deutschen Post. Falls Sie eine
                           bestimmte Versandart wünschen, kontaktieren Sie mich bitte vor dem Kauf.</p>

                        <p><b>Internationaler Versand:</b> Die Kosten und Lieferzeiten für den internationalen Versand
                           können variieren. Bitte beachten Sie die entsprechenden Angaben in der Artikelbeschreibung.
                        </p>

                        <p><b>Verlust und Beschädigung:</b> Für Verlust oder Beschädigung während des Transports
                           übernehme ich keine Haftung. Bitte prüfen Sie die Ware bei Erhalt sorgfältig und melden Sie
                           Schäden umgehend.</p>

                        <p><b>Lieferadresse:</b> Bitte stellen Sie sicher, dass die Lieferadresse korrekt ist. Der
                           Versand erfolgt ausschließlich an die bei eBay hinterlegte Adresse.</p>

                        <p>Bei Fragen zu den Versandbedingungen stehe ich Ihnen jederzeit gerne zur Verfügung. Ich freue
                           mich auf Ihren Einkauf!</p>
                     </div>

                  </section>

                  <section id="content4">
                     <div>
                        <h3>Rückgaberecht</h3>
                        <p>Vielen Dank für Ihren Einkauf in meinem eBay-Shop! Um sicherzustellen, dass Sie mit Ihrem
                           Kauf zufrieden sind, möchte ich Sie über mein Rückgaberecht informieren:</p>

                        <p><b>Widerrufsrecht:</b> Sie haben das Recht, innerhalb von 14 Tagen ohne Angabe von Gründen
                           vom Kauf zurückzutreten. Diese Frist beginnt an dem Tag, an dem Sie oder ein von Ihnen
                           benannter Dritter die Ware in Besitz genommen haben.</p>

                        <p><b>Widerrufsformular:</b> Bitte teilen Sie mir Ihren Widerruf schriftlich mit (z. B. per
                           E-Mail). Ein Muster-Widerrufsformular ist auf Anfrage oder bei eBay erhältlich.</p>

                        <p><b>Rücksendung:</b> Nach dem Widerruf sind Sie verpflichtet, die Ware innerhalb von 14 Tagen
                           zurückzusenden. Die Rücksendekosten tragen Sie selbst, sofern die Ware einwandfrei und
                           unbenutzt ist. Bitte verwenden Sie nach Möglichkeit die Originalverpackung.</p>

                        <p><b>Zustand der Ware:</b> Die Ware sollte unbenutzt, unbeschädigt und in der
                           Originalverpackung zurückgesendet werden. Bei Anzeichen von Gebrauch oder Beschädigung
                           behalte ich mir das Recht vor, Wertersatz zu verlangen.</p>

                        <p><b>Rückerstattung:</b> Nach Erhalt und Prüfung der Rücksendung erstatte ich den Kaufpreis
                           einschließlich der bereits gezahlten Versandkosten innerhalb von 14 Tagen auf das von Ihnen
                           angegebene Konto.</p>

                        <p><b>Ausnahmen:</b> Das Widerrufsrecht gilt nicht für versiegelte Waren, die aus Gründen des
                           Gesundheitsschutzes oder der Hygiene nicht zur Rückgabe geeignet sind, wenn ihre Versiegelung
                           entfernt wurde.</p>

                        <p>Bei Fragen zum Rückgaberecht stehe ich Ihnen gerne zur Verfügung. Mir ist wichtig, dass Sie
                           mit Ihrem Kauf zufrieden sind!</p>
                     </div>

                  </section>

                  <section id="content5">
                     <p></p>
                  </section>
               </main>
            </div>
            <div class="mobile-tab">
               <ul class="accordion css-accordion">
                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-1">
                     <label for="item-1" class="accordion-item-hd">Über uns<span
                           class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">
                        <div>
                           <h3>Über uns</h3>
                           <p>Willkommen in unserem eBay-Shop! Hier erfahren Sie mehr über uns und unser Angebot:</p>

                           <p><b>Sortiment:</b> Wir bieten eine sorgfältig ausgewählte Kollektion von klassischen,
                              eleganten Armbanduhren bis hin zu modernen Smartwatches.</p>

                           <p><b>Auswahl & Übersicht:</b> Unser Sortiment ist klar nach Marke, Stil und Preiskategorie
                              geordnet, um Ihnen die Auswahl zu erleichtern.</p>

                           <p><b>Produktinformationen:</b> Detaillierte Beschreibungen, Kundenbewertungen und
                              hochwertige
                              Produktbilder unterstützen Sie bei Ihrer Kaufentscheidung.</p>

                           <p><b>Kundenvorteile:</b> Sichere Zahlungsmethoden, schneller Versand und flexible
                              Rückgabemöglichkeiten gehören zu unserem Standard.</p>

                           <p><b>Verkäuferdetails:</b>
                              Standort: Deutschland<br>
                              Registriert seit: 19. Mai 2025<br>
                              Verkäufername: tonidiscounter-de<br>
                              Antwortzeit: Innerhalb von 12 Stunden
                           </p>

                           <p><b>Unternehmensinformationen:</b>
                              Firmenname: Sultan Khan<br>
                              Vorname: Sultan<br>
                              Nachname: Khan<br>
                              Adresse: Gernsheimer Str. 142, 64319 Pfungstadt, Deutschland<br>
                              Telefon: +49 17663297526<br>
                              E-Mail: info@tonidiscounter.de<br>
                              USt-IdNr.: DE 350085355
                           </p>

                           <p>Wir freuen uns, Ihnen hochwertige Produkte und einen exzellenten Service bieten zu dürfen.
                           </p>
                        </div>
                     </div>

                  </li>
                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-2">
                     <label for="item-2" class="accordion-item-hd">Zahlung<span
                           class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">
                        <div>
                           <h3>Zahlungsbedingungen</h3>
                           <p>Vielen Dank für Ihren Einkauf in meinem eBay-Shop! Hier finden Sie alle wichtigen
                              Informationen zu den Zahlungsbedingungen:</p>

                           <p><b>Zahlungsmethode:</b> Wir akzeptieren ausschließlich PayPal als sichere und zuverlässige
                              Zahlungsmethode.</p>

                           <p><b>Vorteile von PayPal:</b> Schnelle Abwicklung, Käuferschutz und weltweite Akzeptanz.</p>

                           <p><b>Zahlungszeitpunkt:</b> Bitte begleichen Sie den Kaufbetrag innerhalb von 3 Tagen nach
                              Kaufabschluss, um Verzögerungen beim Versand zu vermeiden.</p>

                           <p><b>Transaktionssicherheit:</b> Ihre Zahlungen werden verschlüsselt verarbeitet und bieten
                              höchsten Schutz für Käufer und Verkäufer.</p>

                           <p>Bei Fragen zu den Zahlungsbedingungen stehe ich Ihnen jederzeit gerne zur Verfügung.</p>
                        </div>
                     </div>
                  </li>
                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-3">
                     <label for="item-3" class="accordion-item-hd">Versand<span
                           class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">

                        <h3>Versandbedingungen</h3>
                        <p>Vielen Dank für Ihren Einkauf in meinem eBay-Shop! Um einen reibungslosen Ablauf zu
                           gewährleisten, möchte ich Sie über meine Versandbedingungen informieren:</p>

                        <p><b>Versandkosten:</b> Die Versandkosten sind bei jedem Artikel angegeben. Sie sind
                           entweder
                           im Kaufpreis enthalten oder werden separat ausgewiesen.</p>

                        <p><b>Versandzeit:</b> In der Regel versende ich die Artikel innerhalb von 1–3 Werktagen nach
                           Zahlungseingang. Die Lieferzeit hängt vom Versanddienstleister und Ihrer Adresse ab und
                           beträgt in der Regel 3–7 Werktage.</p>

                        <p><b>Versandarten:</b> Ich versende mit DHL, Hermes oder der Deutschen Post. Falls Sie eine
                           bestimmte Versandart wünschen, kontaktieren Sie mich bitte vor dem Kauf.</p>

                        <p><b>Internationaler Versand:</b> Die Kosten und Lieferzeiten für den internationalen
                           Versand
                           können variieren. Bitte beachten Sie die entsprechenden Angaben in der
                           Artikelbeschreibung.
                        </p>

                        <p><b>Verlust und Beschädigung:</b> Für Verlust oder Beschädigung während des Transports
                           übernehme ich keine Haftung. Bitte prüfen Sie die Ware bei Erhalt sorgfältig und melden
                           Sie
                           Schäden umgehend.</p>

                        <p><b>Lieferadresse:</b> Bitte stellen Sie sicher, dass die Lieferadresse korrekt ist. Der
                           Versand erfolgt ausschließlich an die bei eBay hinterlegte Adresse.</p>

                        <p>Bei Fragen zu den Versandbedingungen stehe ich Ihnen jederzeit gerne zur Verfügung. Ich
                           freue
                           mich auf Ihren Einkauf!</p>

                     </div>
                  </li>
                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-4">
                     <label for="item-4" class="accordion-item-hd">Rückgaberecht<span
                           class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">

                        <h3>Rückgaberecht</h3>
                        <p>Vielen Dank für Ihren Einkauf in meinem eBay-Shop! Um sicherzustellen, dass Sie mit Ihrem
                           Kauf zufrieden sind, möchte ich Sie über mein Rückgaberecht informieren:</p>

                        <p><b>Widerrufsrecht:</b> Sie haben das Recht, innerhalb von 14 Tagen ohne Angabe von Gründen
                           vom Kauf zurückzutreten. Diese Frist beginnt an dem Tag, an dem Sie oder ein von Ihnen
                           benannter Dritter die Ware in Besitz genommen haben.</p>

                        <p><b>Widerrufsformular:</b> Bitte teilen Sie mir Ihren Widerruf schriftlich mit (z. B. per
                           E-Mail). Ein Muster-Widerrufsformular ist auf Anfrage oder bei eBay erhältlich.</p>

                        <p><b>Rücksendung:</b> Nach dem Widerruf sind Sie verpflichtet, die Ware innerhalb von 14 Tagen
                           zurückzusenden. Die Rücksendekosten tragen Sie selbst, sofern die Ware einwandfrei und
                           unbenutzt ist. Bitte verwenden Sie nach Möglichkeit die Originalverpackung.</p>

                        <p><b>Zustand der Ware:</b> Die Ware sollte unbenutzt, unbeschädigt und in der
                           Originalverpackung zurückgesendet werden. Bei Anzeichen von Gebrauch oder Beschädigung
                           behalte ich mir das Recht vor, Wertersatz zu verlangen.</p>

                        <p><b>Rückerstattung:</b> Nach Erhalt und Prüfung der Rücksendung erstatte ich den Kaufpreis
                           einschließlich der bereits gezahlten Versandkosten innerhalb von 14 Tagen auf das von Ihnen
                           angegebene Konto.</p>

                        <p><b>Ausnahmen:</b> Das Widerrufsrecht gilt nicht für versiegelte Waren, die aus Gründen des
                           Gesundheitsschutzes oder der Hygiene nicht zur Rückgabe geeignet sind, wenn ihre Versiegelung
                           entfernt wurde.</p>

                        <p>Bei Fragen zum Rückgaberecht stehe ich Ihnen gerne zur Verfügung. Mir ist wichtig, dass Sie
                           mit Ihrem Kauf zufrieden sind!</p>

                     </div>
                  </li>
                  <li class="accordion-item">
                     <input class="accordion-item-input" type="radio" name="accordion" id="item-5">
                     <label for="item-5" class="accordion-item-hd"><a
                           href="https://www.ebay.de/str/tonidiscounterdeutschland?_tab=feedback"
                           target="_blank">Bewertungen</a><span class="accordion-item-hd-cta"></span></label>
                     <div class="accordion-item-bd">
                        <p></p>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="bannerprom_wapper">
      <div class="container">
         <div class="row">
         </div>
      </div>
   </div>
   <footer class="footer_main_wapper">
      <div class="newsletter_footer_wapper">
         <div class="container">
            <div class="newsletter_footer">
               <div class="row align-items-center">
                  <div class="col-md-9">
                     <div class="newsletter_icon"> <img class="img-fluid" src="images/newsletter_icon.png" alt="">
                     </div>
                     <div class="newsletter_titel">WERDEN SIE MITGLIED BEI
                        The Trading Bear <span>Erhalten Sie wichtige Informationen, Angebote und melden Sie sich für
                           unseren Newsletter an.</span>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="newsletter_btn"> <a href="https://www.ebay.de/str/tonidiscounterdeutschland"
                           target="_blank"> </a> </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="store_footer_wapper">
         <div class="container">
            <div class="row row-eq-height">
               <div class="col-md-3">
                  <div class="footer_block">
                     <div class="footer_logo">
                        <a href="https://www.ebay.de/str/tonidiscounterdeutschland" target="_blank">
                           <img class="footer-logo-main" src="images/logo.png" alt="">
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="footer_block">
                     <div class="footer_block_titel">Nützliche Links</div>
                     <div class="footer_menu">
                        <ul>
                           <li><a target="_blank"
                                 href="https://www.ebay.de/str/tonidiscounterdeutschland">Startseite</a></li>
                           <li><a target="_blank"
                                 href="https://www.ebay.de/str/tonidiscounterdeutschland?_tab=about">Über uns</a></li>
                           <li><a target="_blank"
                                 href="https://www.ebay.de/cnt/intermediatedFAQ?requested=tonidiscounter-de">Kontakt</a>
                           </li>
                           <li><a target="_blank"
                                 href="https://www.ebay.de/str/tonidiscounterdeutschland?_tab=feedback">Bewertungen</a>
                           </li>
                        </ul>

                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="footer_block">
                     <div class="footer_block_titel">Zahlungsarten</div>
                     <div class="footer_payment">
                        <img
                           src="https://rsweblabs.com/wp-content/uploads/ebay/the-trading-bear/images/footer_payment.png"
                           class="img-fluid">
                     </div>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="footer_block">
                     <div class="footer_block_titel">Sicheres Einkaufen</div>
                     <div class="footer_payment2 text-center">
                        <img
                           src="https://rsweblabs.com/wp-content/uploads/ebay/the-trading-bear/images/footer_payment2.png"
                           class="img-fluid t-star" width="70%">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="footer_bottom">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-md-6">
                  <div class="store_copyright"> © Copyright 2025, <a target="_blank"><span>
                           Toni Discounter Deutschland </span></a>
                     All rights reserved. </div>
               </div>
               <div class="col-md-6">
                  <div class="designby">
                     <h6 style="color:#000">Design by <span style="color:#7a1cac;">RS WebLabs</span> </h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
</div>