<!DOCTYPE html>
<html>
<head>
              <meta name="viewport" content="width=device-width, initial-scale=1">
               <meta http-equiv="content-type" content="text/html; charset=utf-8">
               <meta http-equiv="X-UA-Compatible" content="IE=edge">
               <link rel="stylesheet" href="min.css">
               <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
               <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
               <link rel="stylesheet" type="text/css" href="style.css">
               <title></title>
</head>
<body>
               <div class="container-fluid bg" align="center">
                  <div class="container">
                     <div class="row headerfix">
                        <a class="headerlogo" target="_blank"><img src="images/logo.png"></a> 
                        <div class="row hidden-sm hidden-xs">
                           <div class="col-md-5 hidden-sm"></div>
                        </div>
                        <br> <br> <br> 
                     </div>
                     <div class="row">
                        <div class="col-md-12 menubar">
                           <ul class="menu hidden-xs hidden-sm">
                              <li><a href="#" target="_blank">Home</a></li>
                              <li><a href="#" target="_blank">About Us</a></li>
                              <li><a href="#" target="_blank">Feedback</a></li>
                              <li><a href="#" target="_blank">Newsletter</a></li>
                              <li><a href="#" target="_blank">Contact Us</a></li>
                           </ul>
                           <ul class="resmenu hidden-md hidden-lg">
                              <li><a href="#" target="_blank"><i class="fa fa-home"></i></a><br> </li>
                              <li><a href="#" target="_blank"><i class="fa fa-user"></i></a><br> </li>
                              <li><a href="#" target="_blank"><i class="fa fa-star"></i></a><br> </li>
                              <li><a href="#" target="_blank"><i class="fa fa-bookmark"></i></a><br> </li>
                              <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a><br> </li>
                           </ul>
                        </div>
                     </div>
                     <div class="row allcontent">
                        <div class="col-md-10 col-md-push-2 maincontent">
                           <div class="row box">
                              <div class="col-md-6 artpic">
                                 <div class="image-gallery">
                                    <div class="big-image">
                                    <img id="image1" src="https://i.ebayimg.com/images/g/IAUAAOSw5iNenGd5/s-l1600.jpg" class="img-responsive">
                                    <img id="image2" src="https://i.ebayimg.com/images/g/PoAAAOSwCg9elGI-/s-l1600.jpg" class="img-responsive">
                                    <img id="image3" src="https://via.placeholder.com/1000.jpg" class="img-responsive">
                                    <img id="image4" src="https://via.placeholder.com/1000.jpg" class="img-responsive">
                                    <img id="default" src="https://i.ebayimg.com/images/g/IAUAAOSw5iNenGd5/s-l1600.jpg" class="img-responsive"></div>
                                    <div class="thumbs">
                                       <ul>
                                          <li><a href="#">
                                             <img src="https://i.ebayimg.com/images/g/IAUAAOSw5iNenGd5/s-l1600.jpg" class="img-responsive"></a></li>
                                          <li><a href="#">
                                             <img src="https://i.ebayimg.com/images/g/IAUAAOSw5iNenGd5/s-l1600.jpg" class="img-responsive"></a></li>
                                          <li><a href="#">
                                             <img src="images/800x600.jpg" class="img-responsive"></a></li>
                                          <li><a href="#">
                                             <img src="images/images.jpg" class="img-responsive"></a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6 artdesc">
                                 <h1>I Will Give You 3500+ Turnkey Websites And PHP Scripts With Resell Rights</h1>
                                 <p>I Will Give You 3500+ Turnkey Websites And PHP Scripts With Resell Rights</p>
                                 <h3><p>$20</p></h3>
                                 <a class="sk" href="" target=""><i class="fa fa-shopping-cart"></i> Buy it Now</a> &nbsp;<a class="be" href="https://www.ebay.com/sch/pchelpz90/m.html?_nkw=&_armrs=1&_ipg=&_from=" target="_blank"><i class="fa fa-plus-circle"></i> Watch Items</a><a class="fs" href="https://signin.ebay.com/ws/eBayISAPI.dll?SignIn&UsingSSL=1&pUserId=&co_partnerId=2&siteid=0&ru=https%3A%2F%2Fcontact.ebay.com%2Fws%2FeBayISAPI.dll%3FShowSellerFAQ%26_trksid%3Dp2047675.l1499%26frm%3D284%26rt%3Dnc%26iid%3D353048170346%26ssPageName%3DPageSellerM2MFAQ_VI%26%26redirect%3D0%26requested%3Dpchelpz90%26guest%3D1&pageType=4901" target="_blank"><i class="fa fa-question-circle"></i> Ask a Question</a>
                              </div>
                           </div>
                           <div class="tabs">
                              <input name="tabs" id="tab1" checked="" type="radio"> <label for="tab1"><span>About</span></label> <input name="tabs" id="tab2" type="radio"> <label for="tab2"><span>Payment</span></label> <input name="tabs" id="tab3" type="radio"> <label for="tab3"><span>Delivery</span></label> <input name="tabs" id="tab4" type="radio"> <label for="tab4"><span>Returns</span></label> 
                              <div id="tab-content1" class="tab-content">
                                 <div class="row">
                                    <div class="col-sm-6"></div>
                                    <div class="col-md-12">
                                       <p>customer satisfaction is my best.<br><br> Dear Friends Ask me any thing till you satisfiy.</p>
                                    </div>
                                 </div>
                              </div>
                              <div id="tab-content2" class="tab-content">
                                 <br> 
                                 <h1>Payment Information</h1>
                                 <p>We accept PayPal payment.</p>
                              </div>
                              <div id="tab-content3" class="tab-content">
                                 <br> 
                                 <h1>Shipping Information</h1>
                                 <p>We provide fast and economic shipping.</p>
                              </div>
                              <div id="tab-content4" class="tab-content">
                                 <br> 
                                 <h1>Returns Information</h1>
                                 <p>30 days return buyer pays for return shipping.</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-2 col-md-pull-10 sidebar">
                           <h1>Store Categories</h1>
                           <ul class="kategorien">
                              <li><a href="#">Business & Industrial</a></li>
                              <li><a href="#">Internet Businesses<br> & Websites for Sale</a></li>
                              <li><a href="#">Marketing<br> Businesses for Sale</a></li>
                              <li><a href="#">Specialty Services</a></li>
                              <li><a href="#">Graphic & Logo<br> Design Services</a></li>
                              <li><a href="#">Other Web<br> & Computer Services</a></li>
                           </ul>
                           <br> 
                           <h2>Shipping</h2>
                           <p><img src="https://e-commerceguru.com/clients/dinoperera786/img/shipping.png" style="width:100%;"></p>
                           <br> 
                           <h2>Payment Methods</h2>
                           <p><img src="https://s20.postimg.cc/iue0vscb1/paypal_logo.png" style="width:100%;"></p>
                           <br> 
                           
                        </div>
                     </div>
                     <div class="row footer">
                        <div class="col-md-3">
                           <h1>Links</h1>
                           <ul>
                              <li><a href="#" target="_blank" title="About Us">About Us</a></li>
                              <li><a href="#" target="_blank" title="Feedback">Feedback</a></li>
                              <li><a href="#" target="_blank" title="Add Us">Add Us</a></li>
                              <li><a href="#" target="_blank" title="Newsletter">Newsletter</a></li>
                              <li><a href="#" target="_blank" title="Contact Us">Contact</a></li>
                           </ul>
                        </div>
                        <div class="col-md-3">
                           <h1>Contact Us</h1>
                           <p style="color:#fff">If you have any concerns or questions, please do not hesitate to contact us through ebay messages only.</p>
                        </div>
                        <div class="col-md-3">
                           <h1>Newsletter</h1>
                           <p style="color:#fff">Subscribe to our newsletter and keep in touch via e-mail about new offers, promotions or other news.</p>
                           <a class="newsletter" href="#" target="_blank"><i class="fa fa-envelope-o fa-fw"></i> Subscribe to Newsletter</a>
                        </div>
                        <div class="col-md-3 text-left">
                           <h1>Payments</h1>
                           <p style="color:#fff">Secure Payments by</p>
                           <img src="https://e-commerceguru.com/clients/love3/temp/img/paypal.png">
                        </div>
                     </div>
                     
                  </div>
               </div>
               
</body>
</html>